.card {
  &-image {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 2rem;

    & figure {
        position: relative;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 0;
    }

    &-content {
      border: 0 none;
      background: initial;
      display: block;
      text-align: center;

      & h4 {
        color: var(--light-color);
        font-weight: 500;
        margin-top: 8px;
        margin-bottom: 12px;
        font-size: 1.2rem;
      }
    }
  }

  &-title {
    position: absolute;
    left: 1.8rem;
    top: 1.2rem;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    & h3 {
      color: var(--light-color);
      margin: 0 0 .46667rem;
      font-size: 1.33rem;

      @media (max-width: 1var(--container-width)) {
        font-size: calc(1.158rem + .096vw);
      }
    }

    & p {
      margin: 0;
      color: var(--light-color);
      line-height: 1.8rem;
    }

    @media(max-width: 800px) {
      left: 1.5rem;
      top: 1rem;
    }

    @media(max-width: 700px) and (min-width: 620px) {
      left: 1.2rem;
      top: .8rem;
    }

    @media(max-width: 415px) {
      left: 1.2rem;
      top: .8rem;
    }
  }
}

.col-lg-6 {
  max-width: 545px;
  @media(max-width: 1190px) { max-width: 450px }
  @media(max-width: 1000px) { max-width: 400px }
  @media(max-width: 905px) { max-width: 350px }
  @media(max-width: 800px) { max-width: 300px }
  @media(max-width: 700px) { max-width: 250px }
  @media(max-width: 620px) {
    width: 100%;
    max-width: 100%;
  }

  @media(max-width: 550px) {
   padding-right: 3px;
   padding-left: 3px;
  }
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

figure { margin: 0 0 1rem }

figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(45deg,rgba(245,84,142,.85),rgba(144,58,249,.85));
    background: -o-linear-gradient(45deg,rgba(245,84,142,.85),rgba(144,58,249,.85));
    background: linear-gradient(45deg,rgba(245,84,142,.85),rgba(144,58,249,.85));
    z-index: -1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
  }

  &:hover::before {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    .category-badge {
      background: var(--bg-color);
      color: black;
    }
  }
}

.overlay-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-timing-function: cubic-bezier(.14,.6,.83,.67);
  -o-transition-timing-function: cubic-bezier(.14,.6,.83,.67);
  transition-timing-function: cubic-bezier(.14,.6,.83,.67);
  z-index: 1;
  background: rgba(23,27,46,.3);
}
