.card {
  &-image {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 2rem;

    & figure {
        position: relative;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 0;
    }

    &-content {
      border: 0 none;
      background: initial;
      display: block;
      text-align: center;

      & h4 {
        color: var(--light-color);
        font-weight: 500;
        margin-top: 8px;
        margin-bottom: 12px;
        font-size: 1.2rem;
      }
    }
  }

  &-title {
    position: absolute;
    left: 1.8rem;
    top: 1.2rem;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    & h3 {
      color: var(--light-color);
      margin: 0 0 .46667rem;
      font-size: 1.33rem;

      @media (max-width: 1var(--container-width)) {
        font-size: calc(1.158rem + .096vw);
      }
    }

    & p {
      margin: 0;
      color: var(--light-color);
      line-height: 1.8rem;
    }

    @media(max-width: 800px) {
      left: 1.5rem;
      top: 1rem;
    }

    @media(max-width: 700px) and (min-width: 620px) {
      left: 1.2rem;
      top: .8rem;
    }

    @media(max-width: 415px) {
      left: 1.2rem;
      top: .8rem;
    }
  }
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

figure { margin: 0 0 1rem }

