<app-content-box title="SETTINGS"
                 icon="settings">
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{'LANGUAGE' | translate}}</mat-label>  <!-- LANGUAGE -->
        <mat-select formControlName="language">
          <mat-option *ngFor="let l of languages"
                       [value]="l.selector"
                       role="option">
            {{l.translate | translate}}
            <img [src]="(l.selector | image: 'flags') + '.svg'"/>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{'THEME.NAME' | translate}}</mat-label>   <!-- THEME -->
        <mat-select formControlName="theme">
          <mat-option *ngFor="let t of themes"
                      [value]="t.selector"
                      role="option">
            {{t.translate | translate}}
            <span [class]="'theme-sample ' + t.selector"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{'EMAIL' | translate}}</mat-label>   <!-- EMAIL -->
        <mat-select formControlName="email">
          <mat-option *ngFor="let e of show"
                      [value]="e.show"
                      role="option">
            {{e.text | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{'CHAT.BUTTON' | translate}}</mat-label>   <!-- CHAT -->
        <mat-select formControlName="chat">
          <mat-option *ngFor="let c of show"
                      [value]="c.show"
                      role="option">
            {{c.text | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{'VISUAL' | translate}}</mat-label>   <!-- VISUAL -->
        <mat-select formControlName="visual">
          <mat-option *ngFor="let v of visual"
                      [value]="v.show"
                      role="option">
            {{v.text | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button type="submit"
              mat-button
              aria-label="Save"
              class="btn-pink">{{'APPLY' | translate}}
      </button>
    </form>
</app-content-box>
