mat-form-field, button {
  width: 100%;
  @media(max-width: 992px) and (min-width: 700px) {
    max-width: 31%;
  }
}

button { margin: .6rem 0 0 auto }

form {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: .5rem;
}

.theme-sample {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
}

.default { background: #f5548e }
.deepblue { background: #000E5C }
.deepgreen { background: #036103 }
.darkred { background: #700808 }
.skyblue { background: #1badad }
.superorange { background: #ff5100; }
