mat-form-field, button {
  width: 100%;
  @media(max-width: 993px) and (min-width: 700px) {
    max-width: 48%;
  }
}

button { margin: .6rem 0 0 auto }

form {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: .5rem;
}

@media(max-width: 993px) and (min-width: 700px) {
  button {
    position: relative;
    top: 2px;
    margin: 0;
    height: 44px;
  }

  form { margin-bottom: -.9rem }
}

mat-form-field {
  margin-bottom: .3rem;
  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.theme-sample {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
}

img {
  position: absolute;
  right: 1rem;
  margin-top: .5rem;
  width: 30px;
  height: auto;
  border-radius: 4px;
}

.default { background: #f5548e }
.deepblue { background: #000E5C }
.deepgreen { background: #036103 }
.darkred { background: #700808 }
.skyblue { background: #1badad }
.superorange { background: #ff5100; }
