p {
  margin: 0;
  margin-bottom: 5px;
  color: var(--p-color);
}

ul {
  list-style-type: circle;
  padding-left: var(--big-padding);
  margin: 0 auto;
  margin-bottom: 0;
}

li:not(p) {
  color: black;
  margin-top: var(--big-padding);
  outline: none;
  &:first-child { margin-top: 0 }

  &:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
}

h2 {
  font-size: 24px;
  @media(min-width: 1280px) { font-size: 35px }
  margin-bottom: 2.5rem;
  margin-top: 0;
  line-height: 1.2;
}
