<div class="search-header">
  <form [formGroup]="searchForm" #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field color="accent">  <!-- VALUE -->
        <input matInput
               placeholder="What are you looking for?"
               formControlName="title">
      </mat-form-field>
      <mat-form-field class="category" color="accent">  <!-- CATEGORY -->
        <mat-label>Select a Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let cat of caterogies" [value]="cat">
            {{cat}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="category" color="accent">  <!-- SUB -->
        <mat-label>Select a Sub Category</mat-label>
        <mat-select formControlName="code">
          <mat-option *ngFor="let cat of caterogies" [value]="cat">
            {{cat}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit"
              class="btn-purple"
              [disabled]="searchForm.invalid"
              mat-button>
        Search
      </button>
    </div>
  </form>
</div>
