<div class="navbar-wrapper">
  <div class="navbar-menu">
    <ul>
      <li *ngFor="let i of items"
          [routerLink]="i.link"
          routerLinkActive="active">  <!-- MENU LIST -->
        <button class="hvr-underline-from-left"
                mat-button>{{i.name}}
        </button>
      </li>
      <li>
        <button mat-button
                class="navbar-menu-btn"
                [matMenuTriggerFor]="menu"
                (click)="collapse = !collapse">  <!-- MENU BUTTON -->
            Menú
          <span [ngClass]="{'collapsed' : collapse}"
                class="navbar-menu-dropdown">&#x25BC;
          </span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</div>


