h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

ul {
  padding-left: 1rem;
  list-style-type: circle;
  margin-bottom: 0;

  & li {
    color: var(--p-color);
    & .black { margin-right: .2rem }
  }
}

.defined {
  color:var(--primary-color);
}

.slash { font-weight: normal !important }



