<div class="row">
  <div class="col-lg-6 intro">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod exercitationem dicta non quia suscipit
    quae necessitatibus est amet eligendi reiciendis voluptatum ut, eum sequi eos.<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod exercitationem dicta non quia suscipit
    quae necessitatibus est amet eligendi reiciendis voluptatum ut, eum sequi eos.
  </div>
  <div class="col-lg-6">
    <img src="assets/img/frontend.jpg"/>
  </div>
</div>
