<div class="row">
  <div class="col-lg-6 col-md-6 intro">
    Me llamo Sergio Martínez y soy el <strong>creador</strong> de este sitio. Mi idea era tener un espacio
    propio donde compartir mi conocimiento sobre programación haciendo uso de las
    tecnologias que sé utilizar.<br> Acompáñame para conocer un poco mejor
    a la persona que hay detrás de todo esto. Cabe destacar que el sistema está construido
    totalmente <strong>desde cero</strong>, sin utilizar librerías de gestión de contenido u otro
    software parecido.
  </div>
  <div class="col-lg-6 col-md-6 image">
    <img src="assets/img/frontend.jpg"/>
  </div>
</div>
