* { box-sizing: border-box }

.row {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
 }

img {
  max-width: 100%;
  margin-left: 1rem;
  margin-top: -1.2rem;
}

.col-lg-6 {
  max-width: 576px;

  @media(max-width: 550px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media(max-width: 992px) {
    max-width: 100% !important;
    width: 100%;

    & img {
      margin: 2rem auto 0;
      display: block;
    }
  }
}

h3 { margin-top: 0 }

.image {
  @media(max-width: 992px) {
    display: none;
  }
}

.intro {
  margin-top: .5rem;
    @media(max-width: 550px) {
      margin-top: 0;
    }
}
