<ng-container *ngIf="(entry$ | async) as entry">
  <app-content-box [title]="entry.title" icon="fact_check">
    <div class="category">
      <img [alt]="entry.category"
           [src]="(entry.category | logo) | image:'logos'">
      <div>
        <p>
          <span>{{entry.category}}</span>
          <br>
          <strong>{{'LEVEL.NAME' | translate}}:</strong>
          {{entry.level | translate}}
        </p>
      </div>
    </div>
    <p class="info" [innerHTML]="entry.message"></p>

    <app-test-stepper [entry]="entry"
                      (completed)="onCompleted($event)">
    </app-test-stepper>
  </app-content-box>
</ng-container>



