p {
  margin-top: -.5rem;
  margin-bottom: 1.8rem;
  color: var(--p-color) !important;
  & span {
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.category {
  margin-top: .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

   & img {
     width: 50px;
     margin: 0 1rem 2rem -.3rem;
   }
}

.info { margin-top: -.2rem !important }
br { margin-top: 3px }
