.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;

   & img {
     width: 50px;
     position: relative;
     top: -4px;
   }
}

span {
  color: var(--p-color) !important;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
  top: 1px;
}

.right {
  width: 100%;
  margin-left: 1.666rem;
}

.info {
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}
