<div id="cat-examples">
    <app-content-box title="Ejemplos"
                    icon="code">
        <p>Excepteur sint occaecat cupidatat non proident, sunt in
        culpa kequi officia deserunt mollit anim id est laborum.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusan tium dolorem que laudantium, totam rem aperiam the
        eaque ipsa quae abillo was inventore veritatis keret quasi
        aperiam architecto beatae vitae dicta sunt explicabo.
        <br>
        Excepteur sint occaecat cupidatat non proident, sunt in
        culpa kequi officia deserunt mollit anim id est laborum.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusan tium dolorem que laudantium, totam rem aperiam the
        eaque ipsa quae abillo was inventore veritatis keret quasi
        aperiam architecto beatae vitae dicta sunt explicabo.
        <br>
        Excepteur sint occaecat cupidatat non proident, sunt in
        culpa kequi officia deserunt mollit anim id est laborum.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusan tium dolorem que laudantium, totam rem aperiam the
        eaque ipsa quae abillo was inventore veritatis keret quasi
        aperiam architecto beatae vitae dicta sunt explicabo.
        <br>
        Excepteur sint occaecat cupidatat non proident, sunt in
        culpa kequi officia deserunt mollit anim id est laborum.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusan tium dolorem que laudantium, totam rem aperiam the
        eaque ipsa quae abillo was inventore veritatis keret quasi
        aperiam architecto beatae vitae dicta sunt explicabo.
        <br>
        Excepteur sint occaecat cupidatat non proident, sunt in
        culpa kequi officia deserunt mollit anim id est laborum.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusan tium dolorem que laudantium, totam rem aperiam the
        eaque ipsa quae abillo was inventore veritatis keret quasi
        aperiam architecto beatae vitae dicta sunt explicabo.
        <br>
        Excepteur sint occaecat cupidatat non proident, sunt in
        culpa kequi officia deserunt mollit anim id est laborum.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusan tium dolorem que laudantium, totam rem aperiam the
        eaque ipsa quae abillo was inventore veritatis keret quasi
        aperiam architecto beatae vitae dicta sunt explicabo.
        <br>
        Excepteur sint occaecat cupidatat non proident, sunt in
        culpa kequi officia deserunt mollit anim id est laborum.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusan tium dolorem que laudantium, totam rem aperiam the
        eaque ipsa quae abillo was inventore veritatis keret quasi
        aperiam architecto beatae vitae dicta sunt explicabo.</p>
    </app-content-box>
</div>

