<div class="wrapper animated fadeIn">
  <ng-container *ngIf="inbox; else noInbox">
    <app-inbox-header [inbox]="inbox"></app-inbox-header>
    <ng-container *ngIf="show">  <!-- MESSAGE -->

      <div class="wrapper-messages"
           *ngIf="show">
           <div class="subject">
            <h5>{{inbox.subject}}</h5>
          </div>
        <app-inbox-reply *ngFor="let m of inbox.messages.reverse(); let last = last"
                          [inbox]="m"
                          [last]="last"
                          [user]="user">
        </app-inbox-reply>
      </div>
    </ng-container>
    <app-inbox-footer [inbox]="inbox"
                      (marked)="mark($event)"
                      (reply)="reply()">
    </app-inbox-footer>
  </ng-container>
</div>

<ng-template #noInbox>
  <app-inbox-welcome [show]="show"
                     (new)="new()">
  </app-inbox-welcome>
</ng-template>
