<div class="code-description" *ngIf="code">
  <div>  <!-- CODE DESCRIPTION -->
    <p class="description"
       [innerHTML]="code.description | sanitizer:'html'">
    </p>
    <ul>
      <li>
        <span [ngClass]="{'basic': code.level === 'Básico',
                          'medium': code.level === 'Medio',
                          'hard': code.level === 'Avanzado'}">
                  {{code.level | translate}}
        </span>
      </li>
      <li>
        <span class="link"
              [routerLink]="'/article/' + code.from.slug">
          {{code.from.article}}
        </span>
      </li>
    </ul>
    <div class="m-t-2">
      <span class="tag-text"
            *ngFor="let t of code.tags">
          {{t | translate}}
      </span>
    </div>
  </div>
  <div class='code-box'>  <!-- CODE BOX -->
    <markdown [data]="code.code"></markdown>
  </div>
</div>




