* { user-select: text }

code {
  font-size: 1em;
  padding: .66667rem 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0;
  box-sizing: border-box;
}

code::-webkit-scrollbar {
  height: 10px;
  display: block;
}

code::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  border-radius: 5px;
}

code::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px var(--primary-color);
  box-shadow: inset 0 0 3px var(--primary-color);
}

.code-box {
  margin: 30px auto;

  &-header {
    border-radius: 5px;
    display: flex;
    align-items: center;

    & span {
      padding: .2rem .66667rem;
      background: rgba(165, 165, 165, 0.384);
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      font-size: .9rem;
     }
  }
}

.code-category {
  margin: 0 .8rem;
  cursor: pointer;
  padding: 0 5px;
}

.basic, .medium, .hard {
  margin-left: 5px;
}

.basic { color: var(--success-color) }
.medium { color: var(--ionic-color) }
.hard { color: var(--angular-color) }

.code-box span { color: #1C1D21 }
pre { margin: 0 }

@media(max-width: 550px) {
  .code-list { right: 29px !important }
  .code-category { margin-right: .4rem}
  span { font-size: .8rem !important }
  code { font-size: .9rem !important }
}

h3 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: .6667rem;
}

h4 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  @media(max-width: 650px) { font-size: 1.1rem }
}

.code-tag {
  margin-left: 5px;
  cursor: pointer;
  &:hover { color: var(--primary-color) }
 }

.color { color: var(--p-color) }

ul {
  padding-left: 20px;
  list-style-type: circle;

}



