* { user-select: text }

pre { margin: 0 }

.m-t-2 {
  margin-top: .2rem;
  display: flex;
  flex-wrap: wrap;

  & span {
    margin-right: 5px;
    margin-left: 5px;
    &:first-child { margin-left: 0 }
  }
}

.link {
  cursor: pointer;
  outline: none;
  color: var(--primary-color);
  &:hover { font-weight: bold }
}

ul {
  padding-left: 20px;
  margin-top: .6rem;
  list-style-type: disc;
}

@media(max-width: 550px) {
  span { font-size: .8rem }
  code { font-size: .85rem !important }
  .m-t-2 { margin-top: 0 }
}

.code-box {
  margin-bottom: 1rem !important;
}



