<div class="code-description" *ngIf="code">
  <div *ngIf="list">  <!-- CODE DESCRIPTION -->
    <p class="description"
       [innerHTML]="code.description | sanitizer:'html'">
    </p><br>
    <ul>
      <li>
        <span [ngClass]="{'basic': code.level === 'Básico',
                          'medium': code.level === 'Medio',
                          'hard': code.level === ' Avanzado'}">{{code.level}}
        </span>
      </li>
      <li class="m-t-4">
        <span class="link"
              [routerLink]="'/article/' + code.from.slug">
          {{code.from.article}}
        </span>
      </li>
      <li class="m-t-2">
        <span class="code-tag"
              *ngFor="let t of code.tags">
          {{t}}
        </span>
      </li>
    </ul>
  </div>
  <div class='code-box'>  <!-- CODE BOX -->
    <div class='code-box-header'>
      <span>{{code.lang}}</span>
    </div>
    <pre><code [languages]="[code.lang.toLowerCase()]"
               [highlight]="code.code"></code></pre>
  </div>
</div>




