<div class="content-box animated fadeIn"
     [ngClass]="{'content-box-no-border': border,
                 'content-box-no-margin': !margin,
                 'content-box-on-news': news,
                 'content-box-on-inbox': inbox }">
  <div class="content-box-header"
       *ngIf="title">
    <div class="content-box-title">
      <h4>
        <mat-icon *ngIf="icon">{{icon}}</mat-icon>
          {{title | translate}}
      </h4>
    </div>
  </div>
  <div class="content-box-body">
    <ng-content></ng-content>
  </div>
</div>
