.content {
  &-box {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background: var(--light-color);
    margin-bottom: 2rem;
  	border-radius: 10px;
    &-no-border {
      background: none;
      box-shadow: none;

      & .content-box-body {
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 2rem !important;
        @media(max-width: 992px) {
          padding-top: .4rem !important;
          padding-left: 1rem !important;
          padding-bottom: .8rem !important;
        }
      }
    }

    &-no-margin { margin-bottom: 0 }

    &-header {
      padding: 1rem 2rem;
      background-color: var(--new-color);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      @media(max-width: 550px) { padding: 1rem 1.2rem }
      &-modal { border-top-right-radius: 0 }

    & h4 {
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 700;
      line-height: 1.2;
      color: var(--light-color);

      & mat-icon {
        margin-right: var(--small-padding);
        color: var(--light-color);
        position: relative;
        top: 2px;
      }
     }
    }

    &-title {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-body {
      padding: 1.5rem 1.8rem;
      @media(max-width: 550px) { padding: 1.2rem }
    }
  }
}

.title {
  font-size: 1.2rem !important;
  @media(max-width: 359px) { font-size: 1rem !important }
  @media(min-width: 1080px) { font-size: 1.4rem !important }
 }
