.content {
  &-box {
    border: 1px solid var(--section-border-color);
    background: var(--light-color);
    margin-bottom: 2rem;

    &-header {
      padding: 1.1666rem 2rem;
      border-bottom: 1px solid var(--section-border-color);
      @media(max-width: 450px) { padding: 1rem 1.5rem }

    & h4 {
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 700;
      line-height: 1.2;
      color: var(--title-color);

      & mat-icon {
        margin-right: var(--small-padding) }
     }
    }

    &-title {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &-body {
      padding: 1.5rem 2rem;
      @media(max-width: 550px) { padding: 1.2rem }
    }
  }
}

.title {
  font-size: 1.2rem !important;
  @media(max-width: 359px) { font-size: 1rem !important }
  @media(min-width: 1080px) { font-size: 1.4rem !important }
 }
