<app-page-header title="all.articles"
                 subTitle="articles">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row" id="articles-section">
    <div class="col-lg-12" *ngIf="grid">  <!-- HEADER -->
      <app-articles-sort-bar (grid)="grid = $event" [active]="true">
      </app-articles-sort-bar>
    </div>
    <div *ngIf="!grid">
      <div class="col-lg-8 col-md-8" >
        <app-articles-content></app-articles-content>
      </div>
      <div class="col-lg-4 col-md-4">
        <app-articles-sort-bar (grid)="grid = $event">
        </app-articles-sort-bar>
        <app-articles-sidebar [block]="true"
                              [viewed]="true"
                              [sidebar]="true">
        </app-articles-sidebar>
      </div>
    </div>
    <div *ngIf="grid" class="col-lg-12">
      <app-articles-content [grid]="grid"></app-articles-content>
      <app-articles-sidebar [viewed]="true"></app-articles-sidebar>
    </div>
  </div>
</app-section>
