<app-page-header title="Todos los Artículos"
                 subTitle="Artículos">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-8 col-md-8" id="articles-section">
      <app-articles-content *ngIf="articles"
                            [articles]="articles">
      </app-articles-content>
      <app-loading *ngIf="!articles"></app-loading>
    </div>
    <div class="col-lg-4 col-md-4">
      <app-articles-sidebar></app-articles-sidebar>
    </div>
  </div>
</app-section>
<app-footer></app-footer>
