<app-page-header title="ALL.ARTICLES"
                 subTitle="ARTICLES">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row" id="articles-section">
    <div class="col-lg-12" *onlyMobile>  <!-- HEADER -->
      <app-articles-sort-bar (grid)="grid = $event">
      </app-articles-sort-bar>
    </div>
    <div class="col-lg-12" *ngIf="grid">
      <app-articles-sort-bar *onlyDesktop
                             (grid)="grid = $event"
                             [active]="grid">
      </app-articles-sort-bar>
    </div>
    <ng-container *ngIf="(articles$ | async) as articles">
      <div *ngIf="!grid">
        <div class="col-lg-8 col-md-8" >
          <app-articles-content [articles]="articles"></app-articles-content>
        </div>
        <div class="col-lg-4 col-md-4">
          <app-articles-sort-bar (grid)="grid = $event" *onlyDesktop>
          </app-articles-sort-bar>
          <app-articles-sidebar [block]="true"
                                [viewed]="true">
          </app-articles-sidebar>
        </div>
      </div>
      <div *ngIf="grid" class="col-lg-12">
        <app-articles-content [grid]="grid"
                              [articles]="articles">
        </app-articles-content>
        <app-articles-sidebar [viewed]="true"></app-articles-sidebar>
      </div>
    </ng-container>
  </div>
</app-section>
