p {
  margin: 0;
  margin-bottom: 5px;
  margin-top: -3px;
  color: var(--p-color);
  font-size: .8rem !important;
}

ul {
  list-style-type: circle;
  padding-left: var(--big-padding);
  margin: 0 auto;
}

li:not(p) {
  color: black;
  margin-top: .75rem;
  outline: none;
  font-size: .8rem;
  &:first-child { margin-top: 0 }
  &:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
}

.active {
  color: var(--primary-color);
  font-weight: bold;
}
