<app-content-box title="profile"
                 icon="person">
  <div class="profile-info">
    <div class="profile-data" *ngIf="user; else noUser">
      <img [src]="user.profile?.avatar || 'assets/img/profile/no-photo.jpg'"
            alt="Avatar"
            loading="lazy"/>
      <h3>{{user.name}}</h3>
      <p *ngIf="user.email && user.showEmail">{{user.email}}</p>
      <p *ngIf="user.profile?.language" class="bold">
        {{user.profile?.language}}
      </p>
      <button mat-button class="btn-purple" aria-label="Rol">
        {{(user.profile?.rol | translate) || ('not.defined' | translate)}}
      </button>
    </div>

    <ng-template #noUser>
      <div class="profile-data skeleton">
        <img src="assets/img/profile/no-photo.jpg"
             alt="No Avatar"
             loading="lazy"/>
          <h3></h3>
          <button mat-button aria-label="No User">.</button>
          <p></p>
      </div>
    </ng-template>

    <div class="profile-social">
      <ul>
        <div *ngFor="let s of social">
          <a *ngIf="user?.profile[s.selector]"
            [href]="user?.profile[s.selector]"
            target="_NEW">
            <li [class]="s.selector">{{s.name}}
              <img src="assets/icons/{{s.selector}}.svg"
                   [alt]="s.selector" loading="lazy"/>
            </li>
          </a>
          <li [class]="s.selector + ' not'"
              *ngIf="!user?.profile[s.selector]">
              {{s.name}}
              <img src="assets/icons/{{s.selector}}.svg"
                   [alt]="s.selector"
                   loading="lazy"/>
          </li>
        </div>
        <div class="total" *ngIf="user">
          <li *ngFor="let t of total">{{user[t.name] || 0}}
            <mat-icon [class]="t.name">{{t.icon}}</mat-icon>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div class="profile-bio" *ngIf="user?.profile">
    <p class="first"
      *ngIf="user.profile.bio"
      [innerHTML]="user.profile.bio | sanitizer: 'html'">
    </p>
    <p *ngIf="!user.profile.bio">{{'bio.not.defined' | translate}}</p>
  </div>
</app-content-box>
