.profile {
  &-info {
    position: relative;
    margin-top: .5rem;
    margin-bottom: 1.3rem;
    & p { margin-top: 0 }
  }

  &-data {
    & img {
      max-width: 112px;
      border-radius: 50%;
      width: 100%;
      height: 107px;
    }

    & h3 {
      font-size: 1.5rem;
      margin-bottom: 0;
      @media(max-width: 550px) { margin-top: 2.8rem }
    }

    & button {
      margin-bottom: .6rem;
      margin-top: .8rem;
    }
  }

  &-social {
    position: absolute;
    top: 0;
    right: 0;

    & ul {
      list-style: none;
      margin: 0;
      margin-top: 0;
      text-align: right;
      margin-right: .3rem;
     }

    & li {
      margin-bottom: .5rem;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;

      & img {
        width: 25px;
        margin-left: .9rem;
       }
     }

     & .total {
       margin-top: 1.5rem;
       & mat-icon {
         margin-left: 1rem;
         &.likes { color: var(--primary-color) }
         &.views { color: var(--p-color) }
        }

      @media(max-width: 550px) {
        margin-top: .88rem;
        & mat-icon { font-size: 23px }
      }
     }
  }

  &-bio {
    margin-bottom: .333rem;
    & p { margin-bottom: 0 }
  }
}

.bright:hover {
  filter: brightness(1.3);
  & img { filter: brightness(1.3) }
 }

.not {
  color: var(--p-color) !important;
  font-weight: bold;
}

.skeleton {
  & h3 {
    width: 8rem;
    background: var(--skeleton-color);
    margin-top: 2rem;
    margin-bottom: 0;
    outline: none;
    height: 2rem;
    @media(max-width: 650px) { height: 1.66rem }
    @media(max-width: 500px) { width: 90% }
  }

  & button {
    width: 12rem;
    margin-top: 1rem;
    background: var(--skeleton-color-tint);
    color: var(--skeleton-color-tint);
  }

  & p {
    background: var(--skeleton-color-tint);
    height: 1.3rem;
    width: 10rem;
    margin-top: 1.3rem;
  }
}
