ul {
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;

  & li {
    margin-right: .4rem;
    & span { color: var(--light-color) }
    @media (max-width: 360px) { margin-right: 0 }
   }

  &.badge {
    margin: 0 0 1.26667rem;
    & li { margin-right: .8rem }
   }

  &.meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.46667rem;
    @media (max-width: 991px) { margin-bottom: 1.16667rem }
  }
}

p {
  margin: .8rem 0 0 0;
  color: var(--light-color);
}

.hide-mobile {
  @media(max-width: 330px) { display: none }
}

img {
  width: 30px;
  height: 30px;
}
