<ul class="badge">  <!-- FIRST LINE -->
  <li *ngFor="let b of category.badges">
    <span [ngClass]="{'badge-featured' : b === 'Destacado',
                      'badge-popular': b === 'Popular',
                      'badge-new': b === 'Nuevo'}">
                      {{b}}
    </span>
  </li>
  <li>
    <div class="badge-category hide-mobile">
      <img [src]="category.icon | image: 'logos'"/>
      <span>{{category.category}}</span>
    </div>
  </li>
</ul>
<ul class="meta">  <!-- SECOND LINE -->
  <li *ngFor="let c of category.tags | slice:0:2">
    <span class="meta-type">{{c}}</span>
  </li>
  <li>
    <span class="meta-star meta-star-icon">
      4.5 <mat-icon>star_rate</mat-icon>
    </span>
  </li>
  <li>
    <span class="meta-review meta-review-heart">
      4.5 <mat-icon>favorite</mat-icon>
    </span>
  </li>
</ul>  <!-- THRID LINE -->
<h1>{{category.name}}</h1>
<p>{{category.title}}</p>
