* { box-sizing: border-box }

.col-lg-4 {
  max-width: 100%;
  @media(max-width: 992px) {
    width: 100%;
    max-width: 100%;
   }
}

.col-lg-8 {
  max-width: 100%;
  @media(max-width: 992px) {
    width: 100%;
    max-width: 100%;
  }

  @media(min-width: 993px) {
    padding-right: 30px;
  }

  @media(max-width: 550px) {
   padding-right: 0;
   padding-left: 0;
  }
}

h2 {
  width: 24rem;
  background: var(--skeleton-color);
  margin-top: 5rem;
  margin-bottom: 2rem;
  outline: none;
  height: 2rem;
}

.skeleton {
  width: 100%;
  height: 1.6rem;
  margin-top: .8rem;
  background: var(--skeleton-color-tint);
  &:first-child { margin-top: 2.5rem }
}


