<ng-container *ngIf="(category$ | async) as category; else noCategory">
  <app-single-category-header [category]="category"></app-single-category-header>
  <app-section input="#f5f7fc">
      <div class="row">
          <div class="col-lg-8 col-md-8" id="category-section">
            <app-single-category-content [category]="category">
            </app-single-category-content>
          </div>
          <div class="col-lg-4 col-md-4">
            <app-single-category-sidebar [category]="category">
            </app-single-category-sidebar>
          </div>
      </div>
  </app-section>
</ng-container>

<ng-template #noCategory>
  <app-single-category-skeleton></app-single-category-skeleton>
</ng-template>
