* { box-sizing: border-box }

.col-lg-8 {
  @media(min-width: 993px) {
    padding-right: 30px;
  }
}

.col-lg-4 {
  max-width: 100%;
  @media(max-width: 993px) {
    width: 100%;
    max-width: 100%;
   }
}


