<app-single-category-header [category]="category"></app-single-category-header>
<app-section input="#f5f7fc">
    <div class="row">
      <div class="col-lg-8 col-md-8" id="category-section">
        <app-single-category-content *ngIf="category" [category]="category">
        </app-single-category-content>
        <app-loading *ngIf="!category"></app-loading>
      </div>
      <div class="col-lg-4 col-md-4">
        <app-single-category-sidebar *ngIf="category" [category]="category">
        </app-single-category-sidebar>
      </div>
    </div>
</app-section>
<app-footer></app-footer>
