<mat-dialog-content class="overflow">
  <div class="login-wrapper">
    <span *ngIf="isReg"
          (click)="isReg = false;
                   isCon = false">
          {{'back' | translate}}
    </span>
    <h3>Antic's Code</h3>
    <app-sign-in *ngIf="!isReg && !isCon"
                 (changed)="isReg = $event">
    </app-sign-in>
    <app-sign-up [ngClass]="{'display': isReg }"
                 (changed)="isCon = $event;
                            isReg = false">
    </app-sign-up>
    <app-conditions *ngIf="isCon && !isReg"
                    (close)="isReg = $event;
                             conditions = $event">
    </app-conditions>
  </div>
</mat-dialog-content>

