.login-wrapper {
  border-radius: 4px;
  padding: 0 1rem;
  text-align: center;
  max-width: 350px;
  min-height: 100%;
  position: relative;
  transition: all .5s;
  @media (max-width: 450px) { padding: 0 }

  & img { width: 75px; }

  & h3 {
    margin: 0 auto;
    font-size: 1.8rem;
  }
}

mat-dialog-content {
  max-height: 80vh !important; // Make it Scrollable
  padding: 24px !important;
}

span {
  position: absolute;
  font-size: .8rem;
  top: -25px;
  right: -8px;
  cursor: pointer;
  &:hover { color: var(--primary-color) }
}


