.col-lg-4 {
  max-width: 360px;
  @media(max-width: 820px) { max-width: 350px }
  @media(max-width: 800px) { max-width: 300px }
  @media(max-width: 700px) { max-width: 275px }
  @media(max-width: 650px) { max-width: 260px }
  @media(max-width: 620px) {
    width: 100%;
    max-width: 100%;
  }

  @media(max-width: 550px) {
   padding-right: 0;
   padding-left: 0;
  }
}

.col-lg-6 {
  max-width: 576px;
  @media(max-width: 1190px) { max-width: 481px }
  @media(max-width: 1000px) { max-width: 431px }
  @media(max-width: 905px) { max-width: 381px }
  @media(max-width: 800px) { max-width: 331px }
  @media(max-width: 700px) { max-width: 281px }
  @media(max-width: 620px) {
    width: 100%;
    max-width: 100%;
  }

  @media(max-width: 550px) {
   padding-right: 0;
   padding-left: 0;
  }
}

.mobile {
  @media(min-width: 993px) { display: none }
}

.desktop {
  @media(max-width: 992px) { display: none }
}
