.template {
  p {
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.7;
    color: black;
    &:first-child { margin-top: 20px }
    &.first { margin-top: 10px }
  }

  strong {
    font-size: 17px;
    @media(max-width: 550px) { font-size: .9rem !important }
  }

  ul {
    margin-top: 20px;
    font-size: 16px;
    color: #1a1a1a;
    padding-left: 20px;
    list-style: disc;
    margin-left: 0;
    margin-bottom: 10px;
  }

  ul li {
    margin-top: 10px;
    margin-bottom: 0;
    @media(max-width: 550px) { font-size: .9rem !important }
  }

  h2 {
    line-height: 1.2;
    font-size: 24px;
  }

  h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ececec;
    padding-top: 44px;
    margin-bottom: 40px;
    box-sizing: inherit;
  }

  h3 { font-size: 1.17rem }

  h3:before {
    content: " ";
    display: block;
    padding-top: 90px;
    margin-top: -45px;
    box-sizing: inherit;
  }

  h3.stretch:before {
    display: block;
    padding-top: 25px;
    margin-top: -15px;
    box-sizing: inherit;
  }

  h4 {
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: -.2rem;
    font-size: 1rem;
    &:first-child { margin-top: 0 }
  }

  blockquote {
    background-color: rgba(255,229,100,0.3);
    border-left-color: #ffe564;
    border-left-width: 9px;
    border-left-style: solid;
    padding: 20px 45px 20px 26px;
    margin: 30px 0;

    & p { margin: 0 !important }
  }

  pre {
    line-height: 20px;
    word-break: break-word;
    height: auto !important;
  }

  @media(max-width: 550px) {
    p:first-child { margin-top: 10px }
  }

  @media(max-width: 992px) {
    p {
      font-size: 1rem;
      margin-top: 25px;
    }

    strong { font-size: 1rem }
  }

  @media(min-width: 1280px) {
    h2 { font-size: 35px }
    h3 { font-size: 25px }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 30px auto;
    border-radius: 4px;

    &.block { width: 100% }
  }

  img.inline {
    width: 49%;
    display: inline-block;
  }

  .emoji {
    position: relative;
    margin-right: .5rem;
    font-size: 1.5rem;
  }
}

hr {
  height: 1px;
  margin-bottom: -1px;
  border: none;
  border-bottom: 1px solid #ececec;
  margin-top: 30px;
  box-sizing: content-box;
}

.category {
  & .template {

    & p, h2:before {
      margin-right: 1.5rem;
      @media(max-width: 992px) { margin-right: 0 }
    }

    & h3:before { margin-top: -80px }
  }
}
