.template {
  p {
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.7 !important;
    color: black;
    &:first-child { margin-top: 20px }
  }

  ul, ol {
    margin-top: 30px;
    font-size: 16px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }

  ul li, ol li {
    margin-top: 10px;
    margin-bottom: 0;
    @media(max-width: 550px) { font-size: .9rem !important }
  }

  ol {
    list-style: none;
    counter-reset: li;

    & li {
      counter-increment: li;
      position: relative;
      padding-left: 1.8rem;
      list-style-type: none;
      margin: .66rem auto;

      &:before {
        content: counter(li);
        color: var(--secondary-color);
        width: 1em;
        font-weight: bold;
        display: block;
        position: absolute;
        left: 3px;
        top: 0;
      }
    }
  }

  h2 {
    line-height: 1.2;
    font-size: 1.7rem;
    position: relative;
  }

  h2:before {
    content: "";
    display: block;
    border-bottom: 1px solid #ececec;
    padding-top: 30px;
    margin-bottom: 40px;
    box-sizing: inherit;
  }

  h2:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 2rem;
    left: 2px;
    bottom: -4px;
    background: var(--primary-color);
    border-radius: 4px;
  }

  h3 {
    font-size: 1.5rem;
    @media(max-width: 550px) { font-size: 1.4rem !important }
  }

  h3:before {
    content: " ";
    display: block;
    padding-top: 90px;
    margin-top: -45px;
    box-sizing: inherit;
  }

  h2 + h3:before {
    padding-top: 30px;
    margin-top: -15px;
  }

  h4 {
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: -.2rem;
    &:first-child { margin-top: 0 }
  }

  h5 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }

  pre + h5 {
    margin-top: 0;
  }

  blockquote {
    border-left-color: var(--primary-color);
    border-left-width: 9px;
    border-left-style: solid;
    background: #2e3a59;
    padding: 20px 45px 20px 26px;
    margin: 30px 0;
    border-radius: 5px;

    & p {
      margin: 0 !important;
      color: white !important;
      font-size: .95rem;
    }
  }

  strong {
    font-size: inherit;
  }

  blockquote code {
    background: rgba(123, 103, 50, 0.4);
    font-size: .95rem;
  }

  code[class*=language-], pre[class*=language-]  {
    font-size: .9rem !important;
  }

  pre::-webkit-scrollbar {
    height: 6px !important;
    display: block;
  }

  pre::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
  }

  pre::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px var(--primary-color);
    box-shadow: inset 0 0 3px var(--primary-color);
  }

  pre {
    line-height: 20px;
    border-radius: 5px;
    word-break: break-word;
    height: auto !important;
    margin: 30px auto !important;

    & span {
      font-size: .9rem !important;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 30px auto;
    border-radius: 4px;
    &.icon { margin: 0 auto }
  }

  hr {
    height: 1px;
    margin-bottom: -1px;
    border: none;
    border-bottom: 1px solid #ececec;
    margin-top: 30px;
    box-sizing: content-box;
  }

  table {
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 12px 15px;
    background-color: rgba(46, 58, 89, 0.2);
    color: #fff;
  }

  th {
    text-align: left;
  }

  .th {
    display: inline-block;
    min-width: 5rem;
    text-align: center;
    @media(max-width: 550px) { min-width: 3rem }
  }

  thead {
    th {
      background-color: var(--primary-color);
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(46, 58, 89, 0.3);
      }
    }
    td {
      position: relative;
      background-color: rgba(46, 58, 89);
      &:hover {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -9999px;
          bottom: -9999px;
          background-color: rgba(46, 58, 89, 0.2);
          z-index: -1;
        }
      }
    }
  }

  .anchor {
    position: absolute;
    margin-top: -2rem;
    @media(max-width: 550px) { margin-top: 0 }
  }

  @media(max-width: 550px) {
    p:first-child { margin-top: 10px }
  }

  @media(max-width: 992px) {
    p {
      font-size: 1rem;
      margin-top: 25px;
    }
  }

  @media(min-width: 1280px) {
    h2 { font-size: 35px }
    h3 { font-size: 25px }
  }

  // NEWS
  &.notice {
    p {
      overflow: hidden;
      margin-top: .333rem;
      margin-bottom: 1.333rem;
      font-size: 1rem;
      color: var(--p-color);
      max-height: 68%;

      @media(max-width: 855px) {
        margin-bottom: 1.666rem;
      }

      & span { opacity: .8 }
    }
  }
}
