.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.col-lg-4 {
  max-width: 350px;
  @media(max-width: 800px) { max-width: 300px }
  @media(max-width: 700px) { max-width: 275px }
  @media(max-width: 650px) { max-width: 260px }
  @media(max-width: 620px) {
    width: 100%;
    max-width: 100%;
  }

  @media(max-width: 550px) {
   padding-right: 0;
   padding-left: 0;
  }
}

.explore {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;

  & button {
    color: var(--light-color);
    font-weight: 700;
    border: 0 none;
    line-height: 3rem;
    position: relative;
    z-index: 1;

    & span { font-size: .9rem }
  }

  @media(max-width: 616px) { margin-top: 10px }
  @media(max-width: 450px) { margin-top: 0 }
}
