<div class="row flex">
  <div class="col-lg-4 col-sm-6"
      *ngFor="let c of categories">
    <div class="category-image">
      <figure>
        <img [src]="c.picture | image"/>
        <figcaption class="overlay-bg">
          <div class="category-image-content">
              <div class="category-icon">
                <span><mat-icon>{{c.icon}}</mat-icon></span>
              </div>
              <h4>{{c.name}}</h4>
              <span class="category-badge">48 Listings</span>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
