<ng-container *ngIf="(articles$ | async) as articles">
  <div class="row">
    <div class="col-md-6" *ngFor="let a of articles">
      <div class="related">
        <figure [routerLink]="'/article/' + a.slug">
          <img [src]="a.cover"/>
        </figure>
        <div class="related-content">
          <span>{{a.title}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="see-more" *ngIf="articles.length > 0">
    <mat-icon>forward</mat-icon>
    <a (click)="seeMore()">{{'see.more.related' | translate}}</a>
  </div>
</ng-container>


