form { margin-top: 2rem }

mat-form-field {
  width: 98%;
  &-wrapper {
    padding-bottom: 1rem;
  }
}

button {
  width: 100%;
  color: var(--light-color);
  margin-top: 1.2rem;
}

mat-checkbox {
  display: flex;
  margin-top: .8rem;
  margin-bottom: 1rem;
  margin-left: .3rem;
}

p {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: .9rem;

  &.recover {
    margin-top: -.1rem;
    outline: none;
    cursor: pointer;
    &:hover { font-weight: bold }
  }

  @media(max-width: 550px) {
    margin-bottom: -.8rem;

    &.recover {
      margin-top: .75rem;
    }
  }
}

.bottom {
  position: relative;
  top: 6.66px;
}

.bold { font-size: .9rem }
span { cursor: pointer }
