<div class="animated fadeIn">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent" appearance="outline">  <!-- EMAIL -->
      <mat-label>{{'EMAIL' | translate}}</mat-label>
      <input matInput
             formControlName="email"
             autocomplete="off">
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline">  <!-- PASSWORD -->
      <mat-label>{{'PASSWORD' | translate}}</mat-label>
      <input matInput
             formControlName="password"
             type="password"
             autocomplete="off">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="remember"
                  [ngModelOptions]="{standalone: true}">
                  {{'REMEMBER' | translate}}
    </mat-checkbox>

    <button type="submit"
            class="btn-orange"
            aria-label="Sign In"
            [disabled]="signInForm.invalid"
            mat-button>
      {{'SIGN.IN' | translate}}
    </button>

    <app-auth-sign-in></app-auth-sign-in>

    <p>{{'NO.ACCOUNT' | translate}}
      <span class="bold" (click)="signUp()">
        {{'REGISTER.NOW' | translate}}
      </span>
    </p>
  </form>
</div>
