<div class="animated fadeIn">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent" floatLabel="never">
      <input matInput
             [placeholder]="'email' | translate"
             formControlName="email">
    </mat-form-field>
    <mat-form-field color="accent" floatLabel="never">
      <input matInput
              [placeholder]="'password' | translate"
              formControlName="password"
              type="password">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="remember"
                  [ngModelOptions]="{standalone: true}">
                  {{'remember' | translate}}
    </mat-checkbox>

    <button type="submit"
            class="btn-orange"
            aria-label="Sign In"
            [disabled]="signInForm.invalid"
            mat-button>
      {{'sign.in' | translate}}
    </button>

    <p>{{'no.account' | translate}}
      <span class="bold" (click)="signUp()">
        {{'register.now' | translate}}
      </span>
    </p>
  </form>
</div>
