.reaction {
 position: absolute;
 margin-top: -12px;

 &-container {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   @media(max-width: 700px) { justify-content: flex-start }

   & mat-icon {
     font-size: 1.5rem;
     width: 2.1333rem;
     height: 2.1333rem;
     box-sizing: border-box;
     border-radius: 20rem;
     background: var(--section-border-color);
     display: inline-flex;
     justify-content: center;
     align-items: center;
     margin-right: .8rem;
     position: relative;
     top: -1px;
     padding-top: 3px;
     user-select: none;
     color: var(--primary-color);

     &:hover {
       cursor: pointer;
       transition: all .3s ease;
       box-shadow: 0 0 6px rgba(0, 0, 0, .8);
     }
   }

   & img {
    width: 40px;
    padding: 5px;
    border-radius: 20rem;

    &:hover {
      cursor: pointer;
      background: var(--section-border-color);
      transition: all .3s ease;
    }
   }
 }

  @media(max-width: 700px) {
    margin-top: 0;
    position: relative;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  @media(min-width: 701px) {
    position: absolute;
    right: 1.8rem;
    top: 80px;
  }
}

.reaction.single {
  @media(min-width: 701px) {
    right: .7rem !important;
    top: 30px;
  }

  @media(max-width: 700px) {
    margin-bottom: 1.5rem;
  }
}

.flex-box { margin-right: 1.5rem }


