.reaction {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5rem;

  & span {
    margin-right: 12px;
    font-size: .9rem;
  }

  @media(max-width: 700px) {
    position: relative;
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: -.9rem;
  }

  @media(min-width: 701px) {
    position: absolute;
<<<<<<< Updated upstream
    margin-top: -2px;
    right: 2rem;
=======
    right: 1.8rem;
    top: calc(80px + 1rem);
>>>>>>> Stashed changes
  }
}

.reaction.single {
  @media(min-width: 701px) {
    right: .2rem !important;
  }

  @media(max-width: 700px) {
    margin-bottom: 1.8rem;
    margin-top: -1.4rem;
  }
}

.reaction.box {
  position: absolute;
  margin-top: .8rem;
  right: 0 !important;
}

