<!-- <div class="mobile">
  <div class="row">
    <div class="col-lg-12">
      <app-article-search></app-article-search>
    </div>
  </div>
</div> -->
<div class="scroll-wrapper"
     scrollable
     (scrollPosition)="onScroll($event)">
  <app-article-card shadow="true"
                    *ngFor="let a of articles$ | async"
                    [article]="a"
                    [padding]="2"
                    [stars]="false">   <!-- ARTICLES GRID -->
    <span class="summary" [innerHTML]="a.summary"></span>
  </app-article-card>
</div>

<app-content-box *ngIf="!articles$ | async"
                        title="Oops!"
                        icon="cancel">
        <p>No se han encontrado resultados</p>
</app-content-box>

