* { box-sizing: border-box }

.summary { margin-bottom: 5px }

.col-lg-4 {
  max-width: 100%;
  @media(max-width: 769px) { width: 100%; }
  @media(max-width: 550px) {
    padding-right: 15px;
    padding-left: 15px;
   }
}

.flex {
  justify-content: start;
  min-height: 500px;
}
