<div class="display">
  <div class="row">
    <div class="col-lg-12">
      <app-article-search></app-article-search>
    </div>
  </div>
</div>
<div *ngIf="articles.length > 0">
  <app-article-card shadow="true"
                    *ngFor="let a of articles"
                    [article]="a"
                    [padding]="2"
                    [stars]="false">   <!-- ARTICLES GRID -->
    <p>
      Investig ationes demons trave runt lectores legere liusry
      quod ii legunt saepius claritas Investig ationes. Pharetra dui,
      nec tincidunt ante mauris eu diam. Phasellus viverra nisl vitae
      cursus aei uismod suspendisse saepius claritas investig.
    </p>
  </app-article-card>
</div>
<app-content-box *ngIf="articles.length === 0"
                        title="Oops!"
                        icon="cancel">
        <p>No se han encontrado resultados</p>
</app-content-box>

