* { box-sizing: border-box }

.col-lg-8 {
  @media(min-width: 993px) {
    padding-right: 30px;
  }
}

h2 {
  width: 24rem;
  background: var(--skeleton-color);
  margin-top: 5rem;
  margin-bottom: 2rem;
  outline: none;
  height: 2rem;
}

.skeleton {
  width: 100%;
  height: 1.6rem;
  margin-top: .8rem;
  background: var(--skeleton-color-tint);
  &:first-child { margin-top: 2.5rem }
}
