<ng-container *ngIf="(test$ | async) as test; else noTest">
  <app-page-header title="TEST.PAGE"
                  subTitle="DO.TEST">
  </app-page-header>
  <app-section input="#f5f7fc">
    <div class="row">
      <div class="col-lg-8 col-md-8">  <!-- CONTENT -->
        <router-outlet></router-outlet>
      </div>
      <div class="col-lg-4 col-md-4">   <!-- SIDEBAR -->
        <app-single-test-sidebar [test]="test"></app-single-test-sidebar>
      </div>
    </div>
  </app-section>
</ng-container>

<ng-template #noTest>
  <app-page-header title="TEST.PAGE"
                   subTitle="DO.TEST">
  </app-page-header>
  <app-section input="#f5f7fc">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <app-spinner></app-spinner>
      </div>
      <div class="col-lg-4 col-md-4">
        <app-single-test-sidebar></app-single-test-sidebar>
      </div>
    </div>
  </app-section>
</ng-template>
