ul {
  list-style-type: none;
  padding-left: var(--small-padding);
  margin: 0 auto;

  &.right {
    text-align: right;
    margin-right: 2rem;

    @media(min-width: 992px) {
      & li {
        position: relative;
        &:after {
          content: "\f101"; /* FontAwesome Unicode */
          font-family: FontAwesome;
          display: inline-block;
          position: absolute;
          width: 1.5em;
          top: 2px;
          margin-left: 1rem;
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media(max-width: 992px) {
  li:before {
    content: "\f101"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.5em;
    width: 1.5em;
  }
}

li:not(p), li:not(p) span {
  color: black;
  margin-top: .9rem;
  outline: none;
  font-size: 1.1rem;
  &:first-child { margin-top: 0 };
  @media(max-width: 550px) { font-size: 1rem }

  &:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
}

p {
  margin: 0;
  margin-bottom: 5px;
  margin-top: -3px;
  color: var(--p-color);
  font-size: .9rem !important;
}

.active {
  color: var(--primary-color);
  transition: all .3s ease-in;
}

.skeleton {
  & p {
    background: var(--skeleton-color-tint);
    height: 1.2rem;
    width: 6rem;
    margin-top: .5rem;
    position: relative;
    top: 2px;
  }

  & span {
    background: var(--skeleton-color);
    text-size-adjust: 0%;
    padding: 0 6rem;
    height: 1.2rem;
    position: relative;
    top: 2px;

    &:last-child {
      display: block;
      margin-left: 10rem;
      padding: 0;
    }
  }
}
