<div class="last" *ngIf="articles$ | async as articles">
  <figure *ngFor="let a of articles"
          [routerLink]="'/article/' + a.slug">
      <img [src]="a.cover"/>
      <figcaption class="overlay-bg">
        <div class="last-title">
          <h4>{{a.title}}</h4>
          <div class="last-title-info">
          <app-article-reactions [article]="a"
                                  [box]="true">
          </app-article-reactions>
          </div>
        </div>
      </figcaption>
  </figure>
</div>
