<ul>
  <li>
    <div class="icon default">
      <span><mat-icon>check_circle_outline</mat-icon></span>
    </div>
    <div class="list-content">
      <h4>Claim Listing</h4>
      <p>
        Excepteur sint occaecat cupidatat non
        proident sunt in culpa officia.
      </p>
    </div>
  </li>
  <li>
    <div class="icon success">
      <span><mat-icon>sentiment_satisfied_alt</mat-icon></span>
    </div>
    <div class="list-content">
      <h4>Claim Listing</h4>
      <p>
        Excepteur sint occaecat cupidatat non
        proident sunt in culpa officia.
      </p>
    </div>
  </li>
  <li>
    <div class="icon primary">
      <span><mat-icon>signal_cellular_alt</mat-icon></span>
    </div>
    <div class="list-content">
      <h4>Claim Listing</h4>
      <p>
        Excepteur sint occaecat cupidatat non
        proident sunt in culpa officia.
      </p>
    </div>
  </li>
</ul>
