<mat-dialog-content>
  <h4>{{'DELETE.ACC' | translate}}</h4>
  <p>
    <span class="bold black">{{(user$ | async)?.name}}</span>,
    <span [innerHTML]="'DELETE.ACCOUNT.P' | translate"></span>
  </p>
  <p class="bold black">"{{'DELETE.SENTENCE' | translate}}"</p>
  <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>{{'PUT.SENTENCE' | translate}}</mat-label>
      <input matInput
             formControlName="delete"
             autocomplete="off">
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button
              aria-label="Cancel"
              mat-dialog-close>{{'CANCEL' | translate}}</button>
      <button mat-button
              type="submit"
              class="btn-danger"
              aria-label="Accept"
              [disabled]="deleteForm.invalid">
              {{'ACCEPT' | translate}}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
