h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

p { margin-bottom: 1rem }

mat-dialog-content {
  position: relative;
  overflow: hidden;
  padding: 0 .5rem;
  margin: 0;
  max-width: 50vh;
}

mat-dialog-actions {
  margin-bottom: 0 !important;
  padding: 0;
}

form, mat-form-field { width: 100% }
.black { margin-bottom: 2rem }
