<mat-dialog-content>
  <h3 mat-dialog-title>{{'delete.acc' | translate}}</h3>
  <p>
    <span class="bold black">{{(user$ | async)?.name}}</span>,
    <span [innerHTML]="'delete.account.p' | translate"></span>
  </p>
  <p class="bold black">"{{'delete.sentence' | translate}}"</p>
  <form [formGroup]="deleteAccountForm" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>{{'put.sentence' | translate}}</mat-label>
      <input matInput
            formControlName="delete">
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button
              aria-label="Cancel"
              mat-dialog-close>{{'cancel' | translate}}</button>
      <button mat-button
              type="submit"
              class="btn-danger"
              aria-label="Accept"
              [disabled]="deleteAccountForm.invalid">
              {{'accept' | translate}}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
