<app-content-box title="Related Articles"
                  icon="chrome_reader_mode">
    <ul class="related">
      <li *ngFor="let r of relateds">
        <div class="related-img">
          <img [src]="r.picture | image"/>
        </div>
        <div class="related-right">
          <div class="related-title">
            <h4>{{r.title}}</h4>
            <p class="flex-box">
              <mat-icon>{{r.icon}}</mat-icon>
              <span>{{r.category}}</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
</app-content-box>
