.title {
  margin-top: 0 !important;
  margin-bottom: .8rem;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;

  & mat-icon {
    color: var(--success-color);
    position: absolute;
    margin-left: .8rem;
    top: 3px;
  }
}

button {
  &:last-child { margin-left: 1rem }
}

.entry {
  background: var(--light-color);
	border-radius: var(--content-border-radius);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	max-width: 100%;
  margin: 0 auto 1.666rem auto;
	overflow: hidden;
  width: 100%;
  position: relative;

  &-content {
    padding: 1.5rem 2rem;
    @media(max-width: 550px) { padding: 1.5rem }

    & img {
      width: 24px;
      position: relative;
      top: 6px;
      left: -5px;
      margin-right: .2rem;
    }
  }

  &-data { margin-top: 1.8rem }
}
