.navbar {
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: var(--navbar-height);
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 2px solid var(--border-color);

  &-logo {
    width: var(--navbar-logo-width);
    height: 100%;
    border-right: 1px solid var(--border-color);
    -webkit-box-ordinal-group: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 789px) {
      display: none;
      border-right: 0;
    }

    & img {
      width: 62px;
      height: 55px;
      padding: 0 10px;
      margin-left: 1px;
      -webkit-animation: SpinBack .5s;
      animation: SpinBack .5s;
      outline: none;
    }

    &:hover {
      cursor: pointer;

      img {
        filter: brightness(1.4);
        -webkit-animation: ClockwiseSpin 2s infinite linear;
        animation: ClockwiseSpin 2s infinite linear;
      }
    }
  }

  &-mobile-menu {
    display: none;

    @media (max-width: 789px) {
      height: 100%;
      -webkit-box-ordinal-group: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: var(--big-padding);
      margin-right: 32px;
    }

    @media(max-width: 550px) { margin-left: var(--small-padding) }
  }
}

@media(max-width: 750px) {
  .navbar { height: var(--navbar-height-mobile) }
}

.navbar-search {
  position: absolute;
  right: 25px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  color: var(--light-color);
  min-width: auto;

  & button {
    margin-left: 35px;
    min-width: 46px;
  }

  @media(max-width: 550px) { right: var(--small-padding) }

  & .btn-mobile mat-icon {
    position: relative;
    top: -1px;
    color: var(--light-color);
  }
}

.toogler {
  background: transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, .7);
  width: 46px;
  height: 36px;

  & i {
    outline: 0;
    color: rgba(255, 255, 255, .7);
    margin-top: 4px;
  }

  & span {
    font-size: 1.33333rem;
    display: inline-block;
    line-height: normal;
    margin-bottom: -3px;

  }

  &:focus { outline: none }
  &:hover { cursor: pointer }
}

ul {
  list-style-type: none;
  margin-top: -10px;
  padding: 0;
  width: 100%;

  & li {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
  }
}

@media(max-width: 615px) {
  .btn-desktop { display: none }
  .btn-mobile {
    display: inline-block;
    padding: 0 5px;
  }
}

@media(min-width: 615px) {
  .btn-desktop { display: inline-block }
  .btn-mobile { display: none }
}
