.navbar {
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: var(--navbar-height);
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 2px solid rgba(255, 255, 255, .1);

  &-logo {
    width: var(--navbar-logo-width);
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, .15);
    -webkit-box-ordinal-group: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 789px) {
      display: none;
      border-right: 0;
    }

    &:hover {
      cursor: pointer;

      img {
        filter: brightness(1.4);
        -webkit-animation: ClockwiseSpin 10s infinite linear;
        animation: ClockwiseSpin 10s infinite linear;

        @keyframes ClockwiseSpin {
          0%  {transform: rotate(0deg);}
          100% {transform: rotate(360deg);}
        }
      }
    }
  }

  & img {
    width: 62px;
    height: 55px;
    padding: 0 10px;
  }

  &-mobile-menu {
    display: none;

    @media (max-width: 789px) {
      left: 20px;
      height: 100%;
      -webkit-box-ordinal-group: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 24px;
      margin-right: 32px;
    }

    @media(max-width: 550px) {
      margin-left: 16px;
    }
  }
}

@media(max-width: 750px) {
  .navbar {
    height: var(--navbar-height-mobile);
  }
}

.navbar-search {
  position: absolute;
  right: 25px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  color: var(--color-light);
  min-width: auto;

  & button {
    margin-left: 35px;
    min-width: 46px;
  }

  @media(max-width: 550px) {
    right: 16px;
  }

  & .btn-mobile mat-icon {
    position: relative;
    top: -1px;
  }
}

.toogler {
  background: transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, .7);

  & i {
    outline: 0;
    color: rgba(255, 255, 255, .7);
    margin-top: 4px;
  }

  & span {
    width: 1.5em;
    height: 1.5em;
    font-size: 1.33333rem;
    display: inline-block;
    line-height: normal;
    margin-bottom: -3px;
  }

  &:focus { outline: none }
  &:hover { cursor:pointer }
}

.menu-logo {
  position: absolute;
  top: 50px;
  width: 100%;

    & img {
    width: 125px;
    height: 110px;
    padding: 0 10px;

    @media(max-width: 615px) {
      width: 85px;
      height: 75px;
    }
  }
}

ul {
  list-style-type: none;
  margin-top: -10px;
  padding: 0;
  width: 100%;

  & li {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.1rem;
  }
}

@media(max-width: 615px) {
  .btn-desktop { display: none }
  .btn-mobile {
    display: inline-block;
    padding: 0 5px;
  }
}

@media(min-width: 615px) {
  .btn-desktop { display: inline-block }
  .btn-mobile { display: none }
}
