.navbar {
  position: absolute;
  display: inline-flex;
  width: 100%;
  height: var(--navbar-height);
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 2px solid rgba(255, 255, 255, .1);

  &-logo {
    width: var(--navbar-logo-width);
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, .15);
    -webkit-box-ordinal-group: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 789px) {
      display: none;
      border-right: 0;
    }

    &:hover {
      cursor: pointer;
      img { filter: brightness(1.4); }
    }
  }

  & img {
    width: 90px;
    height: 55px;
    padding: 0 25px;
    margin-top: 2px;
  }

  &-mobile-menu {
    display: none;

    @media (max-width: 789px) {
      position: absolute;
      left: 20px;
      height: 100%;
      -webkit-box-ordinal-group: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.navbar-search {
  position: absolute;
  right: 25px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  color: var(--color-light);
  min-width: auto;

  & button {
    margin-left: 35px;
  }
}




