<nav class="navbar" Navbar>
  <div class="navbar-logo">  <!-- LOGO -->
    <img routerLink="/home" src="assets/img/logo.png"/>
  </div>
  <div class="navbar-mobile-toogler">  <!-- MOBILE TOOGLER -->
    <button class="toogler" (click)="openDrawer()">
      <i class="material-icons">reorder</i>
    </button>
  </div>
  <app-navigation></app-navigation>  <!-- NAVIGATION -->
  <div class="navbar-search">  <!-- SEARCH BAR -->
    <app-navbar-search></app-navbar-search>
    <div *ngIf="(user$ | async) as user; else login">
      <button class="profile btn-pink"
              routerLink="/profile"
              mat-button>
        <mat-icon>person</mat-icon>
      </button>  <!-- PROFILE -->
    </div>
    <ng-template #login>
      <button class="btn-pink"
              (click)="openLogin()"
              mat-button>
          <span class="btn-mobile">
            <i class="fa fa-sign-in"></i>
          </span>
          <span class="letter btn-desktop">{{'sign.in' | translate}}</span>
      </button>  <!-- LOGIN -->
    </ng-template>
  </div>
</nav>

 <!-- MOBILE MENU -->
<q-drawer menuid="main" #drawer>
   <div class="menu">
    <ul>
      <li *ngFor="let i of items"
          [routerLink]="i.link"
          routerLinkActive="active"
          (click)="closeDrawer()">{{i.name | translate}}
      </li>
      <div class="division"><hr></div>
      <li *ngFor="let m of menu"
          [routerLink]="m.link"
          routerLinkActive="active"
          (click)="closeDrawer()">{{m.name | translate}}
      </li>
      <div class="division"><hr></div>
      <div *ngIf="user$ | async as user">
        <li *ngIf="user.account === 'Admin' || user.account === 'Super'"
            routerLink="/admin"
            routerLinkActive="active"
            (click)="closeDrawer()">
            Admin
        </li>
      </div>
    </ul>
   </div>
</q-drawer>

