<nav class="navbar">
  <div class="navbar-logo">  <!-- LOGO -->
    <img routerLink="/home" src="assets/img/logo.png"/>
  </div>
  <div class="navbar-mobile-menu">  <!-- MOBILE TOOGLER -->
    <button class="toogler" (click)="show = true">
      <span>
        <i class="material-icons">reorder</i>
      </span>
    </button>
  </div>
  <app-navigation></app-navigation>  <!-- NAVIGATION -->
  <div class="navbar-search">  <!-- SEARCH BAR -->
    <app-navbar-search></app-navbar-search>
      <button class="btn-pink btn"
              *ngIf="!(user$ | async)"
              (click)="openLogin()"
              mat-button>
              <span class="btn-mobile">
                <i class="fa fa-sign-in"></i>
              </span>
              <span class="btn-desktop">{{'enter' | translate}}</span>
      </button>  <!-- LOGIN -->
      <button class="btn-pink btn"
              *ngIf="user$ | async"
              routerLink="/profile"
              mat-button>
            <mat-icon>person</mat-icon>
      </button>  <!-- LOGOUT -->
  </div>
</nav>

<app-mobile-menu [show]="show">  <!-- MOBILE MENU -->
  <ul>
    <li *ngFor="let i of items"
        [routerLink]="i.link"
        routerLinkActive="active"
        (click)="show = false">{{i.name | translate}}
    </li>
  </ul>
<app-mobile-menu>



