<app-content-box title="EDIT.YOUR.PROFILE"
                 icon="edit"
                 [margin]="false">
  <div class="edit-profile">
    <div class="exit">
      <mat-icon (click)="close()">close</mat-icon>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field color="accent" appearance="outline">  <!-- NAME -->
        <mat-label>{{'USER.NAME' | translate}}</mat-label>
        <input matInput
               formControlName="name">
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">  <!-- EMAIL -->
        <mat-label>{{'USER.EMAIL' | translate}}</mat-label>
        <input matInput
               formControlName="email">
      </mat-form-field>
      <mat-form-field color="accent" class="select" appearance="outline">  <!-- ROL -->
        <mat-label>{{'SELECT.ROL' | translate}}</mat-label>
        <mat-select formControlName="rol">
          <mat-option *ngFor="let r of roles" [value]="r.translate" role="option">
            {{r.translate | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" class="select" appearance="outline">  <!-- LANGUAGE -->
        <mat-label>{{'FAVORITE.LANG' | translate}}</mat-label>
        <mat-select formControlName="language">
          <mat-option *ngFor="let l of languages" [value]="l" role="option">
            {{l}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent"
                      appearance="outline"
                      class="top">  <!-- AVATAR -->
        <mat-label>{{'URL.AVATAR' | translate}}</mat-label>
        <input matInput
               formControlName="avatar">
      </mat-form-field>
      <mat-form-field color="accent"
                      appearance="outline"
                      class="half-top">  <!-- TWITTER -->
        <mat-label>{{'TWITTER.PAGE' | translate}}</mat-label>
        <input matInput
              formControlName="twitter">
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">  <!-- GITHUB -->
        <mat-label>{{'GITHUB.PAGE' | translate}}</mat-label>
        <input matInput
              formControlName="github">
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">  <!-- PORTFOLIO -->
        <mat-label>{{'PORTFOLIO.PAGE' | translate}}</mat-label>
        <input matInput
              formControlName="portfolio">
      </mat-form-field>
      <mat-form-field color="accent"
                      class="textarea top"
                      appearance="outline">  <!-- BIO -->
        <mat-label>{{'MY.BIO' | translate}}</mat-label>
        <textarea matInput
                  formControlName="bio">
        </textarea>
      </mat-form-field>

      <button type="submit"
              mat-button
              class="btn-pink"
              aria-label="Edit"
              [disabled]="form.invalid">
              {{'SAVE' | translate}}
      </button>
    </form>
  </div>
</app-content-box>
