.article-share {
  &-social {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;

    & ul {
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      padding-left: 0;
      list-style: none;
      width: 100%;
      & li { margin: 0 .2rem }

      & mat-icon {
        width: 2.1333rem;
        height: 2.1333rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-border-radius: 20rem;
        border-radius: 20rem;
        background: rgba(39,43,65,.05);
        color: #9299b8;
        font-size: 1.2rem;

        &:hover {
          color: var(--light-color);
          background: var(--primary-color);
          cursor: pointer;
        }
      }
    }

    & span { margin-right: 1rem }
  }
}

