ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  margin-bottom: 2rem;
  @media(max-width: 993px) { margin-bottom: 3rem }
}

h2 {
  line-height: 1.2;
  font-size: 1.7rem;
  position: relative;
  margin-bottom: 2.2rem;
}

li { margin: 8px auto }

li:before {
  content: "\f0c1"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.5em;
  width: 1.5em;
}

a {
  background-color: rgba(187,239,253,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #1a1a1a;
  margin-left: 5px;
}

a:hover {
  background-color: #bbeffd;
  border-bottom-color: #1a1a1a;
}
