<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="create">
      <h3>Antic's Code <span>Desktop</span></h3>
      <p>{{'CREATE.ANYTHING' | translate}}</p>
    </div>
    <p [innerHTML]="'DESKTOP.INTRO' | translate"></p>
    <p class="version">{{'VERSION' | translate}}
      <strong>{{ desktopVersion }}</strong>
    </p>
    <div class="download">
      <button *ngFor="let d of desktopButtons"
               mat-button>
            <a [href]="d.link" target="NEW" class="default">
              <img [src]="d.icon | image:'buttons'" [alt]="d.platform"/>
            </a>
      </button>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 mobileRight">
    <div class="create">
      <h3 class="m-top">Antic's Code <span>Mobile</span></h3>
      <p>{{'CREATE.ANYWHERE' | translate}}</p>
    </div>
    <p [innerHTML]="'MOBILE.INTRO' | translate"></p>
    <p class="version">{{'VERSION' | translate}}
      <strong>{{ mobileVersion }}</strong>
    </p>
    <div class="download">
      <button *ngFor="let m of mobileButtons"
               mat-button
              [disabled]="m.platform === 'IOS'">
            <a [href]="m.link" target="NEW" class="default">
              <img [src]="m.icon | image:'buttons'" [alt]="m.platform"/>
            </a>
      </button>
    </div>
  </div>
</div>

