* { box-sizing: border-box }

.row {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
 }

.col-lg-6 {
  max-width: 576px;

  @media(max-width: 550px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media(max-width: 992px) {
    max-width: 100% !important;
    width: 100%;
  }
}

.download {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 3rem;

  @media(max-width: 991px) {
    justify-content: flex-start;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .3rem .6rem;
    margin: 1.4rem .666rem 1.4rem 0;
    border: 1px solid rgba(0, 0, 0, .3);
    font-weight: bold;
    cursor: pointer;

    & img {
      width: 25px;
      display: block;
    }

    & .default {
      text-decoration: none !important;
      color: initial !important;
    }

    &:hover img {
      filter: brightness(1.3);
    }
  }
}
