* { box-sizing: border-box }

.row {
  display: flex;
  flex-wrap: wrap;
}

h3 { margin-top: 0 }
.m-top { margin-top: 3rem}
p { padding-right: 3rem }

.mobileRight {
  @media(min-width: 992px) {
    text-align: right;
    & .m-top { margin-top: 0 }

    & p {
      padding-right: 0;
      padding-left: 3rem;
    }

    & .download {
      justify-content: flex-end;
      & button { margin: .8rem 0 1.4rem .666rem }
    }
  }
}

.col-lg-6 {
  max-width: 576px;
  @media(max-width: 550px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media(max-width: 992px) {
    max-width: 100% !important;
    width: 100%;
  }
}

.download {
  display: flex;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .3rem .6rem;
    margin: .8rem .666rem 1.4rem 0;
    border: 1px solid rgba(0, 0, 0, .3);
    font-weight: bold;
    cursor: pointer;

    & img {
      width: 25px;
      display: block;
    }

    & .default {
      text-decoration: none !important;
      color: initial !important;
    }

    &:hover img {
      filter: brightness(1.3);
    }
  }
}
