* { box-sizing: border-box }

.create { margin-bottom: 2.2rem }

h3 { margin-top: 0 }
.m-top { margin-top: 3rem}
p { padding-right: 4rem }

.mobileRight {
  @media(min-width: 993px) {
    text-align: right;
    & .m-top { margin-top: 0 }

    & p {
      padding-right: 0;
      padding-left: 4.5rem;
    }

    & .download {
      justify-content: flex-end;
      & button { margin: .8rem 0 1.4rem .666rem }
    }
  }
}

.version {
  margin-top: 1.5rem;
  margin-bottom: .333rem !important;
}

.col-lg-6 {
  max-width: 576px;
  @media(max-width: 550px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media(max-width: 993px) {
    max-width: 100% !important;
    width: 100%;
  }
}

.download {
  display: flex;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .3rem .6rem;
    margin: .8rem .666rem 1.4rem 0;
    border: 1px solid rgba(0, 0, 0, .3);
    font-weight: bold;
    cursor: pointer;

    & img {
      width: 25px;
      display: block;
    }

    &[disabled] {
      pointer-events: none;
      opacity: .4;
    }

    & .default {
      text-decoration: none !important;
      color: initial !important;
    }

    &:hover img {
      filter: brightness(1.3);
    }
  }
}

@media(max-width: 993px) {
  .row {
    max-width: 720px;
    margin: 0 auto;
  }

  .col-lg-6 { text-align: center }

  p {
    padding: 0 3rem;
    margin-bottom: 1.666rem;
  }

  .version {
    margin-top: initial !important;
  }

  .download {
    justify-content: center;
    & button { margin: .8rem .4rem 1.4rem .4rem }
  }
}

@media(max-width: 550px) {
  .create { margin-bottom: 1.8rem }
}
