* { box-sizing: border-box }

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.s6, .m6 {
 max-width: 50%;
 display: inline-flex;
}

p { margin-bottom: 1rem }
