.filter-box, form, mat-form-field {
 width: 100%;
}

mat-form-field {
  position: relative;
  box-sizing: border-box;
  margin-top: .8rem;
}

button {
  margin: 1rem auto;
  margin-bottom: 6px;  // Match Search Result Bottom
  width: 100%;

  @media(max-width: 993px) {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }
}

@media(max-width: 993px) and (min-width: 550px) {
  .responsive {
    display: flex;
    justify-content: space-between;
    & mat-form-field { width: 48% }
    & div { width: 100% }
  }

  button { width: 50% }
}

h3 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: .8rem;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: .8rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

::ng-deep .mat-checkbox-label {
  padding-left: .2rem !important;
  color: var(--p-color);
  margin: .1rem auto;
  font-size: .9rem;
}

::ng-deep .mat-checkbox-frame {
  border-width: 1px !important;
  border-color: var(--p-color) !important;
}






