<app-content-box>
  <div class="filter-box">
    <form [formGroup]="searchForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" color="accent">  <!-- VALUE -->
        <mat-label>{{'SEARCH.ANY' | translate}}</mat-label>
        <input matInput
               formControlName="value"
               autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">  <!-- CATEGORY -->
        <mat-label>{{'CHOOSE.CATEGORY' | translate}}</mat-label>
        <mat-select formControlName="category" aria-label="Select Category">
          <mat-option *ngFor="let cat of categories"
                      [value]="cat.category"
                      role="option"
                      class="category">
            <img [src]="cat.icon | image:'logos'"
                 [alt]="cat.category"
                  class="logo" loading="lazy"/>
            {{cat.name | translate}}
          </mat-option>
          <mat-option value=""
                      role="option"
                      class="all">{{'ANY' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">  <!-- TAG -->
        <mat-label>{{'PICK.THREAD' | translate}}</mat-label>
        <mat-select #max_tag
                    formControlName="tags"
                    aria-label="Select a Tag"
                    multiple>
          <mat-option *ngFor="let t of tags"
                      [value]="t"
                      role="option"
                      #option_tag
                      class="p-left"
                      [disabled]="max_tag?.selected.length >= 2 &&
                                  !option_tag.selected">
            {{t | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="responsive">
        <div>
          <h3>{{'LEVEL.NAME' | translate}}</h3>   <!-- LEVEL -->
          <div class="checkbox-group">
            <mat-checkbox *ngFor="let l of levels"
                          #level
                          name="level"
                          [value]="l"
                          [disabled]="levelsArray?.length >= 2 && !level.checked"
                          (change)="levelChanged($event)">{{l | translate}}
            </mat-checkbox>
          </div>
        </div>
        <div>
          <h3>{{'LABEL' | translate}}</h3>   <!-- BADGES -->
          <div class="checkbox-group">
            <mat-checkbox *ngFor="let b of badges"
                          #badge
                          name="badge"
                          [value]="b"
                          [disabled]="badgesArray?.length >= 2 && !badge.checked"
                          (change)="badgeChanged($event)">{{b | translate}}
            </mat-checkbox>
          </div>
        </div>
      </div>
      <h3>{{'ORDER' | translate}}</h3>   <!-- ORDER -->
      <div class="responsive">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>{{'ORDER.TYPE' | translate}}</mat-label>
          <mat-select #max_type
                      formControlName="type"
                      aria-label="Select a Type"
                      multiple>
            <mat-option *ngFor="let t of types"
                        #option_type
                        [value]="t"
                        role="option"
                        [disabled]="max_type?.selected.length >= 2 &&
                                    !option_type.selected">
                        {{t | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>{{'TYPE' | translate}}</mat-label>
          <mat-select formControlName="sort">
            <mat-option value="1" role="option">{{'ORDER.ASC' | translate}}</mat-option>
            <mat-option value="-1" role="option">{{'ORDER.DESC' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h3>{{'STARS' | translate}}</h3>   <!-- STARS -->
      <app-star-filter (changed)="starChanged($event)"></app-star-filter>
      <button mat-button
              class="btn-pink"
              aria-label="Search"
              type="submit">{{'SEARCH' | translate}}
      </button>
    </form>
  </div>
</app-content-box>


