<div class="search-area"
    [ngClass]="{'has-focus': focused}">
  <span matPrefix>  <!-- INPUT PREFIX -->
    <mat-icon aria-hidden="false"
              aria-label="Search">
              search
    </mat-icon>
  </span>
  <input (focus)="focused = true"
         (focusout)="focused = false"
         type="text"
         placeholder="¿Buscas algo en particular?">  <!-- INPUT -->

  <div class="search-hint"
      [ngClass]="{'display': focused}">  <!-- POP UP SEARCH -->
    <ul>
      <li *ngFor="let l of logos"
          [routerLink]="'category/' + l.link">
        <img [src]="l.picture | image:'logos'"/>  <!-- LOGO LIST -->
        <span>{{l.name}}</span>
      </li>
    </ul>
  </div>
</div>

