<div class="search-area"
     [ngClass]="{'has-focus': focused}">
  <span matPrefix>  <!-- INPUT PREFIX -->
    <mat-icon aria-hidden="false"
              aria-label="Search">
              search
    </mat-icon>
  </span>
  <input (focus)="focused = true"
         (focusout)="focusOut()"
         (keyup.enter)="focusOut()"
         type="text"
         aria-label="Search"
         [placeholder]="'nav.search' | translate"
         [(ngModel)]="value">  <!-- INPUT -->

  <div class="search-hint"
      [ngClass]="{'display': focused}">  <!-- POP UP SEARCH -->
    <ul>
      <li *ngFor="let c of categories"
          [routerLink]="'category/' + c.category">
        <img [src]="c.icon | image:'logos'"
             [alt]="c.category" loading="lazy"/>  <!-- LOGO LIST -->
        <span>{{c.name}}</span>
      </li>
    </ul>
  </div>
</div>

