form, mat-form-field, textarea {
  width: 100%;
}

textarea { min-height: 100px }

h5 {
  margin-top: 0;
  margin-bottom: 1.4rem;
  font-size: 1.3rem;
  @media(max-width: 550px) { margin-bottom: 1.66rem }
}

button {
  margin-top: .6rem;
  margin-left: 1rem;
}
