.col-lg-6 {
 box-sizing: border-box;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

.flex-box {
  align-items: flex-start;
  justify-content: flex-start;
}

figure { margin: 0 0 1rem }
.overlay-bg:hover mat-icon { color: var(--angular-color) }

