.stars {
  width: 100%;
  margin-top: -1.5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width: 550px) {
    display: block;
    margin-top: -2.5rem;
  }

  & h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    @media(max-width: 550px) {
      font-size: 1.3rem;
      text-align: center;
    }
  }

  &-select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;  // Note THIS
    @media(max-width: 550px) {
      justify-content: center;
      margin-bottom: 3rem;
    }
  }
}

input.star { display: none; }

label.star {
  float: left;
  padding-left: 10px;
  font-size: 2rem;
  color: #444;
  transition: all .2s;
  @media(max-width: 550px) {
    padding-left: 0;
    padding-right: 10px;
  }
}

 input.star:checked ~ label.star:before {
  content: '\f005';
  color: var(--stars-color);
  transition: all .25s;
}

input.star-1:checked ~ label.star:before {
  color: var(--stars-color);
  text-shadow: 0 0 10px #952;
}

input.star-5:checked ~ label.star:before { color: #F62; }
label.star:hover {
  transform: rotate(15deg) scale(1.3);
  cursor: pointer;
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
