.content-message {
  box-sizing: border-box;
  margin: 1.2rem auto;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: rgba(236, 236, 236, 0.295);
  display: grid;
  grid-template-columns: 11rem 1fr;

  &.other {
    background: rgba(185, 184, 184, 0.295);
    & .user { background: rgb(48, 53, 87) }
  }

  & .user {
    display: flex;
    align-items: center;
    background: var(--new-color);
    border-top-left-radius: var(--content-border-radius);
    border-bottom-left-radius: var(--content-border-radius);
    height: 100%;
    color: var(--light-color);
    padding: 0 1rem;

    & span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90%;
    }

    & img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      padding: 0;
      margin-right: 1rem;
      position: relative;
      top: 1px;
    }
  }

  @media(max-width: 993px) {
    max-height: 100%;
    grid-template-columns: inherit;

    & .user {
      height: auto;
      padding: .333rem 1rem;
      border-top-left-radius: var(--content-border-radius);
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--content-border-radius);
    }
  }

  & p {
    margin: 0;
    padding: .8rem 1rem;
    font-size: .9rem;

    & span {
      display: block;
      font-weight: bold;
      margin-bottom: .4rem;
      font-size: .95rem
    }
  }

  &.last {
    @media(max-width: 993px) {
      margin-bottom: 3rem;
    }
  }
}


