<app-content-box title="Lista de Código"
                 icon="code">
  <p class="first">
    Bienvenido/a a la lista de código. Aquí encontrarás
    todo el código usado en los artículos de este mismo portal.
    Es una <span class="bold">biblioteca</span> de código donde puedes encontrar cosas interesantes
    y aprender algo nuevo.
  </p><br>
  <p>
    El código está ordenado de forma aleatoria para dar la sensación de que ves nuevo código cada vez.
    Lee la descripción para enterarte de que va el código, infórmate del nivel
    necesario para llevarlo a cabo, eso incluye complejidad, conocimiento del usuario y tiempo de realización.
  </p><br>
  <p>
    Finalmente, el código está ordenado por categorías. Usa la lista para <span class="bold">ordenar</span>
    el código por tu categoría favorita.
  </p><br>
  <p>
    ¡Actualmente hay <span class="bold">{{total}}</span> piezas de código!
  </p>
</app-content-box>
