<app-content-box [title]="'code.list' | translate"
                 icon="code">
  <p class="first">
    {{'welcome.code' | translate}}
    <span class="bold">{{'library' | translate}}</span>
    {{'of.code' | translate}}
  </p><br>
  <p>
  {{'code.intro' | translate}}
  </p><br>
  <p>
    {{'code.final' | translate}}
    <span class="bold">{{'order' | translate}}</span>
    {{'the.code' | translate}}
  </p>
  <div class="wrapper">
    <div class="items">
      <p>{{'result' | translate}}</p>
      <span>{{'content.found' | translate}}: {{code.length}}</span>
    </div>
    <div class="sort">
      <mat-form-field color="accent">
        <mat-label>Categoría</mat-label>
        <mat-select (selectionChange)="filter($event)" #select>
          <mat-option *ngFor="let t of tags" [value]="t.name">
            <div *ngIf="select.panelOpen" class="mat-option">
              <div>
                <mat-icon class="icon">{{t.icon}}</mat-icon>
                <span>{{t.name | translate}}</span>
              </div>
              <span class="sum">{{getSum(t.name)}}</span>
            </div>
            <div *ngIf="!select.panelOpen">
              <span>{{t.name | translate}}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</app-content-box>
