<app-content-box [title]="'code.list' | translate"
                 icon="code">
  <p class="first">
    {{'welcome.code' | translate}}
    <span class="bold">{{'library' | translate}}</span>
    {{'of.code' | translate}}
  </p><br>
  <p>
  {{'code.intro' | translate}}
  </p><br>
  <p>
    {{'code.final' | translate}}
    <span class="bold">{{'order' | translate}}</span>
    {{'the.code' | translate}}
  </p><br>
  <p>
    {{'code.now' | translate}}
    <span class="bold">{{total}}</span>
    {{'code.pieces' | translate}}
  </p>
</app-content-box>
