* { box-sizing: border-box }

.wrapper {
  width: 100%;
  margin-top: 1.5rem;

  & .items {
   & p {
      color: black;
      font-weight: bold;
      font-size: 1.1rem;
    }

    & span { color: var(--p-color) }
  }

  & .sort {
    width: 100%;
    margin-top: .7rem;
   }
}

mat-form-field { width: 100% }

mat-icon {
  position: relative;
  top: -1px;
  margin-right: 1.333rem !important;
  margin-left: 1rem;
  pointer-events: none;
  color: var(--p-color);
}

.mat-option {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.sum {
  color: var(--primary-color);
  font-weight: bold;
  margin-right: 1rem;
}

