* { box-sizing: border-box }

.wrapper {
  width: 100%;
  margin-top: 2.5rem;

  & .result {
    display: flex;
    justify-content: space-between;
    align-items: center;

   & p {
      color: black;
      font-weight: bold;
      font-size: 1.1rem;
    }

    & span { color: var(--p-color) }
  }

  & .sort {
    width: 100%;
    margin: 3rem auto 1rem;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 1rem;

    @media(max-width: 1015px) and (min-width: 777px) {
      grid-template-columns: repeat(4, auto);
    }

    @media(max-width: 776px) {  display: none }

    & > div {
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover span {
        color: var(--primary-color);
      }
    }
  }
}

.sort-tag, .reset, .icon {
  color: var(--p-color);
}

.sort-tag {
  position: relative;
  top: -1px;
  margin-right: 1.333rem !important;
  margin-left: 1rem;
  pointer-events: none;
}

.reset {
  font-size: 2rem;
  position: relative;
  left: -1rem;
  cursor: pointer;
}

.icon {
  margin-right: 1.333rem !important;
}

mat-form-field {
  width: 100%;
  display: none;
  margin: 1rem auto .5rem;

  @media(max-width: 777px) {
    display: block;
  }
}

.mat-option {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.sum {
  color: var(--primary-color);
  font-weight: bold;
  margin-right: 1rem;
}

