mat-dialog-content {
  overflow: hidden !important;
  max-width: 540px;
  h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .col {
    margin-top: 2.33rem;
    margin-bottom: 0rem;
    text-align: center;

    & button {
      width: 50%;
    }
  }

  p { margin: 0 auto }
}
