<mat-dialog-content>
  <h4>Mantenimiento</h4>
  <p>
    Estamos trabajando en mejorar la página y
    es probable que algunas funcionalidades
    no funcionen correctamente. Disculpa las molestias,
    estomos trabajando para que todo vuelva a la normalidad
    lo antes posible. Gracias por tu compresión.
  </p>
  <div class="row">
    <div class="col s12 m12">
      <button mat-button
              class="btn-pink"
              aria-label="Cancel"
              (click)="close()">Entendido</button>
    </div>
  </div>
</mat-dialog-content>
