mat-dialog-content {
  h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .col {
    margin: 1rem auto;
    margin-top: 1.5rem;
    text-align: center;
  }

  p { margin: .5rem auto }
}
