<ng-container *ngIf="(user$ | async) as user; else noUser">
  <app-page-header [title]="user.name"
                   [subTitle]="'public.profile' | translate">
  </app-page-header>
  <app-section input="#f5f7fc">
    <div class="row">
      <div class="col-lg-8 col-md-8">  <!-- CONTENT -->
        <app-profile-info-box [user]="user">
        </app-profile-info-box>
        <app-user-articles-box [user]="user"></app-user-articles-box>
      </div>
      <div class="col-lg-4 col-md-4">   <!-- SIDEBAR -->
        <app-content-box [title]="'loved.lang' | translate">
          <button mat-button class="btn-orange" aria-label="Favorite Language">
            {{user.profile?.language || 'not.defined' | translate}}
          </button>
        </app-content-box>
        <app-articles-sidebar></app-articles-sidebar>
      </div>
    </div>
  </app-section>
</ng-container>

<ng-template #noUser>
  <app-page-header title="Usuario">
  </app-page-header>
  <app-section input="#f5f7fc">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <!-- To do -->
      </div>
      <div class="col-lg-4 col-md-4">
        <!-- To do -->
      </div>
    </div>
  </app-section>
</ng-template>
