<ng-container *ngIf="(user$ | async) as user; else noUser">
  <app-page-header [title]="user.name"
                   [subTitle]="'public.profile' | translate">
  </app-page-header>
  <app-section input="#f5f7fc">
    <div class="row">
      <div class="col-lg-8 col-md-8">  <!-- CONTENT -->
        <app-profile-info-box [user]="user">
        </app-profile-info-box>
        <app-favorite-lang-box *onlyMobile
                                [user]="user">
        </app-favorite-lang-box>
        <app-user-articles-box [user]="user"></app-user-articles-box>
      </div>
      <div class="col-lg-4 col-md-4">   <!-- SIDEBAR -->
        <app-favorite-lang-box [user]="user"
                              *onlyDesktop>
        </app-favorite-lang-box>
        <app-articles-sidebar [block]="true"
                              *onlyDesktop>
        </app-articles-sidebar>
      </div>
    </div>
  </app-section>
</ng-container>

<ng-template #noUser>
  <app-page-header title="Usuario"
                   [subTitle]="'public.profile' | translate">
  </app-page-header>
  <app-section input="#f5f7fc">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <app-profile-info-box></app-profile-info-box>
      </div>
      <div class="col-lg-4 col-md-4">
        <app-favorite-lang-box></app-favorite-lang-box>
      </div>
    </div>
  </app-section>
</ng-template>
