<ul class="badge">  <!-- FIRST LINE -->
  <li *ngFor="let b of content.badges | slice:0:2">
    <span [class]="b | badge">
                      {{b | translate}}
    </span>
  </li>
  <li>
    <div class="badge-category hide-mobile">
      <img [src]="(content.category | logo) | image: 'logos'"
           [alt]="content.category" loading="lazy"/>
      <span class="white">{{content.category | translate}}</span>
    </div>
  </li>
</ul>
<ul class="meta">  <!-- SECOND LINE -->
  <li *ngFor="let c of content.tags | slice:0:2">
    <span class="meta-type">{{c | translate}}</span>
  </li>
  <li>
    <span class="meta-star meta-star-icon">
      {{content.stars}} <mat-icon>star_rate</mat-icon>
    </span>
  </li>
  <li>
    <span class="meta-review meta-review-icon">
      {{content.likes}} <mat-icon>favorite</mat-icon>
    </span>
  </li>
</ul>
<!-- THRID LINE -->
<ng-container *ngIf="type === 'category'">
  <h1>{{content.name | translate}}</h1>
  <p>{{content.title | translate}}</p>
</ng-container>

<ng-container *ngIf="type === 'article'">
  <h1>{{content.title | translate}}</h1>
  <p>{{'WRITE.BY' | translate}}
    <span class="active">{{content.author | translate}}</span>
  </p>
</ng-container>


