<div class="sign-up-wrapper animated fadeIn">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent" appearance="outline">  <!-- NAME -->
      <mat-label>{{'name' | translate}}</mat-label>
      <input matInput
             formControlName="name"
             autocomplete="off">
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline">  <!-- EMAIL -->
      <mat-label>{{'email' | translate}}</mat-label>
      <input matInput
             formControlName="email"
             autocomplete="off">
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline">  <!-- PASSWORD -->
      <mat-label>{{'password' | translate}}</mat-label>
      <input matInput
             formControlName="password"
             type="password"
             [ngClass]="{'valid': !matchError}"
             autocomplete="off">
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline">  <!-- REPEAT -->
      <mat-label>{{'repeat.password' | translate}}</mat-label>
      <input matInput
             formControlName="password2"
             type="password"
             [ngClass]="matchError === true ? 'invalid' : 'valid'"
             autocomplete="off">
    </mat-form-field>

    <div class="check">
      <mat-checkbox [(ngModel)]="conditions"
                    [ngModelOptions]="{standalone: true}">
            {{'i.accept' | translate}}
      </mat-checkbox>
      <span (click)="openConditions()"
            class="bold"> {{'terms.use' | translate}}
      </span>
    </div>

    <button type="submit"
            class="btn-orange"
            aria-label="Register"
            [disabled]="signUpForm.invalid || !conditions"
            mat-button>
      {{'register' | translate}}
    </button>
  </form>
</div>
