.sign-up-wrapper {
  position: relative;
}

form { margin-top: 1rem }
mat-form-field { width: 98% }
mat-hint { font-size: .8rem }
.invalid { color: red }
.valid { color: var(--success-color) }

button {
  width: 100%;
  color: var(--light-color);
  margin-top: 1.2rem;
}

.check {
  text-align: left;

  & mat-checkbox {
    display: inline-flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.bold {
  font-weight: normal !important;
  cursor: pointer;
  &:hover { font-weight: bold !important }
 }



