.sign-up-wrapper {
  position: relative;
  margin-bottom: -.5rem;
}

form { margin-top: 1.8rem }
mat-form-field { width: 98% }
.invalid { color: red }
.valid { color: var(--success-color) }
.bold { cursor: pointer }

button {
  width: 100%;
  color: var(--light-color);
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.check {
  text-align: left;
  margin: .5rem .3rem .5rem auto;

  & mat-checkbox {
    display: inline-flex;
    margin-top: 1rem;
  }
}




