<div class="sign-up-wrapper animated fadeIn">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent" floatLabel="never">
      <input matInput
             [placeholder]="'name' | translate"
             formControlName="name">
      <mat-hint align="end">3-20 {{'chars' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field color="accent" floatLabel="never">
      <input matInput
             [placeholder]="'email' | translate"
             formControlName="email">
      <mat-hint align="end">5-35 {{'chars' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field color="accent" floatLabel="never">
      <input matInput
             [placeholder]="'password' | translate"
             formControlName="password"
             type="password"
             [ngClass]="{'valid': !matchError}">
      <mat-hint align="end">5-25 {{'chars' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field color="accent" floatLabel="never">
      <input matInput
             [placeholder]="'repeat.password' | translate"
             formControlName="password2"
             type="password"
             [ngClass]="matchError === true ? 'invalid' : 'valid'">
    </mat-form-field>

    <div class="check">
      <mat-checkbox [(ngModel)]="conditions"
                    [ngModelOptions]="{standalone: true}">
            {{'i.accept' | translate}}
      </mat-checkbox>
      <span (click)="openConditions()"
            class="bold"> {{'terms.use' | translate}}
      </span>
    </div>

    <button type="submit"
            class="btn-orange"
            aria-label="Register"
            [disabled]="signUpForm.invalid || !conditions"
            mat-button>
      {{'register' | translate}}
    </button>
  </form>
</div>
