<app-content-box [title]="'Artículos de ' + user?.name">
  <div *ngIf="(articles$ | async) as articles">
    <div class="article-item" *ngFor="let a of articles">
      <img [src]="(a.category | logo) | image:'logos'"
             [alt]="a.category" loading="lazy"
             [matTooltip]="a.category"
              matTooltipPosition="above"/>

      <h5 [routerLink]="'/article/' + a.slug">{{a.title}}</h5>

      <div class="article-info">
        <mat-icon class="views"
                  [matTooltip]="'views' | translate"
                  matTooltipPosition="above">
                  visibility
        </mat-icon>
        <span>{{a.views}}</span>

        <mat-icon class="bold"
                  [matTooltip]="'likes' | translate"
                  matTooltipPosition="above">favorite_border
        </mat-icon>
        <span>{{a.likes}}</span>
      </div>
    </div>
    <div *ngIf="articles.length === 0">
      <p>
        <strong>{{user?.name}}</strong>
        aún no ha escrito ningún artículo.
      </p>
    </div>
  </div>
</app-content-box>
