.article {
  &-item {
    display: flex;
    position: relative;
    margin-bottom: 1.2rem;

      &:hover {
      cursor: pointer;

      & h5::after {
        width: 2rem;
      }
    }

    &:last-of-type { margin-bottom: 0 }

    & h5 {
      position: relative;
      margin: 0 auto 0 0;
      font-weight: normal;
      font-size: 1rem;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 83%;

      &::after {
        content: "";
        position: absolute;
        width: 0;
        background: var(--primary-color);
        height: .2rem;
        left: 0;
        bottom: 0;
        border-radius: 4px;
        transition: all .3s ease;
      }

      @media(max-width: 550px) {
        font-size: .9rem;
      }
    }

    & img {
      border-radius: 25%;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 0;
      width: 24px;
      &:hover { filter: brightness(1.1) }
    }
  }
}

@media(max-width: 675px) {
  .article-item {
    flex-wrap: wrap;
    margin-bottom: 1rem;

    & img {
      margin-bottom: .3rem;
      margin-right: .8rem;
    }

    &:last-of-type {
      &:after {
        border-bottom: none;
      }
    }
  }
}

@media(max-width: 550px) {
  .article-item {
    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      width: 83%;
      left: 40px;
      border-bottom: 1px solid var(--p-color);
      opacity: .3;
    }
  }
}

p { margin: 0 }

.user-articles {
  position: relative;

  & span {
    position: absolute;
    top: -5rem;
  }
}
