<div class="skeleton" [ngClass]="{'single': single}">
  <figure *ngIf="!single">
    <img src="assets/img/skeleton.png" alt="Skeleton" loading="lazy"/>
  </figure>
  <div class="skeleton-body">
    <h3></h3>
    <ul class="basic-flex" *ngIf="!single">
      <li></li>
      <li></li>
    </ul>
    <div class="skeleton-tags"></div>
    <div class="skeleton-message">
      <div></div>
      <div></div>
      <div></div>
      <ng-container *ngIf="single">
        <div></div>
        <div></div>
      </ng-container>
    </div>
  </div>
</div>
