.loader {
  position: relative;
  width: 100%;
  height: auto;
  margin: 1rem auto;

  @media(max-width: 991px) {
    margin-top: 1rem;
    margin-bottom: 3.2rem;
  }
}

mat-spinner { max-width: 100% }
