ul {
  list-style-type: none;
  padding-left: var(--small-padding);
  margin: 0 auto;
}

li:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.5em;
  width: 1.5em;
}

li:not(p) {
  color: black;
  margin-top: .9rem;
  outline: none;
  font-size: 1.1rem;
  &:first-child { margin-top: 0 }
  &:hover {
    color: var(--primary-color);
    cursor: pointer;
  }

  @media(max-width: 550px) { font-size: 1rem }
}

p {
  margin: 0;
  margin-bottom: 5px;
  margin-top: -3px;
  color: var(--p-color);
  font-size: .9rem !important;
}

.active {
  color: var(--primary-color);
  font-weight: bold;
}
