<app-page-header [title]="'search.content' | translate"
                 [subTitle]="'result' | translate">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-12" id="search-section">  <!-- HEADER -->
      <app-search-sort-bar (grid)="grid = $event">
      </app-search-sort-bar>
    </div>
    <div class="col-lg-4 col-md-4">  <!-- SIDEBAR -->
      <app-search-filter class="desktop"></app-search-filter>
    </div>
    <div class="col-lg-8 col-md-8">  <!-- CONTENT -->
      <div class="col-lg-12">
        <app-search-filter class="mobile"></app-search-filter>
      </div>
      <app-search-result [grid]="grid"></app-search-result>
    </div>
  </div>
</app-section>
