* { box-sizing: border-box }

ul {
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
}

li {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  & .icon {
    margin-right: 1.666rem;
    position: relative;
    top: 1px;
    padding: 0 4px;
    pointer-events: none;
    color: var(--p-color);
  }

  & .select {
    position: absolute;
    right: 0;
  }

  &:hover .icon { filter:brightness(1.3) }
  &:hover .select { color: var(--tertiary-color) }
  &:last-child { margin-bottom: .2rem }
}

