.card {
  &-content {
    background: var(--light-color);
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  & figure {
    margin: 0;
    position: relative;
    outline: none;

    & img {
      width: 100%;
      vertical-align: middle;
      border-style: none;
      outline: none;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      border-bottom: 1px solid var(--new-color-border);
      border-top-left-radius: var(--content-border-radius);
      border-top-right-radius: var(--content-border-radius);

      &:hover {
        cursor: pointer;
        filter: brightness(1.1);
      }
    }
  }

  &-info {
    width: 100%;
    position: relative;

    &-content {
      padding: 1.5rem 1.33333rem 1.06667rem;

      & h1 {
        font-weight: 700;
        line-height: 1.2;
        outline: none;
        color: var(--new-color);
        margin: 0;
        font-size: 1.2rem;
        @media(max-width: 650px) and (min-width: 620px) { font-size: 1rem }
        @media(max-width: 620px) { font-size: 1.2rem }
        @media(max-width: 475px) { font-size: 1.1rem }

        &:hover {
          color: var(--primary-color);
          cursor: pointer;
         }
      }
    }

    &-meta {
      margin-top: 1.2rem;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &-data {
      & ul {
        margin: 1rem 0 0 0;
        padding-left: 0;
       }

      & li {
        list-style: none;
        margin-bottom: .33333rem;
      }

      & p {
        margin: 0;
        line-height: 1.8rem;
        color: var(--p-color);
        @media(max-width: 550px) { line-height: 1rem }

        & mat-icon {
          font-size: 1.1rem;
          position: relative;
          top: 3px;
          color: var(--p-color);
          padding-right: 8px;
        }

        & span {
          @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
          @media(max-width: 325px) { font-size: .8rem }
        }
      }
    }
  }

  &-bottom {
    background-color: var(--new-color);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1.233rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @media(max-width: 550px) { padding: .8rem 1.233rem; }

    &-left img {
      border-radius: 25%;
      display: inline-block;
      width: 24px;
    }

    & span { color: var(--light-color) }

    &-right  {
      & ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      &-count {
        font-size: .86667rem;
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: 1.2rem;
        color: var(--light-color);
        cursor: pointer;

        & span {
          @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
          @media(max-width: 325px) { font-size: .8rem }
        }

        & mat-icon {
          font-size: 1.3rem;
          color: var(--light-color);
          display: inline-block;
          margin-right: 3px;
          margin-top: 6px;
        }
        &:hover mat-icon { color: #3957ff }
      }
    }
  }
}

.hover:hover {
  font-weight: bold;
  cursor: pointer;
 }

.slash { font-weight: normal !important }
.article-level { margin-left: -5px; }

.badge-card-category {
 outline: none;
  & span {
    cursor: pointer;
    &:hover { font-weight: bold }
  }
}

.search {
  @media(min-width: 550px) {
    display: flex;
    & figure {
      flex: 1;
      & img {
        width: 100%;
        height: 100%;
        object-fit: none;
        border-right: 1px solid var(--new-color-border);
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
      }
     }
    & .card-info {
      flex: 2;
     }

    & .card-bottom {
      border-bottom-left-radius: 0;
    }
  }
}

.title h1 { font-size: 1.1rem }

