.card {
  &-content {
    background: var(--light-color);
    margin-bottom: 2rem;
  }

  & figure {
    margin: 0;
    position: relative;

    & img {
      width: 100%;
      vertical-align: middle;
      border-style: none;
      outline: none;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &:hover {
        cursor: pointer;
        filter: brightness(1.2);
      }
    }
  }

  &-badge-content {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  &-info {
    border: 1px solid var(--section-border-color);
    width: 100%;
    position: relative;
    left: -1px;

    &-content {
      padding: 1.6rem 1.33333rem 1.06667rem;

      & h4 {
        font-weight: 700;
        line-height: 1.2;
        outline: none;
        color: var(--title-color);
        margin: 0;
        font-size: 1.2rem;
        @media(max-width: 650px) and (min-width: 620px) { font-size: 1rem }
        @media(max-width: 620px) { font-size: 1rem }

        &:hover {
          color: var(--primary-color);
          cursor: pointer;
         }
      }
    }

    &-meta {
      margin-top: 1.2rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &-data {
      & ul {
        margin: 1rem 0 0 0;
        padding-left: 0;
       }

      & li {
        list-style: none;
        margin-bottom: .33333rem;
      }

      & p {
        margin: 0;
        line-height: 1.8rem;
        color: var(--p-color);
        @media(max-width: 550px) { line-height: 1rem }

        & mat-icon {
          font-size: 1.1rem;
          position: relative;
          top: 3px;
          color: var(--p-color);
          padding-right: 8px;
        }

        & span {
          @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
          @media(max-width: 325px) { font-size: .8rem }
        }
      }
    }
  }

  &-bottom {
    border-top: 1px solid var(--section-border-color);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1.233rem;
    @media(max-width: 550px) { padding: .8rem 1.233rem; }

    &-left img {
      border-radius: 25%;
      display: inline-block;
      width: 24px;
    }

    &-category {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      & mat-icon {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 2.26667rem;
        height: 2.26667rem;
        background: rgba(144,58,249,.1);
        font-size: 1.2rem;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-border-radius: 20rem;
        border-radius: 20rem;
        margin-right: .4rem;
        color: #903af9;
      }

      & span {
        padding-left: 10px;
        color: var(--tag-color);
        font-size: .93333rem;
        @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
        @media(max-width: 325px) { font-size: .8rem }
      }
    }

    &-right  {
      & ul {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      &-count {
        font-size: .86667rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        list-style: none;
        margin-left: 1.2rem;
        color: var(--tag-color);
        cursor: pointer;

        & span {
          @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
          @media(max-width: 325px) { font-size: .8rem }
        }

        & mat-icon {
          font-size: 1.3rem;
          color: #b2b7d0;
          display: inline-block;
          margin-right: 3px;
          margin-top: 6px;
        }

        &:hover mat-icon { color: #3957ff }
      }
    }
  }
}

.hover:hover {
  font-weight: bold;
  cursor: pointer;
 }

.slash { font-weight: normal !important }
.article-level { margin-left: -5px; }

.badge-card-category {
 outline: none;
  & span {
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}

