<div class="card animated fadeIn">
  <article class="card-content" [ngClass]="{'search' : search}">
    <figure [routerLink]="'/article/' + article.slug">  <!-- CARD IMAGE -->
      <img [alt]="article.title"
           #img
           loading="lazy"
           [src]="article.cover"
           (error)="img.src = 'assets/img/no-image.png'; img.alt='No Image'"/>
      <app-article-card-badges [badges]="article.badges"></app-article-card-badges>
    </figure>
    <div class="card-info">  <!-- CARD TITLE -->
      <div class="card-info-content" [ngClass]="{'title' : title}">
        <h1 [routerLink]="'/article/' + article.slug">{{article.title}}</h1>
        <div class="card-info-meta">
          <span class="meta-star-card meta-star-icon">
            {{article.stars}} <mat-icon>star_rate</mat-icon>
          </span>
          <span class="meta-like-card meta-like-icon">
            {{article.likes}} <mat-icon>favorite</mat-icon>
          </span>
        </div>
        <div class="card-info-data">  <!-- CARD INFO -->
          <ul>
            <li>
              <p>
                <mat-icon>place</mat-icon>
                <span class="hover"
                      *ngFor="let t of article.tags | slice:0:2; let i = index">
                  <span class="slash" *ngIf="i >= 1"> - </span>{{t | translate}}
                </span>
              </p>
            </li>
            <li>
              <p>
                <mat-icon>bar_chart</mat-icon>
                <span class="article-level"
                      [ngClass]="{'basic': article.level === 'LEVEL.BASIC',
                                  'medium': article.level === 'LEVEL.MEDIUM',
                                  'hard': article.level === 'LEVEL.ADVANCED'}">
                      {{article.level | translate}}
                </span>
              </p>
            </li>
            <li>
              <p>
                <mat-icon>date_range</mat-icon>
                <span>{{article.created}}</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-bottom">  <!-- CARD BOTTOM -->
        <div class="card-bottom-left">
          <div class="badge-card-category"
               [routerLink]="'/category/' + article.category">
            <img [src]="(article.category | logo) | image:'logos'"
                 [alt]="article.category" loading="lazy"/>
            <span>{{article.category}}</span>
          </div>
        </div>
        <div class="card-bottom-right">
          <ul>
            <li class="card-bottom-right-count">
              <mat-icon>visibility</mat-icon>
              <span>{{article.views}} +</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>
