<app-single-category-index-box></app-single-category-index-box>
<div class="mobile">
  <div class="row">
    <div class="col-lg-12">
      <app-single-category-info-box [category]="category">
      </app-single-category-info-box>
    </div>
  </div>
  <button mat-button
          class="btn-pink"
          aria-label="Favorite">{{'favorite' | translate}}
  </button>
</div>

 <!-- CATEGORY CONTENT -->
<app-single-category-intro [category]="category"></app-single-category-intro>
<app-single-category-concepts [category]="category"></app-single-category-concepts>
<app-single-category-examples [category]="category"></app-single-category-examples>
<app-single-category-faq-box [category]="category"></app-single-category-faq-box>
<app-links-box *ngIf="category?.links.length > 0"
               [links]="category?.links">
</app-links-box>

