<app-single-category-index-box></app-single-category-index-box>
<div class="display">
  <div class="row">
    <div class="col-md-6">
      <app-single-category-info-box></app-single-category-info-box>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <button mat-button class="btn-pink font">Favorite</button>
</div>
<app-single-category-intro-box></app-single-category-intro-box>
<app-single-category-main-box></app-single-category-main-box>
<app-single-category-faq-box></app-single-category-faq-box>
