* { box-sizing: border-box }

.wrapper {
  margin: 3rem auto 4rem;
  width: 100%;
  @media(max-width: 550px) {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

.col-lg-6 {
  max-width: 100%;
  width: 50%;

  @media(max-width: 550px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media(max-width: 992px) {
    width: 100%;
  }
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08),
              0 0 6px rgba(0,0,0,.05);
  padding: 10px 24px 14px 24px;
  margin-bottom: 20px;
  transition: all .3s ease-in;

  & h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: 0;
    color: #333;
  }

  & p { margin-top: 0 }

  & ul {
    list-style: none;
    padding: 0;
    & li { margin: .666rem auto }
  }
}

.primary { color: var(--primary-color) }

.already {
  color: var(--p-color);
  font-size: .9rem;
}
