<div class="about-me">
  <h3 [innerHTML]="'JOB.WORLD' | translate"></h3> <!-- WORK -->
  <p>{{'EXPERIENCE' | translate}}</p>
</div>
<div class="wrapper">
  <div class="row flex">
    <div class="col-lg-6"
         *ngFor="let c of companies">
      <div class="card">
        <h3>{{c.name | translate}}</h3>
        <p>
          <a [href]="c.link" target="NEW">{{c.type | translate}}</a>
        </p>
        <ul>
          <li>
            <span class="primary">{{'RANK' | translate}}</span>:
             <span>{{c.rank}} </span>
             <span class="already"
                   *ngIf="c.now">{{'NOW.WORKING' | translate}}
              </span>
          </li>
          <li class="card-task">
            <span class="primary">{{'TASK.DONE' | translate}}</span>:
             <span *ngFor="let t of c.tasks">{{t | translate}} </span>
          </li>
          <li>
            <span class="primary">{{'FEATURED.CLIENTS' | translate}}</span>:
             <span *ngFor="let cl of c.clients; let last = last">
               {{cl}}<span *ngIf="!last">,</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
