ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 1.1rem;
}

li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2.33333rem;
  padding-left: 45px;

  & .left {
    display: none;
  }

  @media(max-width: 979px) {
    padding-right: 0;
    padding-left: 0;

    & .right {
      display: none;
    }

    & .left {
      display: flex;
    }
  }

  & .icon {
    margin-left: 1.66666rem;

    @media(max-width: 979px) {
      margin-right: 1.66666rem;
      margin-left: 0;
    }

    & span {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 3.5rem;
      height: 3.5rem;
      font-size: 2rem;
      -webkit-border-radius: 20rem;
      border-radius: 20rem;
    }
  }

  & .icon.purple span {
    color: #903af9;
    background: rgba(144,58,249,.1);
  }

  & .icon.success span {
    color: #32cc6f;
    background: rgba(50,204,111,.1);
  }

  & .icon.primary span {
    color: #f5548e;
    background: rgba(245,84,142,.1);
  }

  & p {
    line-height: 1.8rem;
    margin: 0;
    color: #7a82a6;
    text-align: right;

    @media(max-width: 979px) {
      text-align: left;
    }
  }
}

.list-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  top: 3px;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: .2rem;
  margin-top: 5px;
  font-weight: 700;
  line-height: 1.2;
  color: #272b41;
  text-align: right;

  @media(max-width: 979px) {
    text-align: left;
  }
}

@media(max-width: 858px) {
  ul { margin-top: 0 }
}

@media(max-width: 620px) {
  h4 {
    font-size: 1rem;
    position: relative;
    top: -5px;
   }
  p { font-size: .8rem }

  li .icon span {
    width: 2.5rem;
    height: 2.5rem;
  }
}
