.notice {
  &-content {
    position: relative;
    margin-bottom: 4rem;
    & .image {
      width: 350px;
      height: 195px;
      float: right;
      margin: 0 0 4rem 2rem;
      @media(max-width: 700px) {
        float: none;
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: .5rem;
      }
    }

    &-preview {
      padding: 0 0 0 2rem;
      position: relative;
    }

    & .data {
      display: flex;
      position: absolute;
      padding: .5rem 0 .5rem 1rem;
      z-index: 2;
      top: 205px;
      right: 0;

      & .like-desktop {
        margin-right: 2rem;
        @media(max-width: 700px) {
          display: none;
          pointer-events: none;
        }
      }

      & .like-mobile {
        display: none;
        @media(max-width: 700px) {
          display: block;
          position: absolute;
          right: .2rem;
          margin-top: -1px;
        }
      }

      & mat-icon {
        cursor: pointer;
        position: relative;
        top: -1px;
      }

      @media(max-width: 700px) {
        position: relative;
        top: 0;
        margin-bottom: 1rem;
        padding-left: 0;
      }

      & .category {
        border-radius: 25%;
        display: inline-block;
        margin-right: .8rem;
        width: 24px;
        height: 24px;
      }

      &-notice { opacity: .7 }

      & .separator {
        margin: 0 .8rem;
        @media(max-width: 700px) { margin: 0 .5rem }
      }
    }
  }

  & .dot { padding: 0 .4rem }
}
