<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field color="accent">  <!-- NAME -->
    <input matInput
          [placeholder]="'user.name' | translate"
          formControlName="name">
  </mat-form-field>
  <mat-form-field color="accent">  <!-- EMAIL -->
    <input matInput
          [placeholder]="'user.email' | translate"
          formControlName="email">
  </mat-form-field>
  <mat-form-field color="accent" class="select">  <!-- ROL -->
    <mat-label>{{'select.rol' | translate}}</mat-label>
    <mat-select formControlName="rol">
      <mat-option *ngFor="let r of roles" [value]="r.translate" role="option">
        {{r.translate | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" class="select">  <!-- LANGUAGE -->
    <mat-label>{{'favorite.lang' | translate}}</mat-label>
    <mat-select formControlName="language">
      <mat-option *ngFor="let l of languages" [value]="l" role="option">
        {{l}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent">  <!-- AVATAR -->
    <input matInput
          [placeholder]="'url.avatar' | translate"
          formControlName="avatar">
  </mat-form-field>
  <mat-form-field color="accent">  <!-- TWITTER -->
    <input matInput
          [placeholder]="'twitter.page' | translate"
          formControlName="twitter">
  </mat-form-field>
  <mat-form-field color="accent">  <!-- GITHUB -->
    <input matInput
          [placeholder]="'github.page' | translate"
          formControlName="github">
  </mat-form-field>
  <mat-form-field color="accent">  <!-- PORTFOLIO -->
    <input matInput
          [placeholder]="'portfolio.page' | translate"
          formControlName="portfolio">
  </mat-form-field>
  <mat-form-field color="accent" class="textarea">  <!-- BIO -->
    <textarea matInput
              [placeholder]="'my.bio' | translate"
              formControlName="bio">
    </textarea>
  </mat-form-field>

  <button type="submit"
          mat-button
          class="btn-pink"
          aria-label="Edit"
          [disabled]="form.invalid">
          {{'save' | translate}}
  </button>
</form>

