* { box-sizing: border-box }

form {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

mat-form-field {
  width: 46%;
  @media(max-width: 550px) { width: 100% }
}

.textarea { width: 100% !important }
.select { top: -1px }

button {
  margin: 1rem auto;
  width: 100%;
}
