<div class="card-content"
    [ngClass]="{'first': first}"
    *ngIf="!skeleton">
  <div class="user-card">
      <div class="user-card-flex">
        <img [src]="user.profile?.avatar || 'assets/img/profile/no-photo.jpg'"
             alt="Avatar"
             loading="lazy"
             #img
             (error)="img.src = 'assets/img/profile/no-photo.jpg'; img.alt='No Avatar'"/>
        <div>
          <h4>{{user.name}}</h4>
          <span>{{(user.profile?.rol | translate) || 'NOT.DEFINED' | translate}}</span>
          <span *ngIf="user.profile?.language"> |
            <span class="primary">{{user.profile?.language}}</span>
          </span>
        </div>
      </div>
  </div>
  <div class="actions">
    <mat-icon [routerLink]="'/profile/' + user.name">open_in_new</mat-icon>
    <mat-icon (click)="show()">person_add</mat-icon>
    <mat-icon (click)="show()" color="success">thumb_up</mat-icon>
  </div>
</div>

<div *ngIf="skeleton" class="skeleton">
  <h4></h4>
  <div class="info">
    <h3></h3>
  </div>
</div>
