// BADGES
.badge-featured {
  @include badge(#fa8b0c, 0);
}

.badge-popular {
  @include badge(#fd4868, 0);
}

.badge-new {
  @include badge(#4471ee, 0);
}

.badge-featured-article {
  @include badge(#074901, 10px);
  border: 1px solid #ffffffa4;
  padding: .36667rem .66667rem .52222rem;
}

.badge-popular-article {
  @include badge(#ee0000, 10px);
  border: 1px solid #ffffffa4;
  padding: .36667rem .66667rem .52222rem;
}

.badge-new-article {
  @include badge(#214cc2, 10px);
  border: 1px solid #ffffffa4;
  padding: .36667rem .66667rem .52222rem;
}

.badge-category {
  @include badge-category(15px);
}

.badge-card-category {
  @include badge-category(0);
}

.meta-star {
  @include meta-data(var(--success-color), 2.3rem);
}

.meta-star-card {
  @include meta-data(#03963eef, 1.8rem);
}

.meta-like {
  @include meta-data(var(--primary-color), 2.3rem);
}

.meta-like-card {
  @include meta-data(#d40350e8, 1.5rem);
}

.meta-view {
  @include meta-data(var(--react-color), 2.3rem);
}

.meta-view-card {
  @include meta-data(#1288E9d5, 1.5rem);
}

.meta-review {
  @include meta-data(#6f32cc, 2.3rem)
}

.meta-type {
  @include meta-data(transparent, 2.13rem);
  border: 1px solid rgba(255,255,255,.5);
  padding-left: 0;
  padding: 0 1rem;
  @media(max-width: 450px) { padding: 0 .7777rem }
  &:hover {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
   }
}

.verified {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1.06667rem;
  height: 1.06667rem;
  -webkit-border-radius: 20rem;
  border-radius: 20rem;
  margin-left: .96667rem;
  position: relative;
  background: var(--success-color);
}

.verified::before {
  position: absolute;
    content: "";
    width: 2px;
    height: .26667rem;
    background: #fff;
    left: 4px;
    top: 7px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.verified::after {
  position: absolute;
  content: "";
  width: 2px;
  height: .53333rem;
  background: #fff;
  left: 9px;
  top: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
