.mat-menu-panel {
  margin-top: var(--navbar-menu-dropdown) !important;
  margin-bottom: var(--navbar-menu-dropdown) !important;
  margin-left: -10px !important;
}

.mat-menu-item {
  font-size: var(--primary-font-size) !important;
  font-family: var(--primary-font) !important;
}

.cdk-overlay-pane {
  max-width: 90vw !important;
}

.mat-checkbox-label {
  margin-left: 5px !important;
}

mat-option.category .mat-option-text {
  display: flex !important;
  align-items: center;
}

mat-option.all {
  padding-left: 58px !important;
}

.mat-snack-bar-container {
  min-width: 280px !important;
  max-width: 30vw !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0 0.5em 0.6em !important;
  top: -0.4em;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 .75em 0 1.2em !important;
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(15%) !important;
}

.mat-snack-bar-handset {
  width: auto !important;
  max-width: 93vw !important;
}

