.mat-menu-panel {
  margin-top: var(--navbar-menu-dropdown) !important;
  margin-bottom: var(--navbar-menu-dropdown) !important;
  margin-left: -10px !important;
}

.mat-menu-item {
  font-size: var(--primary-font-size) !important;
  font-family: var(--primary-font) !important;
}

.cdk-overlay-pane {
  max-width: 90vw !important;
}

.mat-checkbox-label {
  margin-left: 5px !important;
}

mat-option.category .mat-option-text {
  display: flex !important;
  align-items: center;
}

mat-option.all {
  padding-left: 58px !important;
}

.mat-snack-bar-container {
  min-width: 280px !important;
  max-width: 30vw !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0 0.5em 0.6em !important;
  top: -0.4em;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

.search-users.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 .75em 0 1.2em !important;
}

.expansion .mat-expansion-panel-body {
  padding: 1.5rem 2rem !important;
  @media(max-width: 550px) { padding: 1.2rem !important }
}

.faq .mat-expansion-panel-body {
  padding: 0 1rem 0 8px !important;
  & p {
    color: var(--p-color)!important;
    margin: 5px auto;
    line-height: 1.5rem;
  }
}

.mat-form-field-label-wrapper {
  left: 1px !important;
  @media(max-width: 550px) {
    left: 3px !important;
  }
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(15%) !important;
}

.mat-snack-bar-handset {
  width: auto !important;
  max-width: 93vw !important;
}

.mat-expansion-panel:not(.mat-expanded)
.mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background: transparent !important;
}

.mat-checkbox-inner-container { top: 2px }
.p-left .mat-option-text { padding-left: .4rem }

.edit-dialog .mat-dialog-container {
  padding: 0 !important;
  border-radius: 10px;
  max-width: 993px;
  @media(max-width: 700px) { height: 80vh !important }
}


