:root {
  .deepblue {
    --primary-color: #000E5C;
    --secondary-color: #47059e;
    --tertiary-color: #4868ff;
   }

  .deepgreen {
    --primary-color: #036103;
    --secondary-color: #8cc507;
    --tertiary-color: #179e36;
  }

  .darkred {
    --primary-color: #700808;
    --secondary-color: #a70c0c;
    --tertiary-color: #ad041a;
  }

  .skyblue {
    --primary-color: #1badad;
    --secondary-color: #1b4ead;
    --tertiary-color: #17fc89;
  }

  .superorange {
    --primary-color: #ff5100;
    --secondary-color: #ff1b1b;
    --tertiary-color: #ffc039;
  }
}
