ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

li {
  margin-bottom: .66rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 50%;
  cursor: pointer;
  & mat-icon { margin-right: 10px }
  &:hover span { color: var(--primary-color) }
}

.display {
  @media(max-width: 993px) { display: none }
}
