<app-content-box title="users.list" icon="person">
  <div [innerHTML]="'users.intro' | translate: {
                                      count: users ? users.length : 0
                                    }">
  </div>
  <div class="search-user">
    <mat-form-field appearance="outline"
                    color="accent"
                    class="search-users">
      <mat-label>{{'search.users' | translate}}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="text"
             matInput
             [(ngModel)]="value"
             (keyup)="search()"
             autocomplete="off">
    </mat-form-field>

    <div class="search-user-sort">
      <span *ngFor="let r of userRols"
            (click)="sort(r.rol)"
            [matTooltip]="r.name"
             matTooltipPosition="above">
        <img [src]="r.icon | image: 'unicode'"/>
      </span>
    </div>
  </div>
  <div id="users-list"></div>
</app-content-box>

<div class="row">
  <div class="col-lg-12" *ngIf="filteredUsers?.length > 0; else skeleton">
    <app-user-card *ngFor="let user of filteredUsers |
                                        paginate: {
                                          itemsPerPage: itemsPerPage,
                                          currentPage: page,
                                          id: 'users-pagination'
                                        }; let first = first"
                    [user]="user"
                    [first]="first">
    </app-user-card>
  </div>

  <ng-template #skeleton>
    <app-user-card [skeleton]="true"
                    *ngFor="let c of [1,2,3,4,5]">
    </app-user-card>
  </ng-template>
</div>

<div class="row">
  <div class="col-lg-12">
    <app-pagination [margin]="0"
                    *ngIf="filteredUsers?.length > itemsPerPage"
                    id="users-pagination"
                    selector="users-list">
    </app-pagination>
  </div>
</div>
