<app-content-box title="USERS.LIST" icon="person">
  <div [innerHTML]="'USERS.INTRO' | translate: {
                                      count: (users$ | async).length || 0
                                    }">
  </div>
  <div class="search-user">
    <mat-form-field appearance="outline"
                    color="accent"
                    class="search-users">
      <mat-label>{{'SEARCH.USERS' | translate}}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="text"
             matInput
             [(ngModel)]="value"
             (keyup)="search()"
             autocomplete="off">
    </mat-form-field>

    <div class="search-user-sort">
      <span *ngFor="let r of userRols"
            (click)="sort(r.rol)"
            [matTooltip]="r.name | translate"
             matTooltipPosition="above">
        <img [src]="r.icon | image: 'unicode'"/>
      </span>
    </div>
  </div>
  <div id="users-list"></div>
</app-content-box>

<div class="row">
  <ng-container *ngIf="(filtered$ | async) as users; else noUsers">
    <div class="col-lg-12">
      <app-user-card *ngFor="let user of users |
                                          paginate: {
                                            itemsPerPage: itemsPerPage,
                                            currentPage: page,
                                            id: 'users-pagination'
                                          }; let first = first"
                      [user]="user"
                      [first]="first">
      </app-user-card>
    </div>
    <div class="col-lg-12">
      <app-pagination [margin]="0"
                      *ngIf="users.length > itemsPerPage"
                      id="users-pagination"
                      selector="users-list">
      </app-pagination>
    </div>
  </ng-container>
</div>

<ng-template #noUsers>
  <app-user-card *ngFor="let c of [1,2,3,4,5]"></app-user-card>
</ng-template>
