.card {
  &-content {
    background: #fff;
    margin-bottom: 2rem;
  }

  & figure {
    margin: 0;
    position: relative;

    & img {
      width: 100%;
      vertical-align: middle;
      border-style: none;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &:hover { cursor: pointer }
    }
  }

  &-badge-content {
    position: absolute;
    left: 1.33333rem;
    top: 1rem;

    & span {
      line-height: 1.6rem;
      padding: 0 .66667rem;
      color: #fff;
      display: block;
      font-size: .8rem;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      font-weight: 600;
      background: #fa8b0c;
    }
  }

  &-info {
    border: 1px solid #e3e6ef;
    width: 100%;
    position: relative;
    left: -0.5px;

    &-content {
      padding: 1.6rem 1.33333rem 1.06667rem;

      & h4 {
        font-weight: 700;
        line-height: 1.2;
        color: #272b41;
        margin: 0;
        font-size: 1.2rem;

        @media(max-width: 325px) { font-size: 1rem }
        @media(max-width: 650px) and (min-width: 620px) { font-size: 1rem }

        &:hover {
          color: var(--primary-color);
          cursor: pointer;
         }
      }
    }

    &-meta {
      margin-top: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &-rating {
      background: #32cc6f;

      & mat-icon {
        font-size: 0.86667rem;
        position: relative;
        left: 5px;
        top: 6px;
      }
    }

    &-message {
      background: #f5548e;

      & mat-icon {
        font-size: 1.2rem;
        position: relative;
        left: 7px;
        top: 2.5px;
        padding-right: 8px;
      }
    }

    &-data {
      & ul {
        margin: 10px 0 0 0;
        padding-left: 0;
       }

      & li {
        list-style: none;
        margin-bottom: .33333rem;
      }

      & p {
        margin: 0;
        line-height: 1.8rem;
        color: #7a82a6;

        & mat-icon {
          font-size: 1.1rem;
          position: relative;
          top: 3px;
          color: #f5548e;
          padding-right: 5px;
        }

        & span {
          @media(max-width: 325px) { font-size: .8rem }
          @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
        }
      }
    }
  }

  &-bottom {
    border-top: 1px solid #e3e6ef;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1.3rem;

    &-category {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      & mat-icon {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 2.26667rem;
        height: 2.26667rem;
        background: rgba(144,58,249,.1);
        font-size: 1.2rem;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-border-radius: 20rem;
        border-radius: 20rem;
        margin-right: .4rem;
        color: #903af9;
      }

      & span {
        padding-left: 10px;
        color: #5d658c;
        font-size: .93333rem;

        @media(max-width: 325px) { font-size: .8rem }
        @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
      }
    }

    &-right  {
      & ul {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      &-count {
        font-size: .86667rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        list-style: none;
        margin-right: 1rem;
        color: #5d658c;
        cursor: pointer;

        & span {
          @media(max-width: 325px) { font-size: .8rem }
          @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
        }

        & mat-icon {
          font-size: 1.3rem;
          color: #b2b7d0;
          display: inline-block;
          margin-right: 3px;
          margin-top: 6px;
        }

        &:hover mat-icon { color: #3957ff }
      }

      &-save {
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        list-style: none;

        & mat-icon {
          margin-right: 0;
          margin-top: 5px;
          font-size: 1.3rem;
          color: #b2b7d0;
          display: inline-block;
          margin-top: 7px;
        }

        &:hover mat-icon { color: #f5548e }
      }
    }
    @media(max-width: 350px) { padding: 1rem .8rem; }
  }
}

.card-info-rating, .card-info-message {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 2rem;
  padding: 0 .35rem;
  font-weight: 700;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0 .46667rem .46667rem 0;
  font-size: .9rem;
  padding-left: 10px;

  &:hover { cursor: pointer }
}

