* { box-sizing: border-box }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

li {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;

  &:hover span {
    color: var(--light-color);
    background: var(--primary-color);
    cursor: pointer;
  }

  & span {
    line-height: 2.33333rem;
    padding: 0 .50667rem;
    display: block;
    border: 1px solid #e3e6ef;
    color: #5d658c;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    @media (max-width: 1072px) { font-size: .9rem }
    @media(max-width: 993px) { font-size: 1rem }
    @media(max-width: 450px) { font-size: .9rem }
  }
}
