<app-content-box title="SCORE.RANKING"
                 icon="insert_chart_outlined">
    <ng-container *ngIf="(stats$ | async) as stats; else noStats">
      <ul>
        <li *ngFor="let s of stats.slice(0,5)">
          <div>
            <img [src]="s.user.profile?.avatar ||
                   'assets/img/profile/no-photo.jpg'"
                 #img
                (error)="img.src = 'assets/img/profile/no-photo.jpg'; img.alt='No Image'">
              <span>{{s.user.name | titlecase}}</span>
          </div>
          <div>
            {{s.score.total}}
            <mat-icon class="stars">star_rate</mat-icon>
          </div>
        </li>
      </ul>
    </ng-container>
</app-content-box>

<ng-template #noStats>
  <ul class="skeleton">
    <li *ngFor="let i of [1,2,3,4]"></li>
  </ul>
</ng-template>
