<div class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-bar-content flex-box">
          <p>
            {{'made.with' | translate}}
            <span>
              <mat-icon class="bold">favorite_border</mat-icon>
            </span>
            {{'by' | translate}}
            <a href="https://github.com/snakone" target="NEW">
              <span class="bold">Allison</span>
            </a>
            {{'using' | translate}}
            <a href="https://angular.io" target="NEW" aria-label="Made with Angular">
              <img src="assets/img/logos/angular-logo.png"
                   alt="Angular" loading="lazy"/>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
