* {
  box-sizing: border-box;
}

.footer-bar {
  padding: 0;
  border-top: 1px solid #e3e6ef;

  &-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0;
    box-sizing: border-box;
    height: var(--footer-bar-height);
    max-height: var(--footer-bar-height);

    & p {
      color: var(--p-color);
      -webkit-box-flex: 2;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2;
      text-align: center;
      @media(max-width: 325px) { font-size: .9rem }
    }

    & mat-icon {
      position: relative;
      font-size: 1rem;
      width: auto;
      height: auto;
      top: 2px;
      left: -1px;
    }
  }
}

