* {
  box-sizing: border-box;
}

.footer-bar {
  padding: 0;
  border-top: 1px solid var(--section-border-color);

  &-content {
    padding: 1rem 0;
    box-sizing: border-box;
    height: var(--footer-bar-height);
    max-height: var(--footer-bar-height);

    & a {
      text-decoration: none;
      & span { font-weight: bold }
    }

    & mat-icon {
      position: relative;
      font-size: 1rem;
      width: auto;
      height: auto;
      top: 3px;
      color: #ab0a0a;
      font-weight: bold;
    }

    & img {
      position: relative;
      top: 4px;
      width: 22px;
      margin-left: 2px;
      &:hover { cursor: pointer }
    }
  }
}

