@mixin button-animated($color1, $color2, $color3) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, $color1, $color2, $color3, $color1);
  background-size: 400%;
  position: relative;
  color: var(--bg-color);

  &:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background-image: linear-gradient(90deg, $color1, $color2, $color3, $color1);
    background-size: 400%;
    opacity: 0;
    transition: .5s;
  }

  &:hover, :hover:before { animation: animate 8s linear infinite }

  @keyframes animate {
    0% { background-position: 0% }
    100% { background-position: 400% }
  }
}
