@mixin badge($color, $margin) {
  line-height: 2.3rem;
  padding: .36667rem .66667rem;
  color: #fff;
  font-size: .8rem;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
  background: $color;
  margin-right: $margin;
  &:hover { cursor: pointer }
}

@mixin badge-category($margin) {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: $margin;

  & span {
    padding-left: 10px;
    color: var(--tag-color);
    font-size: .93333rem;
    @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
    @media(max-width: 340px) { font-size: .8rem }
  }
}

@mixin meta-data($color, $line) {
  color: var(--light-color);
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .35rem;
  font-weight: 700;
  border-radius: 2px;
  margin: 0 .46667rem .46667rem 0;
  font-size: .9rem;
  padding-left: 10px;
  background: $color;
  line-height: $line;
  cursor: pointer;

  &-icon { border: 1px solid #595a613d }

  & mat-icon {
    font-size: 1rem;
    position: relative;
    left: 7px;
    top: 4px;
    padding-right: 2px;
  }

  // &-heart mat-icon {
  //   position: relative;
  //   left: 8px;
  //   top: 4px;
  //   font-size: 1rem;
  //   margin-right: 5px;
  // }

  // &-like {
  //   margin: 0 0 .46667rem .46667rem;
  //   @media(max-width: 992px) { margin: 0 .46667rem .46667rem 0 }

  //   & mat-icon {
  //     font-size: 1.05rem;
  //     position: relative;
  //     top: 5px;
  //   }
  // }

}
