.row {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;

  @media(max-width: 1179px) {
    margin-top: 10px;
   }
}

.col-lg-6 {
  max-width: 425px;
  margin: 0 auto;
  @media(max-width: 800px) { max-width: 400px }
  @media(max-width: 696px) { max-width: 375px }
  @media(max-width: 616px) {
    width: 100%;
    max-width: 100%;
  }

  @media(max-width: 550px) {
   padding-right: 3px;
   padding-left: 3px;
  }
}

.avatar::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 85%;
  background: rgba(0, 0, 0, .1);
  left: -58.5px;
  top: 10px;
  transition: height 1s;
}

@media(max-width: 1212px) {
  .avatar::before {
    height: 0%;
    transition: height 1s;
  }
}



