<div class="profile-info">
  <div class="profile-data">
    <img src="assets/img/profile/no-photo.jpg"/>
    <h3>{{user.name}}</h3>
    <p>{{user.email}}</p>
    <button mat-button class="btn-purple">Software Developer</button>
  </div>
  <div class="profile-social">
    <ul>
      <li class="facebook">Facebook</li>
      <li class="twitter">Twitter</li>
      <li class="bold">Portfolio</li>
    </ul>
  </div>
</div>
<div class="profile-bio">
  <p class="first">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Eum officiis maiores iusto id ex odio quasi assumenda?
    Praesentium obcaecati doloribus quasi beatae cumque, repudiandae
    tempore dicta, corporis amet eius laboriosam!
  </p>
</div>

