<mat-dialog-content>
  <div *ngIf="data.type === 'like'">
    <h3>Crea una cuenta para interactuar</h3>
    <p>Los likes ayudan a que {{data.author}} escriba más artículos.</p>
  </div>

  <div *ngIf="data.type === 'star'">
    <h3>Crea una cuenta para interactuar</h3>
    <p>Las estrellas ayudan a que {{data.author}} sea más respetado/a.</p>
  </div>

  <button mat-button
          class="btn-pink"
          (click)="openLogin(true)">
    Regístrate
  </button>

  <p class="already">{{'with.account' | translate}}
    <span class="bold" (click)="openLogin(false)">
      {{'sign.in' | translate}}
    </span>
  </p>
</mat-dialog-content>
