mat-dialog-content {
  & button {
    width: 100%;
    margin: 1.2rem auto 0 auto;
    display: block;
  }
}

p { margin-bottom: 0 }
.already, .already span { font-size: .9rem }
.already { text-align: center }
.bold { cursor: pointer }

