<mat-dialog-content class="antics-dialog">
  <div *ngIf="data.type === 'like'">
    <h4>
      <mat-icon [style.color]="'blue'">info</mat-icon>
      {{'CREATE.ACCOUNT' | translate}}
    </h4>
    <p [innerHTML]="'DATA.HELPS.LIKES' |
                     translate: {author: data.author}">
    </p>
  </div>

  <div *ngIf="data.type === 'star'">
    <h4>
      <mat-icon [style.color]="'blue'">info</mat-icon>
      {{'CREATE.ACCOUNT' | translate}}
    </h4>
    <p [innerHTML]="'DATA.HELPS.STARS' |
                     translate: {author: data.author}">
    </p>
  </div>

  <button mat-button
          class="btn-pink"
          (click)="openLogin(true)">
    {{'REGISTER' | translate}}
  </button>

  <p class="already">{{'WITH.ACCOUNT' | translate}}
    <span class="bold" (click)="openLogin(false)">
      {{'SIGN.IN' | translate}}
    </span>
  </p>
</mat-dialog-content>
