<div class="contact-chat">
  <div class="chat-header">
    <span>{{'live.chat' | translate}}</span>
    <div class="ring-container">
        <div *ngIf="socket.isOn" class="ringring"></div>
        <div *ngIf="socket.isOn" class="circle"></div>
        <div *ngIf="!socket.isOn" class="circle-red"></div>
    </div>
    <mat-icon class="chat" (click)="closeChat()">close</mat-icon>
  </div>

  <div class="chat-content" id="chat-content">
    <div class="chat-message animated fadeIn"
         *ngFor="let c of chat; let i = index"
         [ngClass]="{'reverse': !c.own}">
      <div class="message-avatar">
        <img [src]="c.avatar || 'assets/img/profile/no-photo.jpg'"/>
      </div>
      <div class="message-bubble">
        <p>{{c.user}}</p>
        <span>{{c.message}}</span>
        <div class="date">
          <span>{{c.date}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-text">
    <textarea rows="1"
              [(ngModel)]="message"
              autofocus
              id="chat-textarea"
              (keydown)="keyDownFunction($event)"
              wrap="hard"
              maxlength="100">
    </textarea>
    <button mat-button
            (click)="sendMessage()"
            [disabled]="!message || message.length > 100">
      <mat-icon class="chat">send</mat-icon>
    </button>
  </div>

</div>
