<div class="chat-box">
  <div class="chat-header">
    <span>{{'LIVE.CHAT' | translate}}</span>
    <div class="ring-container">
      <ng-container *ngIf="isOn">
        <div class="ringring"></div>
        <div class="circle circle-green"></div>
      </ng-container>
      <div *ngIf="!isOn" class="circle circle-red"></div>
    </div>
    <mat-icon class="chat"
              (click)="closeChat()">close
    </mat-icon>
  </div>

 <!-- CHAT MESSAGES -->
  <div class="chat-content" id="chat-content">
    <app-chat-message [user]="userSrv.getUser()"
                      (deleted)="deleteMessage($event)">
    </app-chat-message>
  </div>

 <!-- INPUT TEXT -->
  <div class="chat-text">
    <textarea rows="1"
              autofocus
              [(ngModel)]="message"
              name="message"
              id="chat-textarea"
              (keyup.enter)="keyDownFunction()"
              wrap="hard"
              maxlength="100">
    </textarea>
    <button mat-button
            (click)="sendMessage()"
            [disabled]="!message || message.length > limit">
      <mat-icon class="chat">send</mat-icon>
    </button>
  </div>
</div>
