<ngx-loading-bar [includeSpinner]="false"
                 height="4px"
                 ref="http">
</ngx-loading-bar>

<div id="app" class="hide">
  <app-navbar></app-navbar>
  <main class="outlet">
    <router-outlet #outlet></router-outlet>
    <app-public-chat></app-public-chat>
    <app-go-top></app-go-top>
  </main>
  <app-footer></app-footer>
</div>

<ng-container *ngIf="!loaded">
  <app-loading></app-loading>
</ng-container>

<div class="min-width">
  <h2 [innerHTML]="'MIN.WIDTH' | translate"></h2>
</div>
