<app-page-header title="Artículo"
                 subTitle="Artículo">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-8 col-md-8">  <!-- ARTICLE CONTENT -->
      <app-article-card *ngIf="article"
                        [article]="article"
                        [padding]="0"
                        [stars]="true">
        <app-article-maker [article]="article"></app-article-maker>
        <app-article-links-box *ngIf="article.links.length > 0"
                               [article]="article">
        </app-article-links-box>
        <app-disqus [identifier]="article.slug"></app-disqus>
      </app-article-card>
      <app-loading *ngIf="!article"></app-loading>
    </div>
    <div class="col-lg-4 col-md-4">  <!-- SIDEBAR -->
      <app-articles-sidebar [single]="true"></app-articles-sidebar>
    </div>
  </div>
</app-section>
<app-footer></app-footer>
