<app-page-header [title]="article?.title || 'Artículo'"
                 [subTitle]="'article' | translate">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row">  <!-- ARTICLE CONTENT -->
    <div *ngIf="article" class="col-lg-8 col-md-8">
      <app-article-card id="single-article-section"
                        [article]="article"
                        [single]="true">
        <hr class="mobile">
        <app-article-index-box class="mobile"
                               [index]="article.index"
                               [mobile]="true">
        </app-article-index-box>
        <hr class="mobile">
        <app-content-maker [template]="article.message"></app-content-maker>
        <app-links-box *ngIf="article.links.length > 0"
                       [links]="article.links">
        </app-links-box>
      </app-article-card>
      <app-star-rating [article]="article"></app-star-rating>
      <app-disqus [identifier]="article.slug"></app-disqus>
    </div>
    <div *ngIf="!article" class="col-lg-8 col-md-8">
      <app-article-card-skeleton [single]="true"></app-article-card-skeleton>
    </div>
    <div class="col-lg-4 col-md-4">  <!-- SIDEBAR -->
      <app-article-index-box class="desktop"
                             [index]="article?.index">
      </app-article-index-box>
    </div>
  </div>
</app-section>
<app-footer></app-footer>
