<ng-container *ngIf="related?.length > 0">
  <h2>{{'RELATED.ARTICLES' | translate}}</h2>
  <div class="row">
    <div class="col-md-6" *ngFor="let a of related">
      <div class="related">
        <figure [routerLink]="'/article/' + a.slug">
          <img [src]="a.cover"/>
        </figure>
        <div class="related-content">
          <span>{{a.title}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="see-more">
    <mat-icon>forward</mat-icon>
    <a (click)="seeMore()">{{'SEE.MORE' | translate}}</a>
  </div>
</ng-container>
