<div class="navbar-wrapper">
  <div class="navbar-menu">
    <ul>
      <li *ngFor="let i of items"
          [routerLink]="i.link"
          routerLinkActive="active">  <!-- MENU LIST -->
        <button class="hvr-underline-from-left"
                mat-button>{{i.name | translate}}
        </button>
      </li>
      <li>
        <button mat-button
                class="navbar-menu-btn"
                [matMenuTriggerFor]="menu"
                aria-label="Menu"
                (click)="collapse = !collapse">  <!-- MENU BUTTON -->
            {{'menu' | translate}}
          <span [ngClass]="{'collapsed' : collapse}"
                class="navbar-menu-dropdown">&#x25BC;
          </span>
        </button>
        <mat-menu #homeMenu="matMenu">
          <div class="flex-box"
               *ngFor="let m of dropdown">
            <button class="menu-dropdown"
                    mat-menu-item
                    aria-label="Menu Item"
                    [routerLink]="m.link">
              <mat-icon>{{m.icon}}</mat-icon>
                  {{m.name | translate}}
            </button>
          </div>
          <div *ngIf="(user$ | async) as user">
            <div class="flex-box"
                *ngIf="user.account === 'Admin' || user.account === 'Super'">
              <button class="menu-dropdown"
                      mat-menu-item
                      aria-label="Admin"
                      routerLink="/admin">
                <mat-icon>security</mat-icon>
                    Admin
              </button>
            </div>
          </div>
        </mat-menu>
      </li>
    </ul>
  </div>
</div>


