@import "../../../../../../../assets/styles/mixins/rotation.scss";

.navbar-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: var(--small-padding);

  &-btn {
    padding-right: 20px;
  }

  &-dropdown {
    position: relative;
    left: 7px;
    font-size: .8em;
    display: inline-block;
    @include rotation(0deg);
  }

  @media (max-width: 850px) {
    display: none;
  }
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  color: var(--light-color);
  text-align: center;
  padding: 0 5px;
  text-decoration: none;
  outline: none;

  &.create {
    color: var(--primary-color);
    & button span { font-weight: bold }
  }
}

.collapsed {
  color: var(--primary-color);
  @include rotation(-270deg);
}

.menu-dropdown {
  padding-left: .6rem;
  padding-right: 2rem;

  &:hover { mat-icon { color: var(--primary-color) !important } }
}

mat-icon {
  padding-left: .5rem;
  margin-top: -3px;
  color: black !important;
}


