<app-content-box>
    <div class="wrapper">
      <div class="items">
        <p>{{'total.articles' | translate}}</p>
        <span>{{'articles.found' | translate}}: {{count$ | async}}</span>
      </div>
      <div class="sort">
        <mat-icon (click)="sort()"
                  [matTooltip]="'list' | translate"
                  matTooltipPosition="above"
                  [ngClass]="{'active': !active}">list_alt</mat-icon>
        <mat-icon (click)="sort()"
                  [matTooltip]="'grid' | translate"
                  matTooltipPosition="above"
                  [ngClass]="{'active': active}">border_all</mat-icon>
      </div>
    </div>
  </app-content-box>
