<div class="page-header">
  <div class="header-bg">
    <video playsinline
           webkit-playsinline
           autoplay="autoplay"
           loop="loop"
           preload="auto"
           muted>
      <source [src]="background" type="video/mp4"/>
    </video>
    <div class="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>{{title | translate}}</h1>
            <nav aria-label="breadcrumb">
              <ol class="flex-box">
                <li>{{'HOME' | translate}} <span class="bold">></span> </li>
                <li class="breadcrumb-title"> {{subTitle | translate}}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
