<div class="page-header">
  <div class="header-bg"
       [style.backgroundImage]="'url('+ background +')' | sanitizer:'style'">
    <div class="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>{{title}}</h1>
            <nav aria-label="breadcrumb">
              <ol class="flex-box">
                <li>{{'home' | translate}} <span class="bold">></span> </li>
                <li class="breadcrumb-title"> {{subTitle}}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
