.wrapper {
  margin-top: 30px;
  margin-bottom: -20px;
  padding-bottom: 20px;
  box-sizing: border-box;

  @media(max-width: 992px) { padding-bottom: 40px }
}

.disqus {
  position: relative;
  top: 30px;
  box-sizing: border-box;
}
