.wrapper {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @media(max-width: 993px) {
    margin-bottom: 1.5rem;
   }
}

.disqus {
  position: relative;
  top: -10px;
  box-sizing: border-box;
  @media(min-width: 991px) { top: 0 }
}
