.header-bg {
  position: relative;
  height: 100vh;
  width: 100%;
  min-width: var(--app-min-width);
  min-height: var(--app-min-height);
  top: calc(var(--navbar-height) * -1);
  left: 0;
  background-image: url('assets/img/bg.jpeg');
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 1;
}

.home { min-width: var(--app-min-width) }
