.header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: var(--app-min-width);
  min-height: var(--app-min-height);
  top: 0;
  left: 0;
  background-image: url(http://aazztech.com/demos/themes/html/direo/img/intro.jpg);
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 1;
}

.home { min-width: var(--app-min-width) }
