<div class="home">
    <div class="header-bg"> <!-- BACKGROUND -->
      <app-header-home></app-header-home>  <!-- HEADER -->
      <app-category-home></app-category-home>  <!-- CATEGORIES -->
      <app-articles-home></app-articles-home>  <!-- ARTICLES -->
      <!-- <app-features-home></app-features-home>  FEATURES -->
      <app-best-home></app-best-home>  <!-- BEST -->
      <app-testimonial-home></app-testimonial-home>  <!-- TESTIMONIAL -->
      <app-contact-home></app-contact-home>  <!-- CONTACT ME -->
      <app-footer></app-footer>  <!-- FOOTER -->
    </div>
</div>


