.header {
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;

  &-container {
    max-width: var(--container-width);
    text-align: center;
    padding: 0 30px;
    margin-top: calc(var(--navbar-height) - var(--small-padding));
  }

   &-slogan { margin-bottom: 1.8rem }
  &-categories { margin-top: 2.2rem }
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 1.5
}

p {
  font-size: 1.08rem;
  color: rgba(255, 255, 255, .8);
  margin: 0;
  padding: 0 10px;
}

@media(max-width: 750px) {
  h1 {
      font-size: 2.2rem;
      margin-top: 10px;
      margin-bottom: 15px;
     }

  p { font-size: 1rem }
}

@media(max-width: 525px) {
  h1 {
      font-size: 1.8rem;
      margin-top: 20px;
  }

  .header-container {
    padding: 0 20px;
    margin-top: var(--navbar-height-mobile);
  }
}

@media(max-width: 350px) {
  h1 { font-size: 1.4rem }
  p { font-size: .8rem }
}
