<section class="header">
  <div class="header-container">
    <div class="header-slogan">  <!-- SLOGAN -->
      <h1>Aprende Programación</h1>
      <p>
        Encuentra todo tipo de artículos relacionados, tutoriales, código, vídeos...
      </p>
    </div>
    <div class="header-search">  <!-- SEARCH -->
      <app-header-search></app-header-search>
    </div>
    <div class="header-categories">  <!-- SQUARE CATEGORIES  -->
      <app-header-category></app-header-category>
    </div>
  </div>
</section>


