<section class="header">
  <div class="header-container">
    <div class="header-slogan">  <!-- SLOGAN -->
      <h1>Find the Best Places to Be</h1>
      <p>All the top locations – from restaurants and clubs, to galleries, famous places and more..</p>
    </div>
    <div class="header-search">  <!-- SEARCH -->
      <app-header-search></app-header-search>
    </div>
    <div class="header-categories">  <!-- CATEGORIES  -->
      <app-header-category></app-header-category>
    </div>
  </div>
</section>


