<app-content-box>
  <div class="wrapper">
    <div class="items">
      <p>{{'RESULT' | translate}}</p>
      <span>{{'ARTICLES' | translate}}: {{count$ | async}}</span>
    </div>
    <div class="sort">
      <mat-icon (click)="sort()"
                [matTooltip]="'GRID' | translate"
                matTooltipPosition="above"
                [ngClass]="{'active': active}">border_all</mat-icon>
      <mat-icon (click)="sort()"
                [matTooltip]="'LIST' | translate"
                matTooltipPosition="above"
                [ngClass]="{'active': !active}">list_alt</mat-icon>
      <mat-icon (click)="reset()"
                matTooltip="Reset"
                matTooltipPosition="above"
                class="reset">autorenew</mat-icon>
    </div>
  </div>
</app-content-box>
