<div class="content-header">
  <div class="header-bg"
       *ngIf="content"
       [style.background-image]="'url('+ content.cover +')' | sanitizer: 'style'"
       [ngClass]="{'bg-top' : type === 'category' && bgTop.includes(content.category) }">
    <div class="content-header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-7">
            <app-single-content-header-left [content]="content"
                                            [type]="type">
            </app-single-content-header-left>
          </div>
          <div class="col-lg-5 col-md-5 content-header-content-right">
            <app-single-content-header-right [content]="content"
                                             [type]="type">
            </app-single-content-header-right>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bg" *ngIf="!content"></div>
</div>
