* { box-sizing: border-box }

$width-image: 355px;

.news-card {
  background: var(--light-color);
	border-radius: var(--content-border-radius);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 1.666rem auto;
	overflow: hidden;
  width: 100%;
  position: relative;
  max-height: 257px;

  & img:not(.logo) {
    display: block;
    max-width: $width-image;
    width: 100%;
  }

  &.skeleton {
    pointer-events: none;

    & img {
      display: block;
      max-width: calc($width-image + 20px);
      width: 100%;
      background: var(--skeleton-color);
    }

    & .content {
      position: relative;
      padding: 1.4rem 1.666rem 1.666rem 1.9rem;
      width: 100%;
      & h4 {
        width: 18rem;
        background: var(--skeleton-color);
        margin-bottom: 1.2rem;
        margin-top: .4rem;
        outline: none;
        height: 1.7rem;
      }

      & p {
        width: 100%;
        background: var(--skeleton-color-tint);
        margin-bottom: .5rem;
        margin-top: .5rem;
        outline: none;
        height: 1.1rem;

        &:last-of-type {
          width: 60%;
        }
      }

      & .read {
        position: absolute;
        font-size: .9rem;
        right: 1.3rem;
        bottom: .8rem;
        position: absolute;
        width: 4rem;
        background: var(--skeleton-color);
        height: 1rem;
      }
    }
  }
}

@media(max-width: 855px) {
  .news-card {
    flex-direction: column;
    max-height: inherit;
    & img:not(.logo) { max-width: 100% }

    &-content { width: auto }

    &-category {
      position: relative;
      width: 100%;
    }
  }

  .news-card.skeleton {
    & .content {
      & p { width: 90% }
    }
  }
}

@media(max-width: 725px) {
  .news-card.skeleton {
    & .content {
      & p { width: 85% }
      & h4 { height: 1.5rem }
    }
  }
}

@media(max-width: 550px) {
  .news-card.skeleton {
    & .content {
      padding: 1.5rem 1rem;
      & h4 { width: 15rem }
    }
  }
}

@media(max-width: 350px) {
  .news-card.skeleton {
    & .content {
      & p { width: 75% }
      & h4 { width: 10rem }
    }
  }
}
