<div class="article-wrapper">
 <div class="article-card" [ngClass]="{'article-card-shadow' : shadow}">
   <figure (click)="goToArticle(article.slug)">
     <img [src]="article.cover"/>
   </figure>
   <div class="article-card-body" [ngStyle]="{'padding': '2rem ' + padding + 'rem'}"
        [ngClass]="{'article-card-body-padding': padding === 2}">
      <h3 (click)="goToArticle(article.slug)">{{article.title}}</h3>
      <div class="article-card-info">
          <ul>
            <div class="basic-flex">
              <li>{{article.created}}</li>
              <li>by {{article.author}}</li>
              <app-star-rating *ngIf="stars" class="stars"></app-star-rating>
            </div>
          </ul>
          <div class="article-card-tags">
            <span class="category-tag"
                  *ngFor="let t of article.tags">
                  {{t}}
            </span>
          </div>
      </div>
      <ng-content></ng-content>
  </div>
 </div>
</div>
