<div class="article-wrapper animated fadeIn" [ngClass]="{'single' : single}">
 <div class="article-card" [ngClass]="{'article-card-shadow' : shadow}">
   <figure [routerLink]="'/article/' + article.slug">  <!-- ARTICLE IMAGE -->
     <img loading="lazy" [alt]="article.title" [src]="article.cover"/>
     <app-article-card-badges [badges]="article.badges"></app-article-card-badges>
   </figure>  <!-- ARTICLE CARD -->
   <div class="article-card-body">
      <h3 *ngIf="!single"
          [routerLink]="'/article/' + article.slug">{{article.title}}
      </h3>
      <ul class="basic-flex">
        <li>
          <span class="bold black">{{'published' | translate}} </span>
          {{article.created}}
        </li>
        <li class="author">
          <span class="bold black">{{'written' | translate}} </span>
          <span class="bold link"
                [routerLink]="'/profile/' + article.author">
                {{article.author}}
          </span>
        </li>
        <!-- <app-article-reactions [article]="article"
                               [single]="single"
                               [box]="false"
                               class="reaction-desktop">
        </app-article-reactions> -->
      </ul>
      <div class="article-card-body-tags">  <!-- ARTICLE TAGS -->
        <span class="category-tag"
              *ngFor="let t of article.tags">{{t | translate}}
        </span>
      </div>
      <!-- <app-article-reactions [article]="article"
                             [single]="single"
                             [box]="false"
                             class="reaction-mobile">
      </app-article-reactions> -->
      <ng-content></ng-content>
  </div>
 </div>
</div>
