<div class="article-wrapper"
     *ngIf="article"
     [ngClass]="{'single' : single}">
 <div class="article-card" [ngClass]="{'article-card-shadow' : shadow}">
   <figure [routerLink]="'/article/' + article.slug">  <!-- ARTICLE IMAGE -->
     <img [src]="article.cover"/>
     <app-article-card-badges [badges]="article.badges"></app-article-card-badges>
   </figure>  <!-- ARTICLE CARD -->
   <div class="article-card-body">
      <h3 *ngIf="!single"
          [routerLink]="'/article/' + article.slug">{{article.title}}
      </h3>
      <ul class="basic-flex">
        <li>
          <span class="bold">Publicado: </span>
          {{article.created}}
        </li>
        <li class="author">
          <span class="bold">Escrito: </span>
          {{article.author}}
        </li>
        <app-article-reactions [article]="article"
                               [single]="single"
                               [box]="false">
        </app-article-reactions>
      </ul>
      <div class="article-card-body-tags">  <!-- ARTICLE TAGS -->
        <span class="category-tag"
              *ngFor="let t of article.tags">{{t}}
        </span>
      </div>
      <ng-content></ng-content>
  </div>
 </div>
</div>
