.article {
  &-wrapper { margin-bottom: 3rem }
  &-card {
    -webkit-border-radius: .26667rem;
    border-radius: .26667rem;
    border: 0 none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    &-shadow {
      -webkit-box-shadow: 0 0.33333rem 1rem rgba(39,43,65,.06);
      box-shadow: 0 0.33333rem 1rem rgba(39,43,65,.06);
    }

    & figure {
      position: relative;
      margin: 0;
      outline: none;
      & img {
        width: 100%;
        vertical-align: middle;
        border-style: none;
        margin-top: 1px;  // Border of SideBar
        &:hover {
          cursor: pointer;
          filter: brightness(1.1);
        }
      }
    }

    &-body {
      padding: 1.8rem 2rem;
      position: relative;
      @media(max-width: 700px) { padding: 1.5rem 1rem; }

      & ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: .7rem;
        margin-top: 0;
      }

      & li {
        font-size: .93333rem;
        color: var(--p-color);
        margin-right: 1.2rem;
        line-height: 1.6rem;
        display: inline-block;
      }

      & p {
        margin: 0;
        line-height: 1.8rem;
        color: var(--p-color);
      }

      & h3 {
        margin-bottom: 1rem;
        margin-top: 0;
        outline: none;
        font-size: 1.66rem;
        line-height: 2rem;
        color: var(--primary-color);
        @media(max-width: 650px) { font-size: 1.33rem }

        &:hover {
          color: var(--violet-color);
          cursor: pointer;
        }
      }

      &-tags {
        margin-top: 1.3rem;
        margin-bottom: 1.2rem;
        @media(max-width: 700px) {
          margin-top: .1rem;
          margin-bottom: 0;
        }
       }
    }
  }
}

.basic-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @media(max-width: 700px) { display: inline-block }
}

.author { color: var(--tag-color) }

.single {
  margin-bottom: 0 !important;
  @media(max-width: 550px) { margin-bottom: 1rem !important }

  .article-card-body {
    padding: 1.8rem 0 !important;
    padding-bottom: 2rem !important;
    & ul { margin-top: .7rem !important }
  }
 }

.link {
  cursor: pointer;
  outline: none;
  font-weight: normal !important;
  &:hover { font-weight: bold !important }
}

.reaction-desktop {
  @media(max-width: 700px) { display: none }
}

.reaction-mobile {
  @media(min-width: 701px) { display: none }
}

.split {
  @media(max-width: 700px) { margin-bottom: 2rem }
}
