.invalid { color: red }
.valid { color: var(--success-color) }

p:first-child { margin-top: 0 }

button {
  width: 50%;
  color: var(--light-color);
  margin-top: 1rem;
  margin-bottom: 0;
  @media(max-width: 550px) { width: 100% }
}

form { margin-top: 2rem }

mat-form-field {
  display: block;
  width: 50%;
  margin-bottom: .5rem;
  @media(max-width: 550px) { width: 100% }
}
