@import "./../../../../../assets/styles/mixins.scss";

.search-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding: 1rem 2rem;
  -webkit-border-radius: .1875rem;
  border-radius: .1875rem;
  color: black;
}

form {
  width: 100%;
  max-width: 960px;

  & button {
    padding: 5px 35px;
  }
}

mat-form-field {
  padding-right: 40px;

  &:nth-last-child() {
    padding-right: 20px;
  }
}

.category {
  top: -1px;
}
