.category {
  position: relative;
  padding: 5.06667rem 0 4.66667rem;

  &-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
  }

  &-title {
    text-align: center;
    margin-bottom: 2.13333rem;

    & h2 {
        margin: -3px 0 .86667rem;
        font-size: 2rem;
        font-weight: 700;
        color: #272b41;
    }

    & p {
        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #7a82a6;
    }
  }

  @media (max-width: 992px) { padding: 3.06667rem 0 2.66667rem }
}

@media(max-width: 750px) {
  .category-title h2 { font-size: 1.8rem}
  .category-title p { font-size: 1rem }
}

@media(max-width: 550px) { .category-title h2 { font-size: 1.6rem }}

@media(max-width: 330px) {
  .category-title h2 { font-size: 1.2rem }
  .category-title p { font-size: .8rem }
}
