<div class="row flex">
  <div class="col-lg-4 col-sm-6"
      *ngFor="let c of categories | slice:0: isHome ? 6 : categories.length">
    <div class="category-image">
      <figure [routerLink]="'/category/' + c.category">
        <img [src]="c.class | image:'categories'"
             [alt]="c.category"/>
        <figcaption class="overlay-bg flex-box">
          <div class="category-image-content">
              <div class="category-icon">
                <span>
                  <img [src]="c.icon | image:'logos'"
                       alt="Category Logo" loading="lazy"/>
                </span>
              </div>
              <h4>{{c.name}}</h4>
              <span class="category-badge">
                {{(count$ | async)[c.category] || 0}}
                {{'article' | translate}}<span *ngIf="count[c.category] != 1">s</span>
              </span>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="col-lg-12 explore" *ngIf="isHome">
    <button class="btn-purple"
            mat-button
            aria-label="Discover"
            [routerLink]="'/categories'">
      <span>{{'see.all' | translate}} {{categories.length}} +</span>
    </button>
  </div>
</div>
