.category {
  &-image {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 2rem;

    @media(max-width: 550px) {
      margin-bottom: 1rem;
    }

  & figure {
      position: relative;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      overflow: hidden;
      margin: 0 0 1rem;
  }

    &-content {
      border: 0 none;
      background: initial;
      display: block;
      text-align: center;
      cursor: pointer;

      & h4 {
        color: var(--light-color);
        font-weight: 500;
        margin-top: 8px;
        margin-bottom: 12px;
        font-size: 1.2rem;
      }

      & img {
        width: 50px;
      }
    }
  }

  &-icon {
    border: 0 none;
    background: initial;
    display: block;
    text-align: center;

    & mat-icon {
      font-size: 2.2rem;
      color: var(--light-color);
      margin-bottom: .7rem;
      width: auto;
    }
  }

  &-badge {
    transition: all .3s ease;
    color: var(--dark-color-tint);
    background-color: var(--success-color);
    padding: .5rem 1rem;
    -webkit-border-radius: 10rem;
    border-radius: 10rem;
    display: inline-block;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;

    & span { font-size: .9rem; }

    @media(max-width: 400px) {
      font-size: .8rem;
      padding: .5rem 1.2rem;
    }

    @media(min-width: 620px) and (max-width: 800px) {
      font-size: .8rem;
      padding: .5rem 1.2rem;
    }
  }
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

@media(min-width: 800px) {
  .col-lg-4 { max-width: 359px }
}

@media(max-width: 820px) and (min-width: 803px) {
  .col-lg-4 {
    max-width: 340px;
  }
}

.explore {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;

  & button {
    color: var(--light-color);
    font-weight: 700;
    border: 0 none;
    line-height: 3rem;
    position: relative;
    z-index: 1;
    & span { font-size: .9rem }
  }

  @media(max-width: 616px) { margin-top: 10px }
  @media(max-width: 450px) { margin-top: 0 }
}
