<app-page-header title="All the Code"
                 subTitle="Code">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-8 col-md-8" id="code-section">
      <app-code-content [code]="filtered"
                        *ngIf="filtered.length > 0">
      </app-code-content>
      <app-loading *ngIf="!code || filtered.length === 0"></app-loading>
    </div>
    <div class="col-lg-4 col-md-4">
      <app-code-sidebar (tag)="filter($event)"></app-code-sidebar>
    </div>
  </div>

</app-section>
<app-footer></app-footer>
