.swiper-slide {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  @media(max-width: 550px) { margin-top: 0 }
}

h3 { margin-top: 5rem }

.slide {
    text-align: center;
    cursor: pointer;
    @media(max-width: 750px) { margin-top: 1.2rem }
    @media(max-width: 550px) { margin-top: 1rem }

  & p {
    width: 46.66667rem;
    margin: 1.66667rem auto 0;
    font-size: 1.13333rem;
    line-height: 1.93333rem;
    color: var(--p-color);
    @media (max-width: 820px) { width: 90% }
    @media (max-width: 767.98px) { width: 80% }
    @media(max-width: 550px) {
      line-height: 1.63333rem;
      font-size: 1rem;
      width: 100%;
     }
    @media(max-width: 330px) { font-size: .8rem }
  }


  & img {
    display: block;
    width: auto;
    max-width: 50%;
    border-radius: 4px;
    margin: 0 auto 2rem auto;
    @media(max-width: 550px) { max-width: 100%; }
  }

  & h4 {
    margin-bottom: 0;
    margin-top: 0 ;
    font-weight: 700;
    line-height: 1.2;
    color: var(--new-color);
    font-size: 1.2rem;
  }

  & span {
    font-size: .93333rem;
    color: var(--p-color);
    display: block;
    margin-top: 5px;
  }
}
