.mat-expansion-panel-header-description {
  color: #000;
  @media(max-width: 350px) { font-size: .9rem }
}

::ng-deep .mat-expansion-panel {
  padding: 1rem;
  background: transparent;
  padding-left: 0;
}

::ng-deep .mat-expansion-panel-header-description {
  @media(max-width: 450px) { font-size: .9rem }
}

::ng-deep .mat-expansion-panel-spacing {
  padding: 0;
  @media(max-width: 450px) { padding: .5rem 0; }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 1rem 0 8px !important;
  & p {
    color: var(--p-color)!important;
    margin: 5px auto;
    line-height: 1.5rem;
  }
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 5px 0 !important;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  margin-top: 1px;
  padding: 0;
  @media(max-width: 450px) { padding: .5rem 0; }
}

h2 {
  line-height: 1.2;
  font-size: 1.7rem;
  position: relative;
}

h2:before {
  content: "";
  display: block;
  border-bottom: 1px solid #ececec;
  padding-top: 30px;
  margin-bottom: 40px;
  box-sizing: inherit;
}

h2:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 2rem;
  left: 2px;
  bottom: -4px;
  background: var(--primary-color);
  border-radius: 4px;
}

@media(min-width: 1280px) {
  h2 { font-size: 35px }
}

.anchor {
  position: absolute;
  margin-top: -2rem;
  @media(max-width: 550px) { margin-top: 0 }
}


