<app-page-header title="CREATE.ARTICLE"
                 subTitle="START.HERE">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <app-create-intro-mobile></app-create-intro-mobile>
    </div>
  </div>
</app-section>
<app-section>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <app-create-carousel-mobile></app-create-carousel-mobile>
    </div>
  </div>
</app-section>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <app-create-intro-desktop></app-create-intro-desktop>
    </div>
  </div>
</app-section>
<app-section>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <app-create-carousel-desktop></app-create-carousel-desktop>
    </div>
  </div>
</app-section>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <app-create-download></app-create-download>
    </div>
  </div>
</app-section>
