<app-page-header title="CREATE.ARTICLE"
                 subTitle="START.HERE">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <app-create-intro></app-create-intro>
    </div>
  </div>
</app-section>
<app-section>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <app-create-carousel></app-create-carousel>
    </div>
  </div>
</app-section>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <app-create-download></app-create-download>
    </div>
  </div>
</app-section>
