ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

li {
  margin-bottom: .666rem;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  height: 32.5px;

  & mat-icon {
    color: var(--p-color);
    display: inline;
    margin-right: 1.1rem;
    position: relative;
    top: 2px;
    left: -2px;
  }

  &:last-child {
    margin-bottom: 0;
    margin-left: .5rem;
    color: var(--p-color);
  }

  & img {
    border-radius: 25%;
    display: inline-block;
    padding: 4px;
    margin-right: 1rem;
    width: 24px;
  }

  &:hover {
    & span { color: var(--primary-color) }
    & img { filter: brightness(1.1) }
  }
}
