ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

li {
  margin-bottom: .66rem;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  &:last-child { margin-bottom: 0 }
  & mat-icon { margin-right: 10px }
  &:hover span { color: var(--primary-color) }

  & img {
    border-radius: 25%;
    display: inline-block;
    padding: 4px;
    margin-right: 1rem;
    width: 24px;
  }

  &:hover img { filter: brightness(1.1) }

}
