<div *ngIf="show">
  <div class="footer">
    <div class="footer-content">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"
             *ngFor="let l of list">  <!-- FOOTER LIST -->
         <div class="footer-content-column">
           <h2>{{l.title | translate}}</h2>
           <ul>
             <li *ngFor="let i of l.list"
                 [ngClass]="{'twitter': i === 'Twitter',
                             'facebook': i === 'Facebook',
                             'youtube': i === 'Youtube'}">  <!-- SOCIAL -->
               {{i | translate}}
             </li>
           </ul>
         </div>
        </div>

       <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
         <div class="footer-content-column">  <!-- DOWNLOAD -->
           <h2>{{'on.desktop' | translate}}</h2>
           <p>{{'download.app' | translate}}</p>
           <button mat-button
                   class="btn-pink"
                   aria-label="Download"
                   routerLink="/create">
             <mat-icon>laptop_windows</mat-icon>
             Antic's
           </button>
         </div>
       </div>
    </div>
   </div>
   <app-footer-bar></app-footer-bar>  <!-- BOTTOM FOOTER BAR -->
  </div>
