.footer {
  padding-top: 3.36667rem;
  padding-bottom: 1.06666rem;
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @media(max-width: 550px) { padding-top: 2.46667rem }

  &-content {
    text-align: center;
    width: 100%;
    position: relative;
    left: -3px;
    @media(max-width: 550px) { padding-top: .9667rem }

    &-column {
      margin-bottom: 2.36667rem;

      & h2 {
        font-size: 1.2rem;
        margin: 0 0 2rem 0;
      }

      & ul {
        margin: 0;
        padding-left: 0;
        list-style: none;

        & li {
          margin-bottom: .5rem;
          font-size: .95rem;
          color: var(--p-color);

          &.twitter { color: #00acee }
          &.facebook { color: #3b5998 }
          &.youtube { color: #c4302b }
          &.twitter, &.facebook, &.youtube { font-weight: bold }

          &:hover {
            cursor: pointer;
            color: var(--primary-color);
          }
         }
      }

      & p {
        color: var(--p-color);
        margin-top: -2px;
      }

      & button {
        margin-top: 4px;

        & mat-icon {
          position: relative;
          right: 4px;
          top: -2px;
        }
      }
    }
  }
}

.col-lg-3 { box-sizing: border-box }
@media(max-width: 475px) { .col-xs-6 { width: 100% } }
