<div class="footer">
 <div class="footer-content">
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <div class="footer-content-column">
        <h2>Company Info</h2>
        <ul>
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Support</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <div class="footer-content-column">
        <h2>Helpful Links</h2>
        <ul>
          <li>Join Direo</li>
          <li>How it Work</li>
          <li>Advantages</li>
          <li>Packages</li>
        </ul>
      </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <div class="footer-content-column">
        <h2>Connect with Us</h2>
        <ul>
          <li>Contact Support</li>
          <li class="twitter">Twitter</li>
          <li class="facebook">Facebook</li>
          <li class="youtube">Youtube</li>
        </ul>
      </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <div class="footer-content-column">
        <h2>Direo on Mobile</h2>
        <p>
          Download the app today,
          find your events anytime
        </p>
        <button mat-button class="btn-pink">
          <mat-icon>phone_android</mat-icon>
          Google Play
        </button>
      </div>
    </div>
 </div>
</div>
<app-footer-bar></app-footer-bar>
