.article {
  &-wrapper {
    margin-bottom: 2.5rem;
    &:last-child { margin-bottom: 2rem }
   }

  &-card {
    -webkit-border-radius: .26667rem;
    border-radius: .26667rem;
    overflow: hidden;
    border: 0 none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    &-shadow {
      -webkit-box-shadow: 0 0.33333rem 1rem rgba(39,43,65,.06);
      box-shadow: 0 0.33333rem 1rem rgba(39,43,65,.06);
    }

    & figure {
      margin: 0;
      & img {
        width: 100%;
        vertical-align: middle;
        border-style: none;
        &:hover { cursor: pointer }
      }
    }

    &-info {
      margin-bottom: 1.33333rem;
      border-bottom: 1px solid #e3e6ef;
    }

    &-body {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 2rem 0;

      & h3 {
        margin-bottom: 1rem;
        margin-top: 0;
        font-size: 1.66rem;
        color: var(--primary-color);
        @media(max-width: 650px) { font-size: 1.33rem }

        &:hover {
          color: #903af9;
          cursor: pointer;
        }
      }

      & ul {
        padding-left: 0;
        list-style: none;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: var(--big-padding);
      }

      & li {
        font-size: .93333rem;
        color: var(--p-color);
        margin-right: 1rem;
      }

      & p {
        margin: 0;
        line-height: 1.8rem;
        color: var(--p-color);
      }
    }

    &-tags { margin-bottom: 1.85333rem }
  }
}
