<div class="article-wrapper">
 <div class="article-card">
   <figure (click)="goToArticle('custom-article')">
     <img src="assets/img/b1.jpg"/>
   </figure>
   <div class="article-card-body">
      <h3>How to run successful business metting</h3>
      <div class="article-card-info">
          <ul>
            <li>Aug 12, 2019</li>
            <li>by Sergi</li>
            <li>6 Comments</li>
          </ul>
          <div class="article-card-tags">
            <span class="category-tag">Code</span>
            <span class="category-tag">Business</span>
            <span class="category-tag">Meeting</span>
          </div>
      </div>
       <ng-content></ng-content>
    </div>
 </div>
</div>
