/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/main.scss";
@import '~swiper/dist/css/swiper.min.css';
@import '../node_modules/highlight.js/styles/atom-one-light.css';

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: var(--bg-color);
}

* {
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
}

.angular {
  color: red;
  font-weight: bold;
}

.ionic {
  color: #1b6dda;
  font-weight: bold;
}

.react {
  color: rgb(18, 136, 233);
  font-weight: bold;
}

.vue {
  color: rgb(3, 97, 3);
  font-weight: bold;
}
