// Dropdown Rotation

@mixin rotation($deg) {
  -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Safari 3-8 */
  transform: rotate($deg);
  transition: all .3s;
}

@mixin button-animated($color1, $color2, $color3) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, $color1, $color2, $color3, $color1);
  background-size: 400%;
  position: relative;
  color: #fff;

  &:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background-image: linear-gradient(90deg, $color1, $color2, $color3, $color1);
    background-size: 400%;
    opacity: 0;
    transition: .5s;
  }

  &:hover, :hover:before { animation: animate 8s linear infinite }

  @keyframes animate {
    0% { background-position: 0% }
    100% { background-position: 400% }
  }
}

// Badges
@mixin badge($color) {
  line-height: 1.6rem;
  padding: 0 .66667rem;
  color: #fff;
  display: block;
  font-size: .8rem;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
  background: $color;
  &:hover { cursor: pointer }
}

@mixin badge-category($color, $bg, $margin, $hover) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: $margin;

  & mat-icon {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 2.26667rem;
    height: 2.26667rem;
    background: $bg;
    font-size: 1.2rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 20rem;
    border-radius: 20rem;
    margin-right: .4rem;
    color: $color;
    padding-bottom: 1px;

    &:hover {
      color: $hover;
      cursor: pointer;
     }
  }

  & span {
    padding-left: 10px;
    color: #5d658c;
    font-size: .93333rem;
    @media(max-width: 650px) and (min-width: 620px) { font-size: .8rem }
    @media(max-width: 325px) { font-size: .8rem }
  }
}

@mixin meta-data($color, $line) {
  color: var(--light-color);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 2rem;
  padding: 0 .35rem;
  font-weight: 700;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0 .46667rem .46667rem 0;
  font-size: .9rem;
  padding-left: 10px;
  background: $color;
  line-height: $line;
  &:hover { cursor: pointer }
  & mat-icon { font-size: .86667rem }

  &-rating mat-icon {
    position: relative;
    left: 5px;
    top: 6px;
  }

  &-email mat-icon {
    font-size: 1.2rem;
    position: relative;
    left: 7px;
    top: 2.5px;
    padding-right: 8px;
  }

  &-note mat-icon {
    font-size: 1.05rem;
    position: relative;
    left: 7px;
    top: 5px;
    margin-right: 5px;
  }

  &-like mat-icon {
    font-size: 1.05rem;
    position: relative;
    top: 5px;
  }
}
