:root {
  // COLORS
  --primary-color: #E51284;
  --color-light: #fefefe;

  // CONTENT
  --navbar-height: 75px;
  --navbar-menu-dropdown: 80px;
  --navbar-logo-width: 150px;

  // FONTS
  --primary-font: Muli, sans-serif;
}

