:root {
  // COLORS
  --primary-color: #f5548e;
  --light-color: #fefefe;
  --bg-color: #fff;
  --border-color: rgba(255, 255, 255, .15);
  --title-color: #272b41;
  --p-color: #7a82a6;
  --success-color: #32cc6f;
  --breadcrumb-color: #c9cfe4;

  // CONTENT
  --navbar-height: 75px;
  --navbar-height-mobile: 65px;
  --navbar-menu-dropdown: 22px;
  --navbar-logo-width: 120px;
  --small-padding: 16px;
  --big-padding: 24px;
  --menu-width: 200px;
  --container-width: 1140px;
  --footer-bar-height: 60px;
  --app-min-width: 292px;  // 300px
  --app-min-height: 600px;
  --page-header-height: 280px;
  --category-header-height: 369px;

  // FONTS
  --primary-font: Muli, sans-serif;
  --primary-font-size: 16px;

  // SCROLLBAR
  ::-webkit-scrollbar { width: 8px }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 3px var(--primary-color);
    -webkit-box-shadow: inset 0 0 3px var(--primary-color);
    border-radius: 5px;
  }
}

