:root {
  // COLORS
  --primary-color: #E51284;
  --color-light: #fefefe;

  // CONTENT
  --navbar-height: 75px;
  --navbar-height-mobile: 65px;
  --navbar-menu-dropdown: 22px;
  --navbar-logo-width: 120px;

  // FONTS
  --primary-font: Muli, sans-serif;

  ::-webkit-scrollbar {
    width: 6px; }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 3px var(--primary-color);
    -webkit-box-shadow: inset 0 0 3px var(--primary-color);
    border-radius: 5px;
  }
}

