<div class="menu">
  <ul>
    <li *ngFor="let i of items"
        [routerLink]="i.link"
        routerLinkActive="active"
        (click)="closeDrawer()">
        <mat-icon>{{i.icon}}</mat-icon>
         {{i.name | translate}}
    </li>
    <div class="division"><hr></div>
    <li *ngFor="let m of menu"
        [routerLink]="m.link"
        routerLinkActive="active"
        (click)="closeDrawer()">
        <mat-icon>{{m.icon}}</mat-icon>
         {{m.name | translate}}
    </li>
    <li routerLink="create"
        class="create"
        routerLinkActive="active"
        (click)="closeDrawer()">
        <mat-icon>edit</mat-icon>
         {{'CREATE' | translate}}
    </li>
  </ul>
</div>

