.menu {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: var(--menu-width);
  min-height: 100vh;
  text-align: center;
  z-index: 550;
  border: 0;
  top: 0;
  left: 0;
  background: var(--bg-color);
  margin-left: 0;
  border-radius: 0;
  background-repeat: repeat;
}

.backdrop-menu {
  position: fixed;
  top: 0;
  left:  0;
  z-index: 500;
  background:  rgba(0, 0, 0, .5);
  width:  100vw;
  height: 100%;
}
