.button-prev, .button-next {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
}

.button-prev,
.button-next,
.button-next-mobile,
.button-prev-mobile {
  width: 2.8666rem;
  height: 2.8666rem;
  background: rgba(190, 197, 228, 0.55);
  -webkit-box-shadow: 0 5px 1rem rgba(146,153,184,.15);
  box-shadow: 0 5px 1rem rgba(146,153,184,.15);
  -webkit-border-radius: 20rem;
  border-radius: 20rem;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  outline: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;

  &.disabled {
    background: rgba(190, 197, 228, 0.25);
    -webkit-box-shadow: 2px 5px 1.6666rem rgba(146,153,184,.15);
    box-shadow: 2px 5px 1.6666rem rgba(146,153,184,.15);
    pointer-events: none;

    & mat-icon { color: grey }
  }
}

.button-prev:hover,
.button-next:hover,
.button-next-mobile:hover,
.button-prev-mobile:hover {
  cursor: pointer;
  background: rgba(190, 197, 228, 0.65);
  -webkit-box-shadow: 2px 5px 1.6666rem rgba(146,153,184,.15);
  box-shadow: 2px 5px 1.6666rem rgba(146,153,184,.15);

  & mat-icon {
    color: #f5548e;
  }
}

.button-prev:hover,
.button-prev-mobile:hover {
  & mat-icon { margin-right: 2px }
}

.button-next:hover,
.button-next-mobile:hover {
  & mat-icon { margin-left: 2px }
}

.button-next-mobile, .button-prev-mobile {
  display: inline-block;
  margin: 30px 20px;
}

.button-prev {
  left: 40px;
  right: auto;
}

.button-next {
  right: 40px;
  left: auto;
}

.swiper-navigation-mobile {
  text-align: center;
}

@media(max-width: 850px) {
  .button-next { right: 20px }
  .button-prev { left: 20px }
}

@media(max-width: 700px) {
  .button-next { right: 50px }
  .button-prev { left: 50px }
}

@media(max-width: 650px) {
  .button-next { right: 30px }
  .button-prev { left: 30px }
}

@media(min-width: 768px) {
  .swiper-navigation {
    display: block;
  }

  .swiper-navigation-mobile {
    display: none;
  }
}

@media(max-width: 768px) {
  .swiper-navigation {
    display: none;
  }

  .swiper-navigation-mobile {
    display: flex;
    justify-content: center;

    & mat-icon {
      position: relative;
      top: 10px;
    }
  }
}


