.search-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: var(--bg-color);
  padding: 1rem 2.8rem;
  -webkit-border-radius: .1875rem;
  border-radius: .1875rem;
  color: black;

  @media(max-width: 550px) {
    padding: 1rem 2rem;
  }
}

::ng-deep .mat-form-field-underline {
    display: none;
}

form {
  width: 100%;
  max-width: 960px;

  & button {
    padding: 5px 35px;
    left: 8px;
  }
}

mat-form-field {
  padding-right: 30px;
  transition: all .5s;
  @media(min-width: 960px) { padding-right: 45px }
  @media(max-width: 756px) { padding-right: 25px }
}

.default {
  top: 0px;
}

.category {
  top: 1px;
}

@media (max-width: 929px) {
  mat-form-field:last-of-type {
    padding-right: 0;
  }

  form button {
    display: block;
    width: 100%;
    left: 0;
  }

  mat-form-field-wrapper {
    padding-bottom: .4rem !important;
  }

  button {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 750px) {
  mat-form-field {
    display: block;
    padding-right: 0;
  }
}
