<div class="search-header">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field class="default" color="accent">  <!-- VALUE -->
        <mat-label>{{'SEARCH.FOR' | translate}}</mat-label>
        <input matInput
               formControlName="value"
               autocomplete="off">
      </mat-form-field>
      <mat-form-field class="select" color="accent">  <!-- CATEGORY -->
        <mat-label>{{'CHOOSE.CATEGORY' | translate}}</mat-label>
        <mat-select formControlName="category" aria-label="Select Category">
          <mat-option *ngFor="let cat of categories"
                      [value]="cat.category"
                      role="option"
                      class="category">
            <img [src]="cat.icon | image:'logos'"
                 [alt]="cat.category"
                 class="logo" loading="lazy"/>
             {{cat.name | translate}}
          </mat-option>
          <mat-option value=""
                      role="option"
                      class="all">{{'ANY' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="select" color="accent">  <!-- TAGS -->
        <mat-label>{{'PICK.THREAD' | translate}}</mat-label>
        <mat-select #max
                    formControlName="tags"
                    aria-label="Select a Tag"
                    multiple>
          <mat-option *ngFor="let tag of tags"
                       [value]="tag"
                       role="option"
                       class="p-left"
                       #option
                       [disabled]="max?.selected.length >= 2 &&
                                  !option.selected">
            {{tag | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit"
              class="btn-purple"
              aria-label="Search"
              mat-button>
        {{'SEARCH' | translate}}
      </button>
    </div>
  </form>
</div>
