<div class="search-header">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field class="default" color="accent">  <!-- VALUE -->
        <mat-label>{{'search.for' | translate}}</mat-label>
        <input matInput
               formControlName="value">
      </mat-form-field>
      <mat-form-field class="select" color="accent">  <!-- CATEGORY -->
        <mat-label>{{'choose.category' | translate}}</mat-label>
        <mat-select formControlName="category" aria-label="Select Category">
          <mat-option *ngFor="let cat of categories"
                      [value]="cat.category"
                      role="option"
                      class="category">
            <img [src]="cat.icon | image:'logos'"
                 [alt]="cat.category"
                 class="logo" loading="lazy"/>
             {{cat.name | translate}}
          </mat-option>
          <mat-option value=""
                      role="option"
                      class="all">{{'all.a' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="select" color="accent">  <!-- TAGS -->
        <mat-label>{{'pick.thread' | translate}}</mat-label>
        <mat-select formControlName="tag" aria-label="Select a Tag">
          <mat-option *ngFor="let tag of tags"
                       [value]="tag"
                       role="option">
            {{tag | translate}}
          </mat-option>
          <mat-option value="" role="option">{{'all' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit"
              class="btn-purple"
              aria-label="Search"
              mat-button>
        {{'search' | translate}}
      </button>
    </div>
  </form>
</div>
