.search-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: var(--bg-color);
  padding: 1rem 2.8rem;
  -webkit-border-radius: .1875rem;
  border-radius: .1875rem;
  color: black;

  @media(max-width: 750px) { padding-bottom: 1.5rem }
  @media(max-width: 550px) {
    padding: 1rem 2.5rem;
    padding-bottom: 1.5rem
  }
}

form {
  width: 100%;
  max-width: 960px;

  & button {
    padding: 5px 35px;
    left: 8px;
    top: 3px;
    margin-right: 7px;
    @media(max-width: 750px) { top: 6px }
  }
}

mat-form-field {
  padding-right: 30px;
  transition: all .5s;
  @media(min-width: 960px) { padding-right: 45px }
  @media(max-width: 756px) { padding-right: 25px }
  @media (max-width: 750px) {
    display: block;
    padding-right: 0;
  }
}

// MATERIAL SELECT CORRECTION
.default { top: 0px }
.select { top: -1px }

@media (max-width: 929px) {
  mat-form-field:last-of-type { padding-right: 0 }
  mat-form-field-wrapper { padding-bottom: .4rem !important }

  form button {
    display: block;
    width: 100%;
    left: 0;
  }

  button {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}


