<app-content-box title="actions"
                 icon="check">
  <div class="icons">
    <mat-icon [matTooltip]="'public.profile' | translate"
              matTooltipPosition="above"
              [routerLink]="'/profile/' + user.name">assignment_ind
    </mat-icon>
    <mat-icon [matTooltip]="'edit.profile' | translate"
              matTooltipPosition="above"
              (click)="openModal()">edit
    </mat-icon>
    <mat-icon [matTooltip]="'log.out' | translate"
              matTooltipPosition="above"
              (click)="logOut()">exit_to_app
    </mat-icon>
    <mat-icon [matTooltip]="'delete.acc' | translate"
              matTooltipPosition="above"
              (click)="delete()">delete_outline
    </mat-icon>
  </div>
</app-content-box>
