<app-content-box title="actions" icon="check">
  <div class="buttons">
    <button class="btn-normal-blue"
            [routerLink]="'/profile/' + user.name"
            aria-label="Profile"
            mat-button>{{'public.profile' | translate}}
    </button>
    <button class="btn-normal-grey"
            (click)="logOut()"
            aria-label="Sign Out"
            mat-button>{{'log.out' | translate}}
    </button>
    <button class="btn-normal-danger"
          (click)="delete()"
          aria-label="Delete"
          mat-button>{{'delete.acc' | translate}}
    </button>
    <button class="btn-normal-danger"
          (click)="openModal()"
          aria-label="Delete"
          mat-button>{{'delete.acc' | translate}}
    </button>
  </div>
</app-content-box>
