.icons {
  display: flex;
  justify-content: center;
  align-items: center;

  & mat-icon {
    font-size: 1.5rem;
    width: 37px;
    height: 37px;
    box-sizing: border-box;
    border-radius: 20rem;
    color: var(--new-color);
    background: var(--skeleton-color-tint);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    user-select: none;
    outline: none;
    margin: 0 .6rem;

    @media(max-width: 1075px) and (min-width: 993px) {
      width: 35px;
      height: 35px;
      padding: .9rem;
      margin: 0 .5rem;
    }

    @media(max-width: 350px) {
      width: 35px;
      height: 35px;
      padding: .9rem;
      margin: 0 .5rem;
    }

    &:hover {
      cursor: pointer;
      color: var(--primary-color);
      transition: all .3s ease;
      box-shadow: 0 0 6px rgba(0, 0, 0, .8);
    }

    &.close { color: var(--angular-color) }
  }

  & span {
    margin-right: .8rem;
    font-size: .8rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80px;
    display: none;

    @media(max-width: 993px) and (min-width: 725px) {display: inline }
  }
}
