<div class="card animated fadeIn">
    <article class="card-content">
      <figure>  <!-- CARD IMAGE -->
        <img alt="Skeleton" loading="lazy" src="assets/img/skeleton.png"/>
      </figure>
      <div class="card-info">  <!-- CARD TITLE -->
        <div class="card-info-content">
          <h4></h4>
          <div class="card-info-meta">
            <span></span>
            <span></span>
          </div>
          <div class="card-info-data">  <!-- CARD INFO -->
            <ul>
              <li><p>
                <mat-icon>place</mat-icon>
                <span></span>
              </p></li>
              <li><p>
                <mat-icon>bar_chart</mat-icon>
                <span></span>
              </p></li>
              <li><p>
                <mat-icon>date_range</mat-icon>
                <span></span>
              </p></li>
            </ul>
          </div>
        </div>
        <div class="card-bottom">  <!-- CARD BOTTOM -->
          <div class="card-bottom-left">
            <span></span>
          </div>
          <div class="card-bottom-right">
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </div>
