h4 {
  font-size: 1.3rem;
  margin-top: 2rem;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 2rem;
    left: 2px;
    bottom: -4px;
    background: var(--primary-color);
    border-radius: 4px;
  }
}

.fireworks {
  width: 100%;
  min-height: 200px;
  background-image: url('../../../../../assets/img/fireworks.gif');
  background-size: 100px 100px;
  background-repeat: round;
}
