<app-content-box title="Informacíon"
                 icon="event_note">
    <div class="info-box flex-box">
      <div class="info-box-avatar">
        <img [src]="category.icon | image: 'logos'"/>
      </div>
      <div class="info-box-data">
          <h4 class="flex-box">
          {{category.name}}
          <span class="verified"></span>
        </h4>
        <span class="info-box-time">
          Posted 6 days ago
        </span>
      </div>
    </div>
    <div class="info-box-list">  <!-- ICON LIST -->
      <ul>
        <li>
          <mat-icon>school</mat-icon>
          <span>{{category.info.creator}}</span>
        </li>
        <li>
          <mat-icon>public</mat-icon>
          <span>{{category.info.where}}</span>
        </li>
        <li>
          <mat-icon>link</mat-icon>
          <a [href]="category.info.site" target="_NEW">
            <span>{{category.info.site}}</span>
          </a>
        </li>
        <li>
          <mat-icon>schedule</mat-icon>
          <span>Creado en {{category.info.age}}</span>
        </li>
      </ul>
    </div>
</app-content-box>
