<app-content-box title="Information"
                  icon="help_outline">
    <div class="info-box flex-box">
      <div class="info-box-avatar">
        <img src="assets/img/avatar.jpg"/>
      </div>
      <div class="info-box-data">
        <h4 class="flex-box">
          Zephy Real State
          <span class="verified"></span>
        </h4>
        <span class="info-box-time">
          Posted 6 days ago
        </span>
      </div>
    </div>
    <div class="info-box-list">
      <ul>
        <li *ngFor="let i of list">
          <mat-icon>{{i.picture}}</mat-icon>
          <span>{{i.name}}</span>
        </li>
      </ul>
    </div>
</app-content-box>
