.info {
  &-box {
    margin: 0 .3rem 1.5333rem auto;

    &-avatar {
      margin-right: 1rem;

      & img {
        vertical-align: middle;
        border-style: none;
        width: 40px;
        height: 40px;
        padding-right: 5px;
        margin-left: -6px;
      }
    }

    &-data {
      & h4 {
        color: var(--title-color);
        margin: 0;
        @media(max-width: 1091px) { font-size: .9rem }
        @media(max-width: 1030px) { font-size: .83337rem }
        @media(max-width: 992px) { font-size: 1rem }
        @media(max-width: 380px) { font-size: .9rem }
        @media(max-width: 350px) { font-size: .83337rem }
       }
    }

    &-time {
      display: block;
      margin-top: 0;
      font-size: .93333rem;
      color: var(--success-color);
      @media(max-width: 350px) { font-size: .83337rem }
    }

    &-list {
      & li {
        color: var(--p-color);
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: flex;
        align-items: center;
        margin-bottom: .66667rem;
        position: relative;
        left: -5px;
        &:last-child { margin-bottom: 0 }

        & span {
          @media(max-width: 1160px) { font-size: .9rem }
          @media(max-width: 1091px) { font-size: .8rem }
          @media(max-width: 1030px) { font-size: .73337rem }
          @media(max-width: 992px) { font-size: 1rem }
          @media(max-width: 802px) and (min-width: 380px) { font-size: .9rem }
          @media(max-width: 350px) { font-size: .8rem !important }
        }

        & mat-icon {
          width: 2.33333rem;
          height: 2.33333rem;
          -webkit-border-radius: 20rem;
          border-radius: 20rem;
          background: #f1f3f8;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          margin-right: 1rem;
          position: relative;
          top: 1px;
          color: var(--primary-color);
          &:hover { cursor: pointer }
        }
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex-box {
  justify-content: initial !important;
}
