<app-content-box title="info"
                 icon="event_note"
                 *ngIf="category">
    <div class="info-box flex-box">
      <div class="info-box-avatar">
        <img [src]="category.icon | image: 'logos'"
             [alt]="category.name" loading="lazy"/>
      </div>
      <div class="info-box-data">
          <h4 class="flex-box">
          {{category.name}}
          <span class="verified"></span>
        </h4>
        <span class="info-box-time" *ngIf="updated">
          {{'updated' | translate}} {{updated}}
        </span>
        <span class="info-box-time" *ngIf="!updated">
          {{'no.updated' | translate}}
        </span>
      </div>
    </div>
    <div class="info-box-list">  <!-- ICON LIST -->
      <ul>
        <li>
          <mat-icon>school</mat-icon>
          <span>{{category.info.creator}}</span>
        </li>
        <li>
          <mat-icon>public</mat-icon>
          <span>{{category.info.where}}</span>
        </li>
        <li>
          <mat-icon>link</mat-icon>
          <a [href]="category.info.site" target="_NEW">
            <span>{{category.info.site}}</span>
          </a>
        </li>
        <li>
          <mat-icon>schedule</mat-icon>
          <span>{{'created.on' | translate}} {{category.info.age}}</span>
        </li>
      </ul>
    </div>
</app-content-box>

<app-content-box title="info"
                 icon="event_note"
                 *ngIf="!category">
    <div class="info-box flex-box">
      <div class="info-box-avatar">
        <img src="assets/img/no-image.png"
             alt="no-image" loading="lazy"/>
      </div>
      <div class="info-box-data skeleton">
        <h4 class="flex-box">
          <span class="verified"></span>
        </h4>
        <span class="info-box-time">
        </span>
      </div>
    </div>
    <div class="info-box-list skeleton">  <!-- ICON LIST -->
    <ul>
      <li *ngFor="let l of ['school', 'public', 'link', 'schedule']">
        <mat-icon>{{l}}</mat-icon>
        <span></span>
      </li>
    </ul>
  </div>
</app-content-box>
