<app-page-header title="know.me"
                 subTitle="about.me">
</app-page-header>
<app-section input="#f5f7fc">
  <div class="row">
    <div class="col-lg-12 about-intro">
      <app-about-intro></app-about-intro>
      <app-about-goal></app-about-goal>
      <app-about-skills></app-about-skills>
      <app-about-work></app-about-work>
      <app-time-line></app-time-line>
      <app-about-contact></app-about-contact>
    </div>
  </div>
</app-section>

<app-contact-me></app-contact-me>
