<div class="wrapper">
  <app-inbox-search (new)="new()"
                    (reload)="reload()"
                    (search)="search($event)">
  </app-inbox-search>
  <div class="wrapper-card">
    <ng-container *ngIf="filtered.length > 0; else noMessages">
      <app-inbox-card *ngFor="let m of filtered"
                        [inbox]="m.last"
                        (click)="set(m)"
                        [selected]="selected">
      </app-inbox-card>
    </ng-container>
  </div>
</div>

<ng-template #noMessages>
  <div class="empty">
    <app-spinner></app-spinner>
  </div>
</ng-template>
