<div class="about-me">
  <h3 id="contact-title" [innerHTML]="'IN.TOUCH' | translate"></h3> <!-- CONTACT -->
  <p>{{'LETS.TALK' | translate}}</p>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 intro">
    <p [innerHTML]="'ME.LIKE' | translate"></p>
    <div class="social">
      <h4>{{'SOCIAL.MEDIA' | translate}}</h4>
      <ul>
        <li *ngFor="let s of mySocial">
          <a [href]="s.link" target="NEW">
            {{s.name}}
          </a>
          <a class="default" [href]="s.link" target="NEW">
            <i [class]="s.icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <form [formGroup]="contactForm" #f="ngForm">
      <mat-form-field color="accent" appearance="outline">  <!-- NAME -->
        <mat-label>{{'NAME' | translate}}</mat-label>
        <input matInput
               formControlName="name"
               autocomplete="off">
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">  <!-- EMAIL -->
        <mat-label>{{'EMAIL' | translate}}</mat-label>
        <input matInput
               formControlName="email"
               autocomplete="off">
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">  <!-- MESSAGE -->
        <mat-label>{{'MESSAGE' | translate}}</mat-label>
        <textarea matInput
                  formControlName="text"
                  autocomplete="off">
        </textarea>
      </mat-form-field>
      <button mat-button
              [disabled]="contactForm.invalid"
              class="btn-pink"
              (click)="onSubmit()"
              type="submit">{{'SEND.MESSAGE' | translate}}
      </button>
    </form>
  </div>
</div>
