<div class="row">
  <div class="col-lg-6 col-md-6 intro">
    <p>¿Te gusta lo que ves? ¿Crees que puedo serte útil en algún proyecto? He creado este sitio con pasión
    y es sólo un ejemplo de lo que puedo hacer. Aunque mi especialidad es
    <span class="angular">Angular</span>/<span class="ionic">Ionic</span>,
    estoy abierto a todo tipo de tecnologías relacionadas con el desarrollo web moderno.<br>
    Si estás interesado, puedes enviarme un mensaje y contarme tu historia y por qué quieres que esté en ella,
    seguramente llegaremos a un acuerdo.<br></p>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="social">
      <h4>Redes Sociales</h4>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/sergio-martinez-9b933a13a/" target="NEW">
            Linkedin
          </a>
          <a class="default" href="https://www.linkedin.com/in/sergio-martinez-9b933a13a/" target="NEW">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/snakone" target="NEW">
            Github
          </a>
          <a class="default" href="https://github.com/snakone" target="NEW">
            <i class="fa fa-github-square"></i>
          </a>
        </li>
      </ul>
      <div class="input">
        <a href="mailto:sergio.martinez87.web@gmail.com">
            <button mat-button class="btn-pink">Enviar Mensaje</button>
        </a>
      </div>
    </div>
  </div>
</div>
