<div class="about-me">
  <h3 id="contact-title" [innerHTML]="'in.touch' | translate"></h3> <!-- CONTACT -->
  <p>{{'lets.talk' | translate}}</p>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 intro">
    <p [innerHTML]="'me.like.see' | translate"></p>
    <div class="social">
      <h4>{{'social.media' | translate}}</h4>
      <ul>
        <li *ngFor="let s of mySocial">
          <a [href]="s.link" target="NEW">
            {{s.name}}
          </a>
          <a class="default" [href]="s.link" target="NEW">
            <i [class]="s.icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <form [formGroup]="contactForm" #f="ngForm">
      <mat-form-field color="accent" appearance="outline">  <!-- NAME -->
        <mat-label>{{'name' | translate}}</mat-label>
        <input matInput
               formControlName="name">
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">  <!-- EMAIL -->
        <mat-label>{{'email' | translate}}</mat-label>
        <input matInput
               formControlName="email">
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">  <!-- MESSAGE -->
        <mat-label>{{'message' | translate}}</mat-label>
        <textarea matInput
                  formControlName="text">
        </textarea>
      </mat-form-field>
      <button mat-button
              [disabled]="contactForm.invalid"
              class="btn-pink"
              (click)="onSubmit()"
              type="submit">{{'send.message' | translate}}
      </button>
    </form>
  </div>
</div>
