* { box-sizing: border-box }

.row {
  display: flex;
  flex-wrap: wrap;
 }

h3 { margin-top: 0 !important }

.col-lg-6 {
  max-width: 576px;

  @media(max-width: 550px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

ul {
  margin-top: 0;
  margin-left: 1rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 550px) {
  .col-lg-6 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media(max-width: 992px) {
  ul {
    margin-top: 1rem;
    margin-left: 0;
  }

  .col-lg-6 {
    max-width: 100% !important;
    width: 100%;
  }

  .right { justify-content: flex-start }
}

