<div class="row">
  <div class="col-lg-6 col-md-6 intro">
    <p>
      Presentamos Antic's Code Desktop un programa de <strong>escritorio</strong>
      con el cual serás capaz de crear contenido para este mismo portal.
    </p>
    <p>
      Es más fácil de lo que crees, para ello sigue estos sencillos pasos:
    </p>

    <ul class="none">
      <li>Descarga la aplicación para tu plataforma</li>
      <li>Ingresa con tu misma cuenta de Antic's Code</li>
      <li>Entra en la sección de <strong>Crear</strong>, icono de lápiz verde</li>
      <li>Sigue las instrucciones</li>
      <li>Una vez aprobado, tu Artículo estará en vivo</li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 image">
    <img src="assets/img/desktop.png" alt="mockup"/>
  </div>
</div>
